{% extends "base.html" %}
{% set active_page = 'scrutiny' %}
{% block css_sheets %}{{ super() }}
            <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
            thead{
                border-collapse: collapse;
                text-align:center;
            }
            </style>
{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Banking <span class="semi-bold">Sheet :</span></h3>
            <h3 class="pull-right"><a href="{{ url_for("organisation_views.banking_page_print", app_id=app.application_id) }}" target="_blank"><span class="semi-bold"><i class="fa fa-print fa-2x"></i></span></a></h3>
        </div>
    </div>
   <div class="grid simple">
       <div class="grid-body">
           <div>
               <h5 class="text-center">BANKING/LOANS</h5>
           </div>
          <table class="table table-bordered">
                 <tbody>
                    <tr >
                        <th scope="row">BANK NAME</th>
                        <td colspan="3"></td>
                        <td colspan="6" rowspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">ACCOUNT NO</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">TYPE OF A/C</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr style="height:20px;">
                        <th style="text-align:center;" scope="row">MONTH/BALANCE</th>
                        <td style="text-align:center;" >10</td>
                        <td style="text-align:center;">20</td>
                        <td style="text-align:center;">30</td>
                        <td rowspan="2"></td>
                        <td style="text-align:center;">CREDITS</td>
                        <td colspan="2" rowspan="2"></td>
                        <td style="text-align:center;">INWARD BOUNCE</td>
                        <td rowspan="6"></td>

                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;">MONTH 1</th>
                         <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;" >MONTH 2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB1</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB2</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="text-align:center;">MONTH 6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                         <td>0</td>
                    </tr>
                    <tr>
                     <th height="20" scope="row" colspan="10"></th>
                    </tr>
                     <tr >
                        <th scope="row">BANK NAME</th>
                        <td colspan="3"></td>
                        <td colspan="6" rowspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">ACCOUNT NO</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">TYPE OF A/C</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr style="height:20px;">
                        <th style="text-align:center;" scope="row">MONTH/BALANCE</th>
                        <td style="text-align:center;" >10</td>
                        <td style="text-align:center;">20</td>
                        <td style="text-align:center;">30</td>
                        <td rowspan="2"></td>
                        <td style="text-align:center;">CREDITS</td>
                        <td colspan="2" rowspan="2"></td>
                        <td style="text-align:center;">INWARD BOUNCE</td>
                        <td rowspan="6"></td>

                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;">MONTH 1</th>
                         <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;" >MONTH 2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB1</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB2</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="text-align:center;">MONTH 6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                         <td>0</td>
                    </tr>
                    <tr>
                     <th height="20" scope="row" colspan="10"></th>
                    </tr>
                     <tr >
                        <th scope="row">BANK NAME</th>
                        <td colspan="3"></td>
                        <td colspan="6" rowspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">ACCOUNT NO</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row">TYPE OF A/C</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr style="height:20px;">
                        <th style="text-align:center;" scope="row">MONTH/BALANCE</th>
                        <td style="text-align:center;" >10</td>
                        <td style="text-align:center;">20</td>
                        <td style="text-align:center;">30</td>
                        <td rowspan="2"></td>
                        <td style="text-align:center;">CREDITS</td>
                        <td colspan="2" rowspan="2"></td>
                        <td style="text-align:center;">INWARD BOUNCE</td>
                        <td rowspan="6"></td>

                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;">MONTH 1</th>
                         <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:5%;text-align:center;" >MONTH 2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB1</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th style="width:10%;text-align:center;">MONTH 5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center;">AQB2</td>
                        <td></td>
                        <td style="text-align:center;">AQC1</td>
                        <td style="text-align:center;">TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th style="text-align:center;">MONTH 6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                         <td>0</td>
                    </tr>
                    <tr>
                     <th height="20" scope="row" colspan="10"></th>
                    </tr>
                    <tr>
                     <th scope="row" colspan="10" style="text-align:center;">ACTIVE LOANS</th>
                    </tr>
                    <tr style="text-align:center;">
                        <th style="text-align:center;" scope="row">SL NO</th>
                        <td>BANK/FI- </td>
                        <td>TYPE OF LOAN</td>
                        <td>AMOUNT</td>
                        <td>TENURE</td>
                        <td>PRINCIPAL OUTSTANDING</td>
                        <td>EMI PAID</td>
                        <td>BOUNCE IN LAST 3 MONTHS</td>
                        <td>TOTAL BOUNCES</td>
                        <td>LOAN NO</td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="text-align:center;" scope="row">6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                     <th scope="row" colspan="10" height="20"></th>
                    </tr>
                    <tr>
                     <th style="text-align:center;" scope="row" colspan="10" height="20">CLOSED LOANS</th>
                    </tr>
                    <tr style="text-align:center;">
                        <th style="width:10%;text-align:center;" >SL NO</th>
                        <td>BANK/FI- </td>
                        <td>TYPE OF LOAN</td>
                        <td>AMOUNT</td>
                        <td>TENURE</td>
                        <td>BOUNCE IN LAST 3 MONTHS</td>
                        <td>TOTAL BOUNCES</td>
                        <td>LOAN NO</td>
                         <td colspan="2" rowspan="7"></td>
                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;">1</th>
                        <td ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;" scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;">4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;">5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width:10%;text-align:center;">6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
          </table>
       </div>
   </div>
{% endblock %}
