{% extends "base.html" %}
{% set active_page = 'scrutiny' %}
{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Balance <span class="semi-bold">Sheet :</span></h3>
            <h3 class="pull-right"><a href="{{ url_for("organisation_views.balancesheet_page_print", app_id=application.application_id) }}" target="_blank"><span class="semi-bold"><i class="fa fa-print fa-2x"></i></span></a></h3>
        </div>
    </div>
   <div class="grid simple ">
       <div class="grid-body no-border">
          <table>
              <thead>BANKING/LOANS</thead>
                <tbody>
                    <tr>
                        <th scope="row">BANK NAME</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">ACCOUNT NO</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">TYPE OF A/C</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">MONTH/BALANCE</th>
                        <td>10</td>
                        <td>20</td>
                        <td>30</td>
                        <td></td>
                        <td>CREDITS</td>
                        <td></td>
                        <td>INWARD BOUNCE</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 1</th>
                        <td>10</td>
                        <td>20</td>
                        <td>30</td>
                        <td></td>
                        <td>CREDITS</td>
                        <td></td>
                        <td>INWARD BOUNCE</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>AQB1</td>
                        <td></td>
                        <td></td>
                        <td>AQC1</td>
                        <td>TIMES EMI</td>
                         <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>AQB2</td>
                        <td></td>
                        <td>AQC1</td>
                        <td>TIMES EMI</td>
                        <td></td>
                    </tr>
                     <tr>
                        <th scope="row">MONTH 6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                    </tr>
                    <tr>
                     <th scope="row" colspan="6"></th>
                    </tr>
                    <tr>
                     <th scope="row" colspan="6">ACTIVE LOANS</th>
                    </tr>
                    <tr>
                        <th scope="row">SL NO</th>
                        <td>BANK/FI- </td>
                        <td>TYPE OF LOAN</td>
                        <td>AMOUNT</td>
                        <td>TENURE</td>
                        <td>PRINCIPAL OUTSTANDING</td>
                        <td>EMI PAID</td>
                        <td>BOUNCE IN LAST 3 MONTHS</td>
                        <td>TOTAL BOUNCES</td>
                        <td>LOAN NO</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                     <th scope="row" colspan="6"></th>
                    </tr>
                    <tr>
                     <th scope="row" colspan="6">ACTIVE LOANS</th>
                    </tr>
                    <tr>
                        <th scope="row">SL NO</th>
                        <td>BANK/FI- </td>
                        <td>TYPE OF LOAN</td>
                        <td>AMOUNT</td>
                        <td>TENURE</td>
                        <td>BOUNCE IN LAST 3 MONTHS</td>
                        <td>TOTAL BOUNCES</td>
                        <td>LOAN NO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
          </table>
       </div>
   </div>
{% endblock %}
