{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Scrutiny: <span class="semi-bold">Application</span></h3>
        </div>
    </div>

    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.scrutiny") }}">
            <div class="col-md-6 form-group">
                <input type="text"  class="form-control" name="appId" placeholder="Search By Applicant Id">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.scrutiny") }}">
            <div class="col-md-6 form-group">
                <input type="text"  class="form-control" name="appName" placeholder="Search By Applicant Name">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.scrutiny") }}">
            <div class="col-md-6 form-group">
                <select style="width:100%" class="select2" name="statusId">
                    <option selected disabled>search by scrutiny status</option>
                    <option value="approved">approved</option>
                    <option value="rejected">rejected</option>
                    <option value="onhold">onhold</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:15%">Application ID</th>
                            <th style="width:20%">Applicant Name</th>
                            <th style="width:15%">Group Name</th>
                            <th style="width:15%">Center Name</th>
                            <th style="width:10%">Date</th>
                            <th style="width:10%">Borrower</th>
                            <th style="width:10%">Co-Borrower</th>
                            <th style="width:10%">Location</th>
                            <th style="width:10%">Scrutiny</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in applications %}
                        <tr>
                            <td class="v-align-middle">{{ loop.index }}</td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.scrutiny_application", app_id=app.application_id) }}"><ins>{{ app.application_id }}</ins></a>
                            </td>
                            <td class="v-align-middle">{{ app.applicant_name }}</td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.scrutiny_list_group", group_id=app.group.group_id) }}"><ins>{{ app.group.group_name }}</ins></a>
                            </td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.scrutiny_list_center", group_id=app.group.group_id) }}"><ins>{{ app.group.location_name }}</ins></a>
                            </td>
                            <td class="v-align-middle">{{ app.date_created|dateformat }}</td>
                            <td class="v-align-middle">foto</td>
                            <td class="v-align-middle">foto</td>
                            <td class="v-align-middle">loca</td>
                            <td class="v-align-middle">scrutiny</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
