{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Scrutiny: <span class="semi-bold">{{ application.applicant_name }}</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <table>
                <tr>
                    <td>borrower-name</td>
                    <td>co-borrower-name</td>
                </tr>
                <tr>
                    <td>borrower-name-foto</td>
                    <td>co-borrower-name-foto</td>
                </tr>
                <tr>
                    <td>borrower-name-home-map</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
