{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body grid-page-title">
                    <h3 class="inline">Update <span class="semi-bold">Clusters & Branches</span></h3>
                    <h3 class="v-align-middle pull-right"><a href="{{ url_for("admin_views.admin_organisation_dashboard", org_id=org.id) }}">{{ org.name }}</a></h3>
                    <div class="clearfix"></div>
                </div>
                {% if feature_show("admin_select_regions") %}
                <div class="grid-body">
                    <div class="row pick-center-state-form">
                        <form class="form-no-horizontal-spacing" action="{{ url_for("admin_views.admin_org_states_update", org_id=org.id) }}" method="post">
                            <div class="col-md-8 input-with-icon">
                                <h4 class="inline">Select States</h4>
                                <select id="states" name="org_states" style="width:100%" class="select2 form-control" multiple>
                                    <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
                                    <option value='Andhra Pradesh'>Andhra Pradesh</option>
                                    <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                                    <option value='Assam'>Assam</option>
                                    <option value='Bihar'>Bihar</option>
                                    <option value='Chandigarh'>Chandigarh</option>
                                    <option value='Chhattisgarh'>Chhattisgarh</option>
                                    <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option>
                                    <option value='Daman and Diu'>Daman and Diu</option>
                                    <option value='Delhi'>Delhi</option>
                                    <option value='Goa'>Goa</option>
                                    <option value='Gujarat'>Gujarat</option>
                                    <option value='Haryana'>Haryana</option>
                                    <option value='Himachal Pradesh'>Himachal Pradesh</option>
                                    <option value='Jammu and Kashmir'>Jammu and Kashmir</option>
                                    <option value='Jharkhand'>Jharkhand</option>
                                    <option value='Karnataka'>Karnataka</option>
                                    <option value='Kerala'>Kerala</option>
                                    <option value='Lakshadweep'>Lakshadweep</option>
                                    <option value='Madhya Pradesh'>Madhya Pradesh</option>
                                    <option value='Maharashtra'>Maharashtra</option>
                                    <option value='Manipur'>Manipur</option>
                                    <option value='Meghalaya'>Meghalaya</option>
                                    <option value='Mizoram'>Mizoram</option>
                                    <option value='Nagaland'>Nagaland</option>
                                    <option value='Odisha'>Odisha</option>
                                    <option value='Puducherry'>Puducherry</option>
                                    <option value='Punjab'>Punjab</option>
                                    <option value='Rajasthan'>Rajasthan</option>
                                    <option value='Sikkim'>Sikkim</option>
                                    <option value='Tamil Nadu'>Tamil Nadu</option>
                                    <option value='Telengana'>Telengana</option>
                                    <option value='Tripura'>Tripura</option>
                                    <option value='Uttar Pradesh'>Uttar Pradesh</option>
                                    <option value='Uttarakhand'>Uttarakhand</option>
                                    <option value='West Bengal'>West Bengal</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="update-form pull-right">
                                    <br><br>
                                    <button class="btn btn-large btn-danger btn-cons org-submit" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="row pick-center-state-form">
                        <form class="form-no-horizontal-spacing" action="{{ url_for("admin_views.admin_org_regions_update", org_id=org.id) }}" method="post">
                            <div class="col-md-4">
                                <h4>Select States</h4>
                                <select id="org_state" name="org_state" style="width:100%" class="select2 form-control">
                                    {% for state in states %}
                                        <option value='{{ state.id }}'>{{ state.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <h4>Add New Clusters</h4>
                                <div class="input-with-icon right">
                                    <input class="bootstrap-tagsinput" name="org_regions" id="org_regions" type="text" placeholder="Select Clusters"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="update-form pull-right">
                                    <br><br>
                                    <button class="btn btn-large btn-danger btn-cons org-submit" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="row pick-center-state-form">
                        <form class="form-no-horizontal-spacing" action="{{ url_for("admin_views.admin_org_areas_update", org_id=org.id) }}" method="post">
                            <div class="col-md-4">
                                <h4>Select Cluster</h4>
                                <select id="regions_2" name="org_region" style="width:100%" class="select2 form-control" >
                                    {% for region in regions %}
                                        <option value='{{ region.id }}'>{{ region.parent.name }}-{{ region.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <h4>Add New Division</h4>
                                <div class="input-with-icon  right">
                                    <input class="bootstrap-tagsinput" name="org_areas" id="org_areas" type="text" placeholder="Select Division"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <br><br>
                                    <button class="btn btn-large btn-danger btn-cons org-submit" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="row pick-center-state-form">
                        <form class="form-no-horizontal-spacing" action="{{ url_for("admin_views.admin_org_branches_update", org_id=org.id) }}" method="post">
                            <div class="col-md-4">
                                <h4>Select Division</h4>
                                <select id="regions_3" name="org_area" style="width:100%" class="select2 form-control" >
                                    {% for area in areas %}
                                        <option value='{{ area.id }}'>{{ area.parent.parent.name }}-{{ area.parent.name }}-{{ area.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <h4>Add New Branches</h4>
                                <div class="input-with-icon  right">
                                    <input class="bootstrap-tagsinput" name="org_branch_data" id="org_branch_data" type="text" placeholder="Select Branches"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <br><br>
                                    <button class="btn btn-large btn-danger btn-cons org-submit" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4><span class="semi-bold">Branches & Centers</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-group-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >#</th>
                            <th style="width:10%">Branch</th>
                            <th style="width:10%">Division</th>
                            <th style="width:10%">Cluster</th>
                            <th style="width:10%">State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for branch in branches %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">{{ branch.name }}</td>
                                <td class="v-align-middle">{{ branch.parent.name }}</td>
                                <td class="v-align-middle">{{ branch.parent.parent.name }}</td>
                                <td class="v-align-middle">{{ branch.parent.parent.parent.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();

            $('.form-no-horizontal-spacing').each(function(key, form) {
                $(form).validate({
                    errorElement: 'span',
                    errorClass: 'error',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        org_regions: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        },
                        org_areas: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        },
                        org_branch_data: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        },
                        org_center_data: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        },
                        org_group_data: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        }
                    },
                    invalidHandler: function (event, validator) {
                        //display error alert on form submit
                    },
                    errorPlacement: function (error, element) { // render error placement for each input type
                        var parent = $(element).parent('.input-with-icon');
                        parent.removeClass('success-control').addClass('error-control');
                    },
                    highlight: function (element) { // hightlight error inputs
                        var parent = $(element).parent();
                        parent.removeClass('success-control').addClass('error-control');
                    },
                    unhighlight: function (element) { // revert the change done by hightlight

                    },
                    success: function (label, element) {
                        var parent = $(element).parent('.input-with-icon');
                        parent.removeClass('error-control').addClass('success-control');
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                })
            })
        });
    </script>
{% endblock %}