{% extends "base.html" %}
{% set active_page = 'organisation' %}

{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body grid-page-title">
                    <h3 class="inline">Access <span class="semi-bold">Settings</span></h3>
                    <h3 class="v-align-middle pull-right"><a href="{{ url_for("admin_views.admin_organisation_dashboard", org_id=org.id) }}">{{ org.name }}</a></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="grid-body">
                    <form class="form-no-horizontal-spacing" novalidate="novalidate" action="{{ url_for("admin_views.admin_organisation_settings", org_id=org.id) }}" id="form-role_settings" method="post">
                    <div class="row">
                        <table class="table table-hover table-condensed" id="organisation-emp-table">
                            <thead>
                                <tr>
                                    <th style="width:20%"></th>
                                    {% for designation in hierarchy %}
                                    <th style="width:5%">{{ designation.title_full|upper }}<br>({{ designation.title|upper }})</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for feature, featureDef in features %}
                                {% if featureDef["enabled"] %}
                                <tr>
                                    <th style="width:20%">{{ loop.index }}. {{ featureDef["title"] }}</th>
                                    {% for designation in hierarchy %}
                                    <th style="width:5%"><input type="checkbox" name="{{ designation.id }}|{{ feature }}" {{ designation.has_permission(feature)|permissionfilter }}></th>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-small btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form action="{{ url_for("admin_views.admin_organisation_guidelines_rbi", org_id=org.id) }}" method="post">
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-left"><h4>Organisation <span class="semi-bold"> Guidelines</span></h4></th>
                                    <th style="width:200px" class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Loan cycle 1 limit</td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_org" value="{{ settings.loan_cycle_1_org }}" /></td>
                            </tr>
                            <tr>
                                <td>Loan cycle 1 plus limit</td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_plus_org" value="{{ settings.loan_cycle_1_plus_org }}" /></td>
                            </tr>
                            <tr>
                                <td>One Year Tenure limit</td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="one_year_tenure_limit_org" value="{{ settings.one_year_tenure_limit_org }}" /></td>
                            </tr>
                            <tr>
                                <td>Household income Rural limit</td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_rural_org" value="{{ settings.hh_annual_income_limit_rural_org }}" /></td>
                            </tr>
                            <tr>
                                <td>Household income Urban limit</td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_urban_org" value="{{ settings.hh_annual_income_limit_urban_org }}" /></td>
                            </tr>
                            <tr>
                                <td>Total indebtness </td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="total_indebtness_org" value="{{ settings.total_indebtness_org }}" /></td>
                            </tr>
                            <tr>
                                <td>Max existing loan limit </td>
                                <td class="text-right"><input type="text" class="form-control text-right" name="max_existing_loan_count_org" value="{{ settings.max_existing_loan_count_org }}" /></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-small btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left"><h4>Product <span class="semi-bold"> Guidelines</span></h4></th>
                                <th style="width:100px" class="text-right"></th>
                                <th style="width:100px" class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cycle 1</td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_1_group_min" value="{{ settings.product_cycle_1_group_min }}" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_1_group_max" value="{{ settings.product_cycle_1_group_max }}" /></td>
                        </tr>
{#                        <tr>#}
{#                            <td>Center </td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>#}
{#                        </tr>#}
                        <tr>
                            <td>Cycle 2</td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_2_group_min" value="{{ settings.product_cycle_2_group_min }}" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_2_group_max" value="{{ settings.product_cycle_2_group_max }}" /></td>
                        </tr>
{#                        <tr>#}
{#                            <td>Center </td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>#}
{#                        </tr>#}
                        <tr>
                            <td>Cycle 3</td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_3_group_min" value="{{ settings.product_cycle_3_group_min }}" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_3_group_max" value="{{ settings.product_cycle_3_group_max }}" /></td>
                        </tr>
{#                        <tr>#}
{#                            <td>Center </td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>#}
{#                        </tr>#}
                        <tr>
                            <td>Cycle 3+</td><td></td><td></td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_4_group_min" value="{{ settings.product_cycle_4_group_min }}" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="product_cycle_4_group_max" value="{{ settings.product_cycle_4_group_max }}" /></td>
                        </tr>
{#                        <tr>#}
{#                            <td>Center </td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>#}
{#                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>#}
{#                        </tr>#}
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-small btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
