{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}
    <link href="{{ url_for('static', filename='css/custom-icon-set.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='plugins/dropzone/css/dropzone.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div style="background: #ffffff;padding-left:20px;">
        <div class="clearfix"><br/></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"><a href="/admin/cbcheck/equifax/download" class="btn btn-small btn-success">Download Pending Equifax Reports</a></div>
                <div class="col-md-3"><a href="/admin/cbcheck/highmark/download" class="btn btn-small btn-success">Download Pending CbCheck Reports</a></div>
            </div>
        </div>

        <div class="clearfix"><br/></div>
        <div class="row">
            <div class="col-md-3">
                <form class="dropzone no-margin" id="equifax_upload" action="/admin/cbcheck/equifax/">
                    <div class="fallback">
                        <input type="file" name="excel">
                        <label>Equifax</label>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form class="dropzone no-margin" id="highmark_upload" action="/admin/cbcheck/highmark/">
                    <div class="fallback">
                        <input type="file" name="excel">
                        <label>Hignmark</label>
                    </div>

                </form>
            </div>

        </div>
        <div class="clearfix"><br/></div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='plugins/dropzone/dropzone.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            console.log("ready");
            Dropzone.options.equifaxUpload = {
                init: function() {
                    this.on("addedfile", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:uploading "+file.name+" !");
                    });
                    this.on("success", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:sucessfully uploaded "+file.name+" !");
                    });
                    this.on("error", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:upload failed "+file.name+" !");
                    });

                }
            };

            Dropzone.options.highmarkUpload = {
                init: function() {
                    this.on("addedfile", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:uploading "+file.name+" !");
                    });
                    this.on("success", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:sucessfully uploaded "+file.name+" !");
                    });
                    this.on("error", function(file) {
                        console.log("uploading "+file.name+" !");
                        Messenger().post("Group Aplication:upload failed "+file.name+" !");
                    });

                }
            };
        });
    </script>


{% endblock %}