{% extends "admin_base.html" %}


{% block maincontents %}
  <div class="page-title">
    <h3>Cash Flow Analysis <span class="bold"> (CFA)</span></h3>
  </div>

  <div class="grid simple">
    <div class="grid-body no-border invoice-body">
      <form id="cf_action" action="/admin/organisation/{{ org_id }}/application/{{ app_id }}/cashflow" method="post">
      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Application ID</label>
              <div class="controls">
                <input type="text" value="{{ app_id }}" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">Name of the Customer</label>
              <div class="controls">
                <input type="text" value="{{ application.applicant_name }}" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-3 pull-right">
            <div class="form-group">
              <label class="form-label">Cash Flow Verification Pending</label>
              <a class="btn btn-small btn-block btn-warning form-control cfa_failed" data-id="{{ app_id }}" type="button" href="#"><i class="fa fa-times"></i>CFA Failed</a></a>
              <a class="btn btn-small btn-block btn-success form-control cfa_passed" data-id="{{ app_id }}" type="button" href="#"><i class="fa fa-check"></i>CFA Passed</a></a>
            </div>
          </div>
      </div>
      <table class="table" cols=3>
        <thead>
          <tr>
            <th style="width:60px" class="unseen text-center"></th>
            <th class="text-left"></th>
            <th style="width:150px"></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="3" >
            <h4 class="semi-bold">(A) Total Gross Income said at the time of Sourcing</h4>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">1</td>
          <td>Primary Business Income</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-a" name="primary_income" value="{{ application.primary_income }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">2</td>
          <td>Secondary Business Income</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-a" name="secondary_income" value="{{ application.secondary_income }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">3</td>
          <td>Tertiary Business Income</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-a" name="tertiary_income" value="{{ application.tertiary_income }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">4</td>
          <td>Other income</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-a" name="other_income" value="{{ application.other_income }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center"></td>
          <td class="bold text-right">
            <strong>(A) Total Income</strong>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-a-total" value="{{ application.total_income }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" >
            <h4 class="semi-bold">(B) Total Gross expenditure said at the time of sourcing</h4>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">5</td>
          <td>Business expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="business_expense" value="{{ application.business_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">6</td>
          <td>Food expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="food_expense" value="{{ application.food_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">7</td>
          <td>Travel expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="travel_expense" value="{{ application.travel_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">8</td>
          <td>Education expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="educational_expense" value="{{ application.educational_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">9</td>
          <td>Entertainment expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="entertainment_expense" value="{{ application.entertainment_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">10</td>
          <td>Medical expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="medical_expense" value="{{ application.medical_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">11</td>
          <td>Festival expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="festival_expenditure" value="{{ application.festival_expenditure }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">12</td>
          <td>Other expense</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b" name="other_expense" value="{{ application.other_expense }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">
          </td>
          <td class="bold text-right">
            <strong>(B) Total Expenditure</strong>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-b-total" value="{{ application.total_expenditure }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" >
            <h4 class="semi-bold">(C) Outstanding from other MFI/NBFI/Banks</h4>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">13</td>
          <td>Outstanding-1</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-c" value="{{ application.outstanding_1 }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">14</td>
          <td>Outstanding-2</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-c" value="{{ application.outstanding_2 }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">15</td>
          <td>Outstanding-3</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-c" value="{{ application.outstanding_3 }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">16</td>
          <td>Outstanding-4</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-c" value="{{ application.outstanding_4 }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">
          </td>
          <td class="bold text-right">
            <strong>(C) Total Outstanding</strong>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-c-total" value="{{ application.total_outstanding }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" >
            <h4 class="semi-bold">(D) Other Liability</h4>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">17</td>
          <td>Chit</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-d" name="other_outstanding_chit" value="{{ application.other_outstanding_chit }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">18</td>
          <td>Insurance</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-d" name="other_outstanding_insurance" value="{{ application.other_outstanding_insurance }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">19</td>
          <td>EMI</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-d" name="other_outstanding_emi" value="{{ application.other_outstanding_emi }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center">20</td>
          <td>Friends & Family (Handloans)</td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-d" name="other_outstanding_familynfriends" value="{{ application.other_outstanding_familynfriends }}">
            </div>
          </td>
        </tr>
        <tr>
          <td class="unseen text-center"></td>
          <td class="bold text-right">
            <strong>(D) Total Outstanding</strong>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right section-d-total" value="{{ application.total_other_outstanding }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Net Income (A -B -D)</h6>
          </td>
          <td>
            <div class="controls {% if application.loan_eligibility_based_on_net_income < application.applied_loan %}has-error{% endif %}">
              <input type="text" class="form-control text-right section-net-income" value="{{ application.net_income }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Total Existing Running number of Loans</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.total_running_loans }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Total Existing Loan Outstanding</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.total_existing_outstanding_from }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Total Existing Running number of Loans from MFIs</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.total_running_loans_from_mfi }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Total Existing Loan Outstanding from MFIs</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.total_existing_outstanding_from_mfi }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Default with no of MFIs</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.defaults_with_no_mfis }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Attendance %</h6>
          </td>
          <td>
            <div class="controls">
              <input type="text" class="form-control text-right" value="{{ application.attendence_percentage }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Loan eligibility based on Net Income</h6>
          </td>
          <td>
            <div class="controls {% if application.loan_eligibility_based_on_net_income < application.applied_loan %}has-error{% endif %}">
              <input type="text" class="form-control text-right section-loan-eligibility" value="{{ application.loan_eligibility_based_on_net_income }}" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <h6 class="semi-bold">Loan eligibility based on company policy</h6>
          </td>
          <td>
            <div class="controls  {% if application.loan_eligibility_based_on_company_policy < application.applied_loan %}has-error{% endif %}">
              <input type="text" class="form-control text-right" value="{{ application.loan_eligibility_based_on_company_policy }}" disabled>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      </form>
    </div>
  </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".section-a").on("change", function(e){
              var total = 0.0;
              $(".section-a").each(function(index){
                total += parseFloat($(this).val());
              });
              $(".section-a-total").val(total);
              update_net_income();
              update_loan_eligibility();
            });

            $(".section-b").on("change", function(e){
              var total = 0.0;
              $(".section-b").each(function(index){
                total += parseFloat($(this).val());
              });
              $(".section-b-total").val(total);
              update_net_income();
              update_loan_eligibility();
            });

            $(".section-d").on("change", function(e){
              var total = 0.0;
              $(".section-d").each(function(index){
                total += parseFloat($(this).val());
              });
              $(".section-d-total").val(total);
              update_net_income();
              update_loan_eligibility();
            });

            function update_net_income() {
              var total_income = parseFloat($(".section-a-total").val());
              var total_liability = parseFloat($(".section-b-total").val());
              var total_expenditure = parseFloat($(".section-d-total").val());
              var net_income = total_income - total_liability - total_expenditure;
              $(".section-net-income").val(net_income);
            }

            function update_loan_eligibility() {
              var total_income = parseFloat($(".section-a-total").val());
              var total_liability = parseFloat($(".section-b-total").val());
              var total_expenditure = parseFloat($(".section-d-total").val());
              var total_loan_eligibility = (total_income - total_liability - total_expenditure) / 2  * 24;
              $(".section-loan-eligibility").val(total_loan_eligibility);
            }

            $(".cfa_failed").click(function(e){
                e.preventDefault();
                $("#cf_action")
                    .append("<input type='hidden' name='status' value='false'>")
                    .submit();
                return false;
            });
            $(".cfa_passed").click(function(e){
                e.preventDefault();
                $("#cf_action")
                    .append("<input type='hidden' name='status' value='true'>")
                    .submit();
                return false;
            });
        });
    </script>
{% endblock %}