{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Add <span class="semi-bold">Employee</span></h4>
                    <div class="grid-body no-border">
                        <form class="form-no-horizontal-spacing" id="form-employee" method="post" action="/admin/employees">
                            <div class="row column-seperation">
                                <div class="col-md-6">
                                    <h4>Basic Information</h4>
                                    <div class="row form-row">
                                        <div class="col-md-7">
                                            <div class="input-with-icon right">
                                                <input name="FirstName" id="FirstName" value="" type="text" class="form-control" placeholder="First Name" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-with-icon right">
                                                <input name="LastName" id="LastName" value="" type="text" class="form-control" placeholder="Last Name" maxlength="30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-7">
                                            <div class="input-with-icon  right">
                                                <input name="Email" id="Email" value="" type="text" class="form-control" placeholder="email@address.com" minlength="3" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-with-icon  right">
                                                <input name="Password" id="Password" value="" type="password" class="form-control" placeholder="Esthenos" minlength="3" maxlength="30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-7">
                                            <div class="input-append success date no-padding">
                                                <input type="text" type="text" placeholder="Date of Birth" class="form-control" id="DateOfBirth" name="DateOfBirth" >
                                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="radio form-group">
                                                <input id="male" type="radio" name="gender" value="male" checked="checked">
                                                <label for="male">Male</label>
                                                <input id="female" type="radio" name="gender" value="female">
                                                <label for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <select name="role" id="role" class="select2 form-control">
                                                <option value="EMP_EXECUTIVE">Executive</option>
                                                <option value="EMP_MANAGER">Manager</option>
                                                <option value="EMP_VP">VP</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Postal Information</h4>
                                    <div class="row form-row">
                                        <div class="col-md-12 form-group">
                                            <div class="input-with-icon  right">
                                                <input name="Address" id="Address" value="" type="text" class="form-control" placeholder="Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <select name="Country" id="Country"  class="form-control select2" placeholder="Country"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <select name="State" id="State"  class="form-control select2" placeholder="State"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <input name="City" id="City" value="" type="text" class="form-control" placeholder="City" maxlength="30">
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <input name="PostalCode" type="text" value="" id="PostalCode" class="form-control" placeholder="Postal Code" minlength="5" maxlength="6">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4 form-group">
                                            <div class="input-with-icon  right">
                                                <input name="TeleCode" id="TeleCode" value="" type="text" class="form-control" placeholder="+91" minlength="1" maxlength="2">
                                            </div>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="input-with-icon  right">
                                                <input name="TeleNo" id="TeleNo" value="" type="text" class="form-control" placeholder="Phone Number" maxlength="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="pull-right">
                                    <button class="btn btn-small btn-danger btn-cons" id="submitForm2" type="submit">Add Employee</button>
                                    <button class="btn btn-small btn-white btn-cons cancel-button" type="reset" value="clear">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4><span class="semi-bold">Employees</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="employee-table">
                        <thead>
                        <tr>
                            <th style="width:1%">#</th>
                            <th style="width:20%">EMP ID</th>
                            <th style="width:20%">NAME</th>
                            <th style="width:20%">ROLE</th>
                            <th style="width:20%">EMAIL</th>
                            <th style="width:20%">PHONE NUMBER</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for emp in employees %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">{{ emp.id }}</td>
                                <td class="v-align-middle">{{ emp.first_name }}</td>
                                <td class="v-align-middle">{{ emp.user_roles }}</td>
                                <td class="v-align-middle">{{ emp.email }}</td>
                                <td class="v-align-middle">{{ emp.postal_telephone }}</td>
                            </tr>
                         {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            populateCountries("Country", "State");
            $("#State").select2();
            $("#Country").select2();
            $("#role").select2({
                placeholder: "Select a ROLE",
                allowClear: true
            });
        });

        $(':input','#form-employee')
                  .not(':button, :submit, :reset, :hidden')
                  .val('')
                  .removeAttr('checked')
                  .removeAttr('selected');

        $('#form-employee').validate({
            errorElement: 'span',
            errorClass: 'error',
            focusInvalid: false,
            ignore: "",
            rules: {
                FirstName: {
                    minlength: 2,
                    maxlength: 30,
                    required: true,
                    lettersonly: true
                },
                LastName: {
                    minlength: 2,
                    maxlength: 30,
                    required: true,
                    lettersonly: true
                },
                Email: {
                    email: true,
                    minlength: 3,
                    maxlength: 30,
                    required: true
                },
                Address: {
                    minlength: 5,
                    required: true
                },
                City: {
                    minlength: 2,
                    maxlength: 30,
                    required: true,
                    lettersonly: true
                },
                PostalCode: {
                    minlength: 5,
                    maxlength: 6,
                    number:true,
                    required: true
                },
                TeleCode: {
                    number: true,
                    minlength: 1,
                    maxlength: 2,
                    required: true
                },
                TeleNo: {
                    number:true,
                    minlength: 10,
                    maxlength: 10,
                    required: true
                }
            },
            invalidHandler: function (event, validator) {
                //display error alert on form submit
            },
            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-with-icon').children('i');
                var parent = $(element).parent('.input-with-icon');
                icon.removeClass('fa fa-check').addClass('fa fa-exclamation');
                parent.removeClass('success-control').addClass('error-control');
            },
            highlight: function (element) { // hightlight error inputs
                var parent = $(element).parent();
                parent.removeClass('success-control').addClass('error-control');
            },
            unhighlight: function (element) { // revert the change done by hightlight

            },
            success: function (label, element) {
                var icon = $(element).parent('.input-with-icon').children('i');
                var parent = $(element).parent('.input-with-icon');
                icon.removeClass("fa fa-exclamation").addClass('fa fa-check');
                parent.removeClass('error-control').addClass('success-control');
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('.cancel-button').click(function(){
            location.href = '/admin/employees';
        });
        $('.input-append.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}