{% extends "base.html" %}


{% block css_sheets %}
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url( '{{ url_for('static', filename='fonts/AYOGNI_N.TTF')}}' );
        }
        .hinditext {
            font-family: kruti dev;
            font-size:14px;
        }
    </style>
{% endblock %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body grid-page-title">
                    <h3 class="inline">Psychometric <span class="semi-bold">Questions</span></h3>
                    <h3 class="v-align-middle pull-right"><a href="{{ url_for("admin_views.admin_organisation_dashboard", org_id=org.id) }}">{{ org.name }}</a></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="grid-body">
                    <table class="table table-bordered" id="tablesoop">
                        {% for question in questions %}
                            <tr>
                                <td scope="col" style="width: 5%">Q.{{ loop.index }}</td>
                                <td scope="col" style="width: 15%">{{ question.question }}</td>
                                <td scope="col" style="width: 15%" class="hinditext">{{ question.question_regional }}</td>
                                <td scope="col" style="width: 5%">
                                    <form method="post" action="/admin/organisation/{{ org.id }}/psychometric_questions/{{ question.id }}/delete">
                                        <button class="btn btn-small btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" style="width: 5%">Q.{{ loop.index }}, Answer.1</td>
                                <td scope="col" style="width: 15%">{{ question.answer1 }}</td>
                                <td scope="col" style="width: 15%" class="hinditext">{{ question.answer_regional1 }}</td>
                                <td scope="col" style="width: 5%"></td>
                            </tr>
                            <tr>
                                <td scope="col" style="width: 5%">Q.{{ loop.index }}, Answer.2</td>
                                <td scope="col" style="width: 15%">{{ question.answer2 }}</td>
                                <td scope="col" style="width: 15%" class="hinditext">{{ question.answer_regional2 }}</td>
                                <td scope="col" style="width: 5%"></td>
                            </tr>
                            <tr>
                                <td scope="col" style="width: 5%">Q.{{ loop.index }}, Answer.3</td>
                                <td scope="col" style="width: 15%">{{ question.answer3 }}</td>
                                <td scope="col" style="width: 15%" class="hinditext">{{ question.answer_regional3 }}</td>
                                <td scope="col" style="width: 5%"></td>
                            </tr>
                            <tr>
                                <td scope="col" style="width: 5%">Q.{{ loop.index }}, Answer.4</td>
                                <td scope="col" style="width: 15%">{{ question.answer4 }}</td>
                                <td scope="col" style="width: 15%" class="hinditext">{{ question.answer_regional4 }}</td>
                                <td scope="col" style="width: 5%"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>
                    <form class="" method="post" id="org_questions_form">
                        <div class="row form-row">
                            <div class="col-md-12 form-group">
                                <input type="text" placeholder="enter new question here" class="form-control text-left" name="question"/>
                                <input type="text" placeholder="enter new question in regional language" class="form-control text-left hinditext" name="question_hindi"/>
                            </div>
                            <table class="col-md-12 form-group table table-bordered">
                                <tr>
                                    <td>A</td>
                                    <td><input type="text" placeholder="enter new answer here" class="form-control text-left" name="answer1" id="answer"/></td>
                                    <td><input type="text" placeholder="enter new answer in regional language" class="form-control text-left hinditext" name="answer_regional1"/></td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td><input type="text" placeholder="enter new answer here" class="form-control text-left " name="answer2" id="answer2"/></td>
                                    <td><input type="text" placeholder="enter new answer in regional language" class="form-control text-left hinditext" name="answer_regional2"/></td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td><input type="text" placeholder="enter new answer here" class="form-control text-left" name="answer3" id="answer3"/></td>
                                    <td><input type="text" placeholder="enter new answer in regional language" class="form-control text-left hinditext" name="answer_regional3"/></td>
                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td><input type="text" placeholder="enter new answer here" class="form-control text-left" name="answer4" id="answer4"/></td>
                                    <td><input type="text" placeholder="enter new answer in regional language" class="form-control text-left hinditext" name="answer_regional4"/></td>
                                </tr>
                            </table>
                        </div>
                        <input type="hidden" value="{{ org.id }}" name="org_id" id="org_id" />
                        <div class="form-actions">
                            <div class="pull-right">
                                <input class="btn btn-small btn-danger btn-cons" type="submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
