{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12" style="background: #ffffff;">
            <h4>Update <span class="semi-bold">Organisation</span></h4>
            <div class="row ">
                <div class="col-md-4">
                    <form class="form-no-horizontal-spacing" id="form-organisation3" novalidate="novalidate"  action="/admin/update_org/{{ org.id }}/group" method="post">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <h3>Add <span class="semi-bold" >Group</span></h3>
                                <select id="regions_2" name="org_data" style="width:100%" class="select2 form-control" >
                                    {% for branch in branches %}
                                        <option value='{{ branch.state.id }},{{ branch.region.id }},{{ branch.area.id }},{{ branch.id }}'>{{ branch.state.state_name }}--{{ branch.region.region_name }}--{{ branch.area.area_name }}--{{ branch.branch_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"><br/></div>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input name="location_name" id="location_name" type="text" value=""  class="form-control" placeholder="location name">
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input name="group_name" id="user_name" type="text" value=""  class="form-control" placeholder="group name">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-small btn-danger btn-cons org-submit" id="submitForm3" type="submit"><i class="icon-ok"></i> Add Group</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <table class="table table-condensed">
                        {% for group in groups %}
                            <tr>
                                <td>
                                    {{ group.group_id }}
                                </td>
                                <td>
                                    {{ group.group_name }}
                                </td>
                                <td>
                                    {{ group.size }}
                                </td>
                                <td>
                                    {{ group.leader_name }}
                                </td>
                                <td>
                                    {{ group.leader_number }}
                                </td>
                                <td>
                                    {{ group.location_name }}
                                </td>
                                <td>
                                    {{ group.branch.branch_name }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            $("#states_2").select2();
            $("#states_3").select2();
            $("#regions_2").select2();
            $("#regions_3").select2();
            $("#areas_2").select2();
            $("#areas_3").select2();
            $(".org-submit").click(function(){
                $("#form-organisation").submit();
            });
        });
    </script>
{% endblock %}