{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Admin <span class="semi-bold">Reports</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <select style="width:100%" class="select2">
                <option selected disabled>select organization</option>
                {% for org in  organisations %}
                <option value="{{ org.id }}">{{ org.name }}</option>
                {% endfor %}
          </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <h4>Master Report</h4><h6>(All data captured by LA+ KYC+ CB)</h6>
        </div>
        <div class="col-md-6">
            <div class="input-daterange">
                <!-- disabling internal report issue#112. -->
                <form method="get" action="/admin/reports">
                    <input type="text" class="input-small" name="start-date" id="start-date" placeholder="start-date" />
                    <input type="text" class="input-small" name="end-date" id="end-date" placeholder="end-date" />
                    <button class="btn btn-medium btn-md btn-info" id="generate_button" type="submit">Generate Report</button>
                </form>
            </div>
        </div>
        <div class="col-md-2 generate-button">
            <!-- disabling internal report issue#112. -->
            <form method="get" action="/admin/reports">
                <button class="btn btn-medium btn-md btn-info" id="generate_button_as_of">Generate Reports As On Now</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                todayBtn: "linked"
            });
            $("#generate_button").click(function() {
                if(!checkDateRange($("#start-date").val(), $("#end-date").val())) {
                    console.log("invalid date range selected.");
                }
            });

            function checkDateRange(start, end) {
                // Parse the entries
                var today = new Date();
                var endDate = Date.parse(end);
                var startDate = Date.parse(start);

                // Make sure they are valid
                if (isNaN(startDate)) {
                    smoke.signal("The start date provided is not valid, please enter a valid date.", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    })
                    return false;
                }
                if (isNaN(endDate)) {
                    smoke.signal("The end date provided is not valid, please enter a valid date.", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    })
                    return false;

                }
                // Check the date range, 86400000 is the number of milliseconds in one day
                var difference = (endDate - startDate) / (86400000 * 7);
                if (difference < 0) {
                    smoke.signal("The start date must come before the end date!...", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    });
                    return false;

                }
                if (endDate - today > 0) {
                    smoke.signal("End date cannot be greater than today!...", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    });
                    return false;
                }
                return true;
            }
            $(".select2 ").select2();
        });
    </script>
{% endblock %}