{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                <h3>Admin <span class="semi-bold">Actions</span></h3>
                <p>Samastha Management Panel</p>
                <br>
                </div>
                <div class="grid-body ">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/add_emp">Add Employee</a></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/add_product">Add Products</a></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/settings">Settings</a></a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/cgt1_questions">CGT1 Questions</a></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/cgt2_questions">CGT2 Questions</a></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/grt_questions">GRT Questions</a></a>
                        </div>

                     </div>
                    <br/>
                    <div class="row">

                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/telecalling_questions">Tele Calling Questions</a></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/update_org/{{ org.id }}">Update Info</a></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4> <span class="semi-bold">Employees</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-emp-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >
                                <div class="checkbox check-default">
                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox10"></label>
                                </div>
                            </th>
                            <th style="width:20%">EMP ID</th>
                            <th style="width:23%">NAME</th>
                            <th style="width:25%">EMAIL</th>
                            <th style="width:22%">ROLES</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for emp in employees %}
                            <tr>
                                <td class="v-align-middle">
                                    <div class="checkbox check-default">
                                        <input id="checkbox{{ loop.index }}" type="checkbox" value="1">
                                        <label for="checkbox{{ loop.index }}"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle"><span class="muted">{{ emp.id}}</span></td>
                                <td class="v-align-middle">{{ emp.first_name }}</td>
                                <td><span class="muted">{{ emp.email }}</span></td>
                                <td><span class="muted">{{ emp.roles }}</span></td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4> <span class="semi-bold">Products</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-product-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >
                                <div class="checkbox check-default">
                                    <input id="checkbox2" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox2"></label>
                                </div>
                            </th>
                            <th style="width:20%">Product ID</th>
                            <th style="width:23%">Product NAME</th>
                            <th style="width:25%">Loan Amount</th>
                            <th style="width:22%"># of Installments</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for product  in products %}
                            <tr>
                                <td class="v-align-middle">
                                    <div class="checkbox check-default">
                                        <input id="checkbox{{ loop.index }}" type="checkbox" value="1">
                                        <label for="checkbox{{ loop.index }}"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle"><span class="muted">{{ product.id}}</span></td>
                                <td class="v-align-middle">{{ product.product_name }}</td>
                                <td><span class="muted">{{ product.loan_amount }}</span></td>
                                <td><span class="muted">{{ product.number_installments }}</span></td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            var responsiveHelper = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone : 480
            };

            var tableElement = $('#organisation-emp-table');

            tableElement.dataTable( {
                {#                "sDom": "<'row'<'col-md-6'l T><'col-md-6'f>r>t<'row'<'col-md-12'p i>>",#}
                "pageLength": 100,
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });

            {#            $('#loan-applications_wrapper .dataTables_filter input').addClass("input-medium "); // modify table search input#}
            $('#organisation-emp-table_wrapper .dataTables_length select').addClass("select2  select2-wrapper span12"); // modify table per page dropdown


            var tableElement = $('#organisation-product-table');

            tableElement.dataTable( {
                {#                "sDom": "<'row'<'col-md-6'l T><'col-md-6'f>r>t<'row'<'col-md-12'p i>>",#}
                "pageLength": 100,
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });

            {#            $('#loan-applications_wrapper .dataTables_filter input').addClass("input-medium "); // modify table search input#}
            $('#organisation-product-table_wrapper .dataTables_length select').addClass("select2  select2-wrapper span12"); // modify table per page dropdown

            $(".select2 ").select2();
        });
    </script>
{% endblock %}