{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<br/>
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left"><h4>Organisation <span class="semi-bold"> Guidelines</span></h4></th>
                            <th style="width:200px" class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Loan cycle 1 limit</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_rbi" value="{{ settings.loan_cycle_1_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Loan cycle 1 plus limit</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_plus_rbi" value="{{ settings.loan_cycle_1_plus_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>One Year Tenure limit</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="one_year_tenure_limit_rbi" value="{{ settings.one_year_tenure_limit_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Household income Rural limit</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_rural_rbi" value="{{ settings.hh_annual_income_limit_rural_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Household income Urban limit</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_urban_rbi" value="{{ settings.hh_annual_income_limit_urban_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Total indebtness </td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="total_indebtness_rbi" value="{{ settings.total_indebtness_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Max existing loan limit </td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="max_existing_loan_count_rbi" value="{{ settings.max_existing_loan_count_rbi }}" /></td>

                        </tr>

                        </tbody>
                    </table>
                    <div class="form-actions">

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left"><h4>Product <span class="semi-bold">  Guidelines</span></h4></th>
                            <th style="width:200px" class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cycle 1</td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_min" value="5" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_max" value="5" /></td>
                        </tr>
                        <tr>
                            <td>Center </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>
                        </tr>
                        <tr>
                            <td>Cycle 2</td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_min" value="3" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_max" value="3" /></td>
                        </tr>
                        <tr>
                            <td>Center </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>
                        </tr>
                        <tr>
                            <td>Cycle 3</td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_min" value="3" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_max" value="3" /></td>
                        </tr>
                        <tr>
                            <td>Center </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>
                        </tr>
                        <tr>
                            <td>Cycle 3+</td>
                        </tr>
                        <tr>
                            <td>Group </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_min" value="3" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_group_max" value="3" /></td>
                        </tr>
                        <tr>
                            <td>Center </td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_min" value="20" /></td>
                            <td class="text-right"><input type="text" style="width: 80px;" class="form-control text-right" name="loan_cycle_1_center_max" value="20" /></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="form-actions">

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}