{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url( '{{ url_for('static', filename='fonts/AYOGNI_N.TTF')}}' );
        }

        .hinditext {
            font-family: kruti dev;
            font-size:14px;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


    <br xmlns="http://www.w3.org/1999/html"/>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <h1>TeleCalling Questions </h1>
                <div class="grid-body no-border invoice-body"> <br>
                    <table class="table table-bordered">
                        {% for question in questions %}
                            <tr>
                                <td style="width: 5%;">{{ loop.index }}</td>
                                <td style="width: 45%;">{{ question.question }}</td>
                                <td style="width: 45%;" class="hinditext">{{ question.question_regional }}</td>
                                <td style="width: 5%;">
                                    <form method="post" action="/admin/organisation/{{ org.id }}/telecalling_questions/{{ question.id }}/delete">
                                        <button class="btn btn-small btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>

                    <form class="" method="post" id="org_questions_form">
                        <div class="row form-row">
                            <div class="col-md-12 form-group">
                                <input type="text" placeholder="enter new question here" class="form-control text-left" name="question" id="questions" />
                                <input type="text" placeholder="enter new question in regional language" class="form-control text-left hinditext" name="question_hindi" id="questions_hindi" />
                            </div>
                        </div>

                        <input type="hidden" style="width: 80px;" value="{{ org.id }}" name="org_id" id="org_id" />
                        <div class="form-actions">

                            <div class="pull-right">
                                <input class="btn btn-small btn-danger btn-cons" type="submit"/>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}