{% extends "admin_base.html" %}

{% block maincontents %}
    <div class="row">
        <div class="col-md-3 pull-right">
            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/add_org">Add Organisation</a></a>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4> <span class="semi-bold">Organisations</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >#</th>
                            <th style="width:10%">ORG ID</th>
                            <th style="width:13%">NAME</th>
                            <th style="width:15%">EMAIL</th>
                            <th style="width:12%">PHONE NUMBER</th>
                            <th style="width:20%">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for org in organisations %}
                            <tr >
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href='/admin/organisation/{{ org.id }}/dashboard'><ins>{{ org.id }}</ins></a>
                                </td>
                                <td class="v-align-middle">{{ org.name }}</td>
                                <td>{{ org.email }}</td>
                                <td>{{ org.postal_tele_code }}{{ org.postal_telephone }}</td>
                                <td><a href="/admin/organisation/{{ org.id }}" class="btn btn-small btn-info" >Update</a>
                                    <a href="/admin/organisation/{{ org.id }}/groups" class="btn  btn-small btn-info" >Add Group</a>
                                </td>
                            </tr>
                           {% else %}
                            <tr><em>Unbelievable. No organisations here so far</em></tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
