{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body grid-page-title">
                    <h3 class="inline">Add <span class="semi-bold">Group</span></h3>
                    <h3 class="v-align-middle pull-right"><a href="{{ url_for("admin_views.admin_organisation_dashboard", org_id=org.id) }}">{{ org.name }}</a></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="grid-body">
                    <form class="form-no-horizontal-spacing" action="{{ url_for("admin_views.admin_organisation_groups", org_id=org.id) }}" method="post">
                        <div class="form-row">
                            <select id="regions_2" name="org_data" style="width:100%" class="select2 form-control" >
                                {% for branch in branches %}
                                    <option value='{{ branch.state.id }},{{ branch.region.id }},{{ branch.area.id }},{{ branch.id }}'>{{ branch.state.state_name }}-{{ branch.region.region_name }}-{{ branch.area.area_name }}-{{ branch.branch_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="clearfix"><br/></div>
                        <div class="form-row">
                            <div class="input-with-icon  right">
                                <input name="location_name" type="text" class="form-control" placeholder="center name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-with-icon  right">
                                <input name="group_name" type="text" class="form-control" placeholder="group name">
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-small btn-danger btn-cons org-submit" id="submitForm3" type="submit">Add Group</button>
                                <button class="btn btn-small btn-white btn-cons cancel-button" type="reset" value="Cancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4><span class="semi-bold">Groups</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-group-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >#</th>
                            <th style="width:10%">Group ID</th>
                            <th style="width:15%">Group NAME</th>
                            <th style="width:15%">Center Name</th>
                            <th style="width:10%">Group Size</th>
                            <th style="width:15%">Group Leader</th>
                            <th style="width:15%">Group Leader Phone</th>
                            <th style="width:15%">Group Branch Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">{{ group.group_id }}</td>
                                <td class="v-align-middle">{{ group.group_name }}</td>
                                <td class="v-align-middle">{{ group.location_name }}</td>
                                <td class="v-align-middle">{{ group.size }}</td>
                                <td class="v-align-middle">{{ group.leader_name }}</td>
                                <td class="v-align-middle">{{ group.leader_number }}</td>
                                <td class="v-align-middle">{{ group.branch.branch_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();

            $('.form-no-horizontal-spacing').validate({
                    errorElement: 'span',
                    errorClass: 'error',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        location_name: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        },
                        group_name: {
                            minlength: 2,
                            maxlength: 30,
                            required: true
                        }
                    },
                    invalidHandler: function (event, validator) {
                        //display error alert on form submit
                    },
                    errorPlacement: function (error, element) { // render error placement for each input type
                        var parent = $(element).parent('.input-with-icon');
                        parent.removeClass('success-control').addClass('error-control');
                    },
                    highlight: function (element) { // hightlight error inputs
                        var parent = $(element).parent();
                        parent.removeClass('success-control').addClass('error-control');
                    },
                    unhighlight: function (element) { // revert the change done by hightlight

                    },
                    success: function (label, element) {
                        var parent = $(element).parent('.input-with-icon');
                        parent.removeClass('error-control').addClass('success-control');
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });

            $(".cancel-button").click(function(){
                location.href = "/admin/organisation/{{ org.id }}/dashboard";
            });
        });
    </script>
{% endblock %}