{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <div class="col-md-12" style="background: #ffffff;">
            <h4>Update <span class="semi-bold">Organisation</span></h4>
            <div class="row ">

                <div class="col-md-4">
                    <form class="form-no-horizontal-spacing" id="form-organisation" novalidate="novalidate"  action="/admin/update_org/{{ org.id }}/update_regions" method="post">
                        <div class="row form-row">

                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold" >States</span></h3>
                                <br>
                                <select id="org_state" name="org_state" style="width:100%" class="select2 form-control">
                                    {% for state in states %}
                                        <option value='{{ state.id }}'>{{ state.state_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row form-row">

                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold" >Regions</span></h3>
                                <br>
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input class="span12 tagsinput" name="org_regions" id="org_regions" type="text" value="" data-role="tagsinput" />
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-cons org-submit" id="submitForm1" type="submit"><i class="icon-ok"></i> Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form class="form-no-horizontal-spacing" id="form-organisation2" novalidate="novalidate"  action="/admin/update_org/{{ org.id }}/update_areas" method="post">
                        <div class="row form-row">

                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold" >Regions</span></h3>
                                <br>
                                <select id="regions_2" name="org_data" style="width:100%" class="select2 form-control" >
                                    {% for region in regions %}
                                        <option value='{{ region.state.id }},{{ region.id }}'>{{ region.state.state_name }}-{{ region.region_name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="row form-row">

                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold">Areas</span></h3>
                                <br>
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input class="span12 tagsinput" name="org_areas" id="areas" type="text" value="" data-role="tagsinput" />
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-cons org-submit" id="submitForm2" type="submit"><i class="icon-ok"></i> Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form class="form-no-horizontal-spacing" id="form-organisation3" novalidate="novalidate"  action="/admin/update_org/{{ org.id }}/update_branches" method="post">
                        <div class="row form-row">
                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold" >States-Regions-Areas</span></h3>
                                <br>
                                <select id="regions_3" name="org_data" style="width:100%" class="select2 form-control" >
                                    {% for area in areas %}
                                        <option value='{{ area.state.id }},{{ area.region.id }},{{ area.id }}'>{{ area.state.state_name }}--{{ area.region.region_name }}--{{ area.area_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row form-row">

                            <div class="col-md-12">
                                <h3>Select <span class="semi-bold">Branches</span></h3>
                                <br>
                                <div class="input-with-icon  right">
                                    <i class=""></i>
                                    <input class="span12 tagsinput" name="org_branch_data" id="org_branches" type="text" value="" data-role="tagsinput" />
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-cons org-submit" id="submitForm3" type="submit"><i class="icon-ok"></i> Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            $("#states_2").select2();
            $("#states_3").select2();
            $("#regions_2").select2();
            $("#regions_3").select2();
            $("#areas_2").select2();
            $("#areas_3").select2();

            $(".org-submit").click(function(){
                $("#form-organisation").submit();
            });
            //$("#multi-region").select2();


        });


    </script>


{% endblock %}