{% extends "base.html" %}
{% set active_page = 'organisation' %}

{% block maincontents %}
  <div class="row">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body grid-page-title">
          <h3 class="inline">Change <span class="semi-bold">Password</span></h3>
          <h3 class="v-align-middle pull-right"><a href="{{ url_for("admin_views.admin_organisation_emp_password", org_id=org.id, emp_id=employee.id) }}">{{ org.name }}</a></h3>
          <div class="clearfix"></div>
        </div>
        <div class="grid-body">
          <form class="form-no-horizontal-spacing" id="form-organisation-emp" method="post" action="{{ url_for("admin_views.admin_organisation_emp_password", org_id=org.id, emp_id=employee.id) }}">
            <div class="row column-seperation">
              <div class="col-md-6">
                <h4>{{ employee.name }}</h4>
                <div class="row form-row">
                  <div class="col-md-7">
                    <div class="input-with-icon  right">
                      <h5 for="password">New Password</h5>
                      <input name="password" type="password" class="password" id="password" class="form-control" value=""/>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-with-icon  right">
                      <h5 for="password">Change Password</h5>
                      <input name="confirm_password" type="password" class="password" id="confirm_password" class="form-control" value=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="pull-right">
                <button class="btn btn-small btn-cons btn-danger" type="submit">Change Password</button>
                <button class="btn btn-small btn-cons btn-info cancel-button" href="{{ url_for("admin_views.admin_organisation_add_emp", org_id=org.id) }}">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js_scripts %}
  <script media="screen" type="text/css">
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('form').validate({
        errorElement: 'span',
        errorClass: 'error',
        focusInvalid: false,
        ignore: "",
        rules : {
          password : {
            required : true,
            minlength: 3
          },
          confirm_password : {
            required : true,
            equalTo : "#password",
            passwordMatch: true
          }
        },
        messages : {
          password : "Minimum length of password is 3 characters",
          confirm_password : "Enter confirmed password same as password"
        },
        invalidHandler: function (event, validator) {
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
      $('.cancel-button').click(function(){
          location.href = '{{ url_for("admin_views.admin_organisation_add_emp", org_id=org.id) }}';
      });
    });
  </script>
{% endblock %}
