{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                  <h3>Admin <span class="semi-bold">Actions</span></h3>
                </div>
                <div class="grid-body ">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/add_emp">Add Employee</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/add_product">Add Products</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/settings">Settings</a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                             <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/cgt1_questions">CGT1 Questions</a>
                        </div>
                        <div class="col-md-4">
                             <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/cgt2_questions">CGT2 Questions</a>
                        </div>
                        <div class="col-md-4">
                             <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/grt_questions">GRT Questions</a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/psychometric_questions">Psychometric Test </a>
                        </div>
                        <div class="col-md-4">
                             <a class="btn btn-small btn-block btn-success" type="button" href="/admin/organisation/{{ org.id }}/telecalling_questions">Tele Calling Questions</a>
                        </div>
                        <div class="col-md-4">
                             <a class="btn btn-small btn-block btn-success" type="button" href="/admin/update_org/{{ org.id }}">Update Info</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4> <span class="semi-bold">Employees</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-emp-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >#</th>
                            <th style="width:20%">EMP ID</th>
                            <th style="width:23%">NAME</th>
                            <th style="width:25%">EMAIL</th>
                            <th style="width:22%">ROLES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emp in employees %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">{{ emp.id}}</td>
                                <td class="v-align-middle">{{ emp.first_name }}</td>
                                <td><span class="muted">{{ emp.email }}</span></td>
                                <td><span class="muted">{{ emp.roles }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4> <span class="semi-bold">Products</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="organisation-product-table">
                        <thead>
                        <tr >
                            <th style="width:1%" >#</th>
                            <th style="width:20%">Product ID</th>
                            <th style="width:23%">Product NAME</th>
                            <th style="width:25%">Loan Amount</th>
                            <th style="width:22%"># of Installments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product  in products %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">{{ product.id}}</td>
                                <td class="v-align-middle">{{ product.product_name }}</td>
                                <td>{{ product.loan_amount }}</td>
                                <td>{{ product.number_installments }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            var responsiveHelper = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone : 480
            };

            var tableElement = $('#organisation-emp-table');
            tableElement.dataTable( {
                "pageLength": 100,
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });
            $('#organisation-emp-table_wrapper .dataTables_length select').addClass("select2  select2-wrapper span12"); // modify table per page dropdown


            var tableElement = $('#organisation-product-table');
            tableElement.dataTable( {
                "pageLength": 100,
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });
            $('#organisation-product-table_wrapper .dataTables_length select').addClass("select2  select2-wrapper span12");

            $(".select2 ").select2();
        });
    </script>
{% endblock %}