{% extends "admin_base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Loan <span class="semi-bold">Applications</span></h3>
            <p>Note: Results are loaded after selecting organisation </p>
        </div>
    </div>

    <form method="post" action="/admin/applications">
    <div class="row">
        <div class="col-md-6 form-group">
            <select id="source" style="width:100%" name="app-org">
            {% for org in organisations %}
                <option value="{{ org.id }}">{{ org.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <input class="form-control" type="text" placeholder="search by application id" name="app-id">
        </div>
        <div class="col-md-3 form-group">
            <select id="app-group" style="width:100%" class="select2" name="app-group">
                <option selected disabled>search by group</option>
                {% for group in groups %}
                <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4 form-group">
            <select id="app-status" style="width:100%" class="select2" name="app-status">
                <option selected disabled>search by status</option>
                {% for status in status_types %}
                <option value="{{ status.status }}">{{ status.status }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1 form-group">
          <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
        </div>
    </div>
    </form>

    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4>Loan <span class="semi-bold">Application</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="loan-applications">
                        <thead>
                        <tr>
                            <th width="5"  >#</th>
                            <th width="10"  class="text-center">Application ID</th>
                            <th width="10"  class="text-center">Group Name</th>
                            <th width="10"  class="text-center">Date</th>
                            <th width="15"  class="text-center">Status</th>
                            {% if user.roles[0]!="EMP_EXECUTIVE" %}
                                <th width="30" class="text-center">Action</th>
                                <th width="10"  class="text-center">Log</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in applications %}
                        <tr>
                            <td class="v-align-middle">{{ loop.index }}</td>
                            <td class="v-align-middle ">
                                <ins><a href="/admin/organisation/{{ app.organisation.id }}/application/{{ app.application_id }}">{{ app.application_id }}</a></ins>
                            </td>
                            <td class="v-align-middle">{{ app.group.group_name }}</td>
                            <td>{{ app.date_created|dateformat }} {{ app.date_created|timeformat }}</td>
                            <td>{{ app.current_status.status }}</td>
                            {% if user.roles[0]!="EMP_EXECUTIVE" %}
                            <td>
                                <a class="btn btn-small btn-info btn-small" href="/admin/organisation/{{ app.organisation.id }}/application/{{ app.application_id }}/cashflow" >Cashflow</a>
                            </td>
                            <td>
                                <a class="btn btn-small btn-info btn-small" href="/admin/organisation/{{ app.organisation.id }}/application/{{ app.application_id }}/track" >Status</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            var responsiveHelper = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone : 480
            };

            var tableElement = $('#loan-applications');
            tableElement.dataTable( {
                "pageLength": 100,
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });

            $('#loan-applications_wrapper .dataTables_length select').addClass("select2 select2-wrapper span12"); // modify table per page dropdown
            $(".select2 ").select2();
        });
    </script>
{% endblock %}