{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<br/>
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left"><h4>RBI <span class="semi-bold"> Compliances and Guidelines</span></h4></th>
                            <th style="width:200px" class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Loan cycle 1 limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_rbi" value="{{ settings.loan_cycle_1_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Loan cycle 1 plus limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="loan_cycle_1_plus_rbi" value="{{ settings.loan_cycle_1_plus_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>One Year Tenure limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="one_year_tenure_limit_rbi" value="{{ settings.one_year_tenure_limit_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Household income Rural limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_rural_rbi" value="{{ settings.hh_annual_income_limit_rural_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Household income Urban limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="hh_annual_income_limit_urban_rbi" value="{{ settings.hh_annual_income_limit_urban_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Total indebtness (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="total_indebtness_rbi" value="{{ settings.total_indebtness_rbi }}" /></td>

                        </tr>
                        <tr>
                            <td>Max existing loan limit (RBI)</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="max_existing_loan_count_rbi" value="{{ settings.max_existing_loan_count_rbi }}" /></td>

                        </tr>

                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left"><h4>ADMIN <span class="semi-bold"> Settings</span></h4></th>
                            <th style="width:200px" class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>Sevice Tax</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="sales_tax" value="{{ settings.sales_tax }}" /></td>

                        </tr>

                        </tbody>
                    </table>
                    <div class="form-actions">

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>
                    <h4>Access Settings <span class="semi-bold"> Executive</span></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Data Entry</h5>
                                <input id="ex_de_yes" type="radio" name="ex_data_entry" value="yes" checked="checked">
                                <label for="ex_de_yes">Yes</label>
                                <input id="ex_de_no" type="radio" name="ex_data_entry" value="no" >
                                <label for="ex_de_no">No</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Cash Flow Approval</h5>
                                <input id="ex_cfa_yes" type="radio" name="ex_cash_flow_analysis" value="yes">
                                <label for="ex_cfa_yes">Yes</label>
                                <input id="ex_cfa_no" type="radio" name="ex_cash_flow_analysis" value="no" checked="checked">
                                <label for="ex_cfa_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>View Report</h5>
                                <input id="ex_vr_yes" type="radio" name="ex_view_reports" value="yes">
                                <label for="ex_vr_yes">Yes</label>
                                <input id="ex_vr_no" type="radio" name="ex_view_reports" value="no" checked="checked">
                                <label for="ex_vr_no">No</label>
                            </div>
                        </div>
                    </div>

                    <h4>Access Settings <span class="semi-bold"> Manager</span></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Data Entry</h5>
                                <input id="manager_de_yes" type="radio" name="manager_data_entry" value="yes"  checked="checked">
                                <label for="manager_de_yes">Yes</label>
                                <input id="manager_de_no" type="radio" name="manager_data_entry" value="no">
                                <label for="manager_de_no">No</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Cash Flow Approval</h5>
                                <input id="manager_cfa_yes" type="radio" name="manager_cash_flow_analysis" value="yes" checked="checked">
                                <label for="manager_cfa_yes">Yes</label>
                                <input id="manager_cfa_no" type="radio" name="manager_cash_flow_analysis" value="no" >
                                <label for="manager_cfa_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>View Report</h5>
                                <input id="manager_vr_yes" type="radio" name="manager_view_reports" value="yes">
                                <label for="manager_vr_yes">Yes</label>
                                <input id="manager_vr_no" type="radio" name="manager_view_reports" value="no" checked="checked">
                                <label for="manager_vr_no">No</label>
                            </div>
                        </div>
                    </div>

                    <h4>Access Settings <span class="semi-bold"> VP</span></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Data Entry</h5>
                                <input id="vp_de_yes" type="radio" name="vp_data_entry" value="yes"  >
                                <label for="vp_de_yes">Yes</label>
                                <input id="vp_de_no" type="radio" name="vp_data_entry" value="no">
                                <label for="vp_de_no">No</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>Cash Flow Approval</h5>
                                <input id="vp_cfa_yes" type="radio" name="vp_cash_flow_analysis" value="yes" checked="checked">
                                <label for="vp_cfa_yes">Yes</label>
                                <input id="vp_cfa_no" type="radio" name="vp_cash_flow_analysis" value="no" >
                                <label for="vp_cfa_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio radio-success">
                                <h5>View Report</h5>
                                <input id="vp_vr_yes" type="radio" name="vp_view_reports" value="yes" checked="checked">
                                <label for="vp_vr_yes">Yes</label>
                                <input id="vp_vr_no" type="radio" name="vp_view_reports" value="no">
                                <label for="vp_vr_no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}