{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <h3>Admin <span class="semi-bold">Reports</span></h3>
        <br>
    </div>
    <div class="row">

        <div class="col-md-4">
            <select id="applicationstatus"  style="width:100%">
                <option value="1">Master (All data input captured by LA+KYC+CB)</option>
                <option value="2">All data inputs captured by LA+KYC</option>
                <option value="3">Data entry Done</option>
                <option value="4">CB check Done</option>
                <option value="5">Cash flow Analysis Done</option>
                <option value="6">Disbursment Documentation Done</option>
                <option value="7">Disbursed</option>
            </select>
        </div>
        <div class="col-md-8">
            <div class="input-daterange" id="datepicker" >
                <input type="text" class="input-small" name="start-date" id="start-date" />
                <span class="add-on" style="vertical-align: top;height:30px">to</span>
                <input type="text" class="input-small" name="end" id="end-date" />
                <a href="#" class="btn btn-sm btn-info" id="generate_button">Generate</a>
                <a href="#" class="btn btn-sm btn-info" id="generate_button_as_of">Reports as on Now</a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <select id="source" style="width:100%">
                {% for org in  organisations %}
                    <option value="{{ org.id }}">{{ org.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select id="region" style="width:100%">

            </select>
        </div>
        <div class="col-md-4">
            <select id="branch" style="width:100%">

            </select>
        </div>
    </div>


    <div class="row-fluid">

        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4>Application <span class="semi-bold">List</span></h4>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="example">
                        <thead>
                        <tr>
                            <th style="width:1%" >
                                <div class="checkbox check-default">
                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox10"></label>
                                </div>
                            </th>
                            <th style="width:10%">Application ID</th>
                            <th style="width:10%">Applicant Name</th>
                            <th style="width:10%">Source</th>
                            <th style="width:20%">Date</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for app in  tagged_applications %}
                            <tr >
                                <td class="v-align-middle">
                                    <div class="checkbox check-default">
                                        <input id="checkbox11" type="checkbox" value="1">
                                        <label for="checkbox11"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle clickable-row" data-href='/admin/organisation/{{ app.organisation.id }}/application/{{ app.application_id }}/'><ins>{{ app.application_id }}</ins></td>
                                <td class="v-align-middle"><span class="muted">{{ app.upload_type }}</span>
                                </td>
                                <td><span class="muted">{{ app.date_created }}</span>
                                </td>
                                <td class="v-align-middle">
                                    <div class="progress">
                                        <div data-percentage="2%"  class="progress-bar progress-bar-danger animate-progress-bar"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#source").select2({
                placeholder: "Select a State",
                allowClear: true
            });
            $('#source').select2()
                    .on("change", function (e) {
                        // mostly used event, fired to the original element when the value changes
                        console.log("change val=" + e.val);
                    })
                    .on("select2-close", function () {
                        console.log($("#source").val());
                        var type = $("#source").val();
                        $.getJSON("/admin/organisation/"+type+"/regions",function( data ){
                            console.log(data);
                            for(i=0;i < data.length;i++){
                                console.log(data[i]["name"])
                                $("#region").append("<option value="+data[i]["id"]+">"+data[i]["name"]+"</option>")
                            }
                            $("#region").select2();
                        });
                        $.getJSON("/admin/organisation/"+type+"/applications",function(data){
                            console.log(data);
                            for(i=0;i < data.length;i++){
                                console.log(data[i])
                            }
                        })
                    });

            $("#branch").select2();

            $("#region").select2();
            $('#region').select2()
                    .on("change", function (e) {
                        // mostly used event, fired to the original element when the value changes
                        console.log("change val=" + e.val);
                    })
                    .on("select2-close", function () {
                        console.log($("#source").val());
                        var type = $("#source").val();
                        $.getJSON("/admin/organisation/"+type+"/branches",function( data ){
                            console.log(data);
                            for(i=0;i < data.length;i++){
                                console.log(data[i]["name"])
                                $("#branch").append("<option value="+data[i]["id"]+">"+data[i]["name"]+"</option>")
                            }
                            $("#branch").select2();
                        });
                    });
            $("#applicationstatus").select2({
                placeholder: "choose report type",
                allowClear: true
            });

            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
        $(document).ready(function () {

            $('.input-daterange').datepicker({
                todayBtn: "linked"
            });
            $("#generate_button").click(function() {
                console.log($("#start-date").val());
                console.log($("#end-date").val());
                if(checkDateRange($("#start-date").val(),$("#end-date").val())){
                    window.open("/reports/download?type");
                }
            });

            function checkDateRange(start, end) {
                // Parse the entries
                var startDate = Date.parse(start);
                var endDate = Date.parse(end);
                var today = new Date();

                // Make sure they are valid
                if (isNaN(startDate)) {
                    smoke.signal("The start date provided is not valid, please enter a valid date.", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    })
                    return false;
                }
                if (isNaN(endDate)) {
                    smoke.signal("The end date provided is not valid, please enter a valid date.", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    })
                    return false;

                }
                // Check the date range, 86400000 is the number of milliseconds in one day
                var difference = (endDate - startDate) / (86400000 * 7);
                if (difference < 0) {
                    smoke.signal("The start date must come before the end date!...", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    });
                    return false;

                }
                if (endDate - today > 0) {
                    smoke.signal("End date cannot be greater than today!...", function(e){
                    }, {
                        duration: 2000,
                        classname: "custom-class"
                    });
                    return false;
                }
                return true;
            }

        });
    </script>
{% endblock %}