{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<div class="col-md-12">
    <div class="grid simple">
    <div class="grid-body no-border"><br>
<center><h2>Loan Agreement cum Guarantee Bond</h2></center>

   THIS INDENTURE made at___________________________________________________________________________________________________________________________________                                    on   between


        (1)_______________________________________________________     ,    (2)_____________________________________________________                                                                   ,
        (3)_______________________________________________________     ,   	(4)_____________________________________________________                                                                   ,
        (5)_______________________________________________________     ,   	(6)_____________________________________________________,
        (7)_______________________________________________________     ,   	(8)_____________________________________________________             ,
        (9)_______________________________________________________     ,   	(10)____________________________________________________              ,
        (11)______________________________________________________     ,   	(12)____________________________________________________             ,
        (13)_______________________________________________________    ,   	(14)____________________________________________________             ,
        (15)_______________________________________________________    ,   	(16)____________________________________________________             ,
        (17)_______________________________________________________    ,  	 (18)___________________________________________________              ,
        (19)________________________________________________________   ,   	(20)_____________________________________________________             ,

        <br>
        <br>
        <center>AND</center>

        M/S. HINDUSTHAN MICROFINANCE PVT. LTD., having its registered office at 706 “B” Wing, Sagar Tech Plaza, Andheri Kurla Road, Sakinaka, Andheri (East), Mumbai-400072 and branch office at:
         ___________________________________________________________________________________________________________________________________________________
        __________________________________________________________________________

         <br>
        <br>


        WHEREAS:-
          <br>
        <br>

        Aforesaid Guarantors or the members of Joint Liability Group/Self Help Group approached to the
        Company with request to advance loan to their members.  The Company is engaged in advancing
        Micro Finance to such members of JLG/SHG agreed to disburse loan on conditions as under:-

           <center>NOW THIS LOAN AGREEEMENT CUM GUARANTEE WITNESS AS UNDER:-</center>

        1) The Company has agreed to disburse loan to each and every members of JLG/SHG and for the said purpose application is to be made in prescribed form.<br>

        2) The Loan Application is to be executed by Individual Borrower who is a member of JLG/SHG Group. However remaining members will be surety to the loan disbursed to any of the members of JLG/SHG Group.<br>

        3) We the Guarantor the members of JLG/SHG Group do hereby agree and undertake that our loan liability is Joint and if any one of us failed to repay amount disbursed to any of our members same will be liable for everyone of us.<br>

        4) This Agreement will be in force till the repayment of loan dues of every one of us.<br>

        5) If any default is made by any member/s of JLG/SHG in the payment of loan more than specifically stated in the loan application and promissory note or any part thereof and or before due date or any instalment thereof or any interest thereof, the Guarantors hereby guarantee, covenant agree and undertake to the Hindusthan Microfinance Pvt. Ltd. to pay the amount and or entire loan dues along with interest and shall indemnify and keep indemnified Hindusthan Microfinance Pvt. Ltd. its officers against any loss of principle amount and interest.<br>

        6) The Guarantors hereby admit and record and confirm that the Guarantors are aware of all loan and company terms and conditions, covenants stipulation of loan application/ sanction letter/promissory note and we the Guarantors will deal and faithfully abide by and observe and perform all the terms and conditions stated therein the loan application/ sanction letter/promissory note.<br>

        7) This Loan Agreement cum Guarantee Bond shall be enforced against all the members of JLG/SHG. In order to give effect to the Loan Agreement cum Guarantee Bond herein contained, Hindusthan Microfinance Pvt. Ltd., shall be entitled   to act as Guarantor/Members of JLG/SHG are principle debtors for all payments and covenants and Hindusthan Microfinance Pvt. Ltd., is entitled to recover the said amount from member of JLG/SHG.<br>

        8) This Loan Agreement cum Guarantee Bond will be in force for the loans of each and every member of the Joint Liability Group (JLG) / Self Help Group (SHG).
The member of JLG/SHG admits that being Guarantor they have read this Loan Agreement cum Guarantee Bond and are  fully conversant with the contents thereof.<br>

        <br>

        <b>Terms and Conditions of the Loans are as follows:-</b> The following terms and conditions will be applicable to the above loan
        <br>
        <br>
        1) The loan is being given for a maximum period of ________ months<br>

        2) The rate of Interest charged for the given loan is ________% p.a. on reducing balance with monthly rest.<br>

        3) While taking a loan a member has to pay 1% of the loan amount as the processing fees and insurance amount as actual.	<br>

        4) The period of moratorium between the grant of the loan and the due date of the repayment of the first installment will be minimum 30 days and maximum of 45 days<br>

        5) All borrowers/members to handover the loan installment amount to Group leader at the meeting centre in presence of HMPL, Customer Service Provider (CSP).<br>

        6) It is Compulsory for the Borrower to keep her Loan card & Installment Payment Receipt safely till final closure of loan. Loan card & Installment paid receipt should be kept with the borrower and not to be handed over to any other person.<br>

        7) In case the installment due date falls on a Sunday/Festival/Public holiday collection will be done 1 day prior to the collection/due date.<br>

        8) For any additional/excess EMI payment or for pre-closure of loan amount, borrower is required to visit the Branch from where the loan has been sourced along with the Group Leader & collect payment receipt for the same.<br>

        9) If any of the group member fails to repay the installment amount then entire group is required to contribute and repay the installment amount under JLG Loan Agreement.<br>

        10) Loan should be utilized only for the purpose for which the loan is sanctioned.<br>

        11) Borrowers should not pay the HMPL staff or anyone else anything other than the Insurance fees and loan installment mentioned on the loan card. Company will not be held responsible for any kind of personal transactions being done with HMPL staff.<br>

        12) All the financial transaction of the organization with the member is to be done only in the meeting centre.<br>

        13) Any violation of the above Terms and Conditions will be considered non-compliance and the company has right to recover the entire loan amount from the Borrower.<br>

        14) Interest on loan will be applied for the entire month irrespective of the date of Loan repayment/due date.<br>

        15) HMPL staff will not use any abusive language with borrowers and others.<br>

        16) HMPL staff will not use any arm twisting technique to collect the money.<br>

        17) HMPL will be accountable for preventing inappropriate staff behaviour.<br>

        18) Interest rate on loans are subject to periodic revision and all changes in interest rate shall be applicable prospectively only and not retrospectively.<br>

        19) No penalty charges for delayed payments. No margin money or security deposit taken.
20) Foreclosures/Partial Pre- Payment Charges : NIL.<br>

        21) The borrower hereby agrees and authorizes to share the details of his/her information to Credit Bureau, any of the associates of HMPL to facilitate the customer to deserve the benefit of purchases / availing services from any of such associates.  HMPL will respect the borrower’s privacy and will treat borrower information as private and confidential<br>

        22) *Any violation of the above Terms and Conditions will be considered non-compliance and the company has right to recover the entire loan amount from the Borrower.<br>

        23) Grievance Redressal: For any collection and service related complaints, customers are advised to contact their nearest HMPL branch or its Grievance Redressal Office (GRO) at the following address :<br>

        <br>
        <br>

       <b> GRO Name :________________________________________________________________ Head – Centralized Processing Unit </b>

        <br>
        <br>

        Customer Grievance Cell Hindusthan Microfinance Pvt Ltd, Hindusthan Bhavan, 1st Floor, Ambedkar Nagar,
Kurla Andheri Road, Jarimari, Kurla (West), Mumbai-400072 Tel.No. : +91 9619879258
You can call us to complain without mentioning your name and personal details (Anonymous). We will investigate and take appropriate action. If the complaint/Dispute is not redressed within a period of one month, you (borrower) may appeal to the Officer-In-Charge of the Regional Office of Reserve Bank of India at the following address:<br>
Officer-In-Charge / DNBS Nodal Officer, Department of Non-Banking Supervision, Reserve Bank of India ,Mumbai Regional Office,3rd Floor, Garment House, Dr. Annie Besant Road, Worli, Mumbai – 400 018

         <br>
        <br>

        <b> 24) TRANSPARENCY & FAIR LENDING PRACTICES</b>

        <br>
        <br>

        HMPL field staff dealings with borrowers will be open, fair and ethical<br>
        HMPL field staff shall explain all the features, benefits, terms/conditions and pricing of our services including all fees, charges and interest rate on an annual declining basis, during Compulsory Group Training (CGT) and loan appraisal process.<br>
        HMPL will make best efforts to ensure that the loans provided are within the borrower’s capacity to repay and avoid over indebtedness.<br>
        HMPL staff will not use any abusive language with borrowers and others.<br>
        HMPL staff will not use any arm twisting technique to collect the money<br>


        <br>

        IN WITNESS WHEREOF the Guarantors/Members of JLG/SHG have hereunto set their respective hands and seals at _______________________________________ on the day and date mentioned hereinabove.
SIGNED SEALED AND DELIVERED                  }
By the within named                                            }

        <br>
        <br>

          (1)_______________________________________________________     ,    (2)_____________________________________________________                                                                   ,
        (3)_______________________________________________________     ,   	(4)_____________________________________________________                                                                   ,
        (5)_______________________________________________________     ,   	(6)_____________________________________________________,
        (7)_______________________________________________________     ,   	(8)_____________________________________________________             ,
        (9)_______________________________________________________     ,   	(10)____________________________________________________              ,
        (11)______________________________________________________     ,   	(12)____________________________________________________             ,
        (13)_______________________________________________________    ,   	(14)____________________________________________________             ,
        (15)_______________________________________________________    ,   	(16)____________________________________________________             ,
        (17)_______________________________________________________    ,  	 (18)___________________________________________________              ,
        (19)________________________________________________________   ,   	(20)_____________________________________________________             ,
<br>
        <br>

        in the presence of                                              	   	 }
________________________________________________
SIGNED SEALED AND DELIVERED                  		 }
By the within named                                           		 }
<b>M/S. HINDUSTHAN MICROFINANCE PVT.LTD.</b>      	  }
   in the presence of                                                     	  	}
_________________________________________________




</div>
        </div>
    </div>








{% endblock %}