
{% extends "base_other.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <h2 class="text-center">HINDUSTHAN MICROFINANCE PVT. LTD.</h2>
                    <div class="text-center">
                        <!--<img src="{{ url_for('static', filename='img/logo-esthenos.png')}}"-->
                             <!--height="50" alt="">-->
                        <address>
                            <strong>  PROMISSORY NOTE </strong><br>
                        </address>
                    </div>

                   <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left">
                                Branch Name:  _____________________
                           <br>
                                       Date:  _____________________
                           <br>
                                       Rs:    _____________________
                           <br>
                            </div>
<br>
<br>

                        On demand, I/ We _______________________________________________________________________________________________________________________________________                                                                                                                                                         Jointly <br>
and severally promise to pay HINDUSTHAN MICROFINANCE PVT. LTD. a sum of Rs. ____________________________________________                  .
(Rupees                                                                                                                                only) with interest @_______________           % on reducing balance with monthly rest on account of the consideration as specified below:-
<br>
<br>
<br>


Loan of Rs._____________________________________                    Received by me from <b> HINDUSTHAN MICROFINANCE PVT. LTD.</b> on ________________________________________   by cheque no. _____________________________________________     dated ________________________________________ drawn on _______________________________________ Branch________________________________.








                    <br>
                    <br>


                    <h5 class="text-right text-black"> Signature of Borrower </h5>
                    <!--<h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>-->
                    <br>
                    <br>
                </div>
            </div>

        </div>
     </div>






{% endblock %}