{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
<style type="text/css">
    @font-face {
        font-family: kruti dev ;
        src: url('/home/esthenos/esthenos_cust_enrollment/esthenos/static/fonts/AYOGNI_N.TTF');
    }

    .hinditext-large {
        font-family: kruti dev;
        font-size:22px;
    }
    .hinditext-medium {
        font-family: kruti dev;
        font-size:14px;
    }
    .english{
        font-family: Tahoma;
    }
    .hinditext {
        font-family: kruti dev;
        font-size:12px;
    }
    .font-small{
        font-size:8px;
    }
    .font-vsmall{
        font-size:7px;
    }
    .font-small tr{
        line-height: 15px;
        min-height: 15px;
        height: 15px;
        font-size:8px;
    }
    .p{
        padding-top: 2px;
        padding-bottom: 2px;
    }

</style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<div class="col-md-12">
    <center><h2 class="hinditext-large">keÀpe& keÀjej Je neceer yee@C[</h2></center>
    <div class="hinditext">
        <p>ne keÀpe& keÀjej Je neceer yee@C[ Deepe efoveebkeÀ <spam class="english">{{ disbursement_date|dateformat }}</spam> jespeer  <spam class="english">{{ disbursement_date|fulldayformat }}</spam>  n³ee efþkeÀeCeer efuentve þsJeC³eele Deeues.</p>
        <table  id="repayment" style="width: 60%;" class="table table-bordered table-condensed font-small">
            {% for n in range(1,21,2) %}
                <tr >
                    {% if apps[n-1] %}
                    <td>{{ n }} <span class="english font-small">{{ apps[n-1].applicant_name }}</span></td>
                    {% endif %}
                    {% if apps[n] %}
                    <td>{{ n + 1 }} <span class="english font-small">{{ apps[n].applicant_name }}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <img src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/LA_Page1.jpg"
             style="width: 80%;" alt="">

        <img src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/LA_Page2.jpg"
             style="width: 80%;" alt="">

        <p>
            <b>ne keÀpe& keÀjej Je nceer yee@C[ Jej GuuesKe kesÀuesu³ee efoveebkeÀ <spam class="english">{{ disbursement_date|dateformat }}</spam> ³esLes efuentve osC³eele Deeuee.</b><br/>
            mJee#eebefkeÀle, meerueyebo DeeefCe efJeleefjle
        </p>

       <table  id="repayment2" style="width: 100%;" class="table table-bordered table-condensed font-small">
            {% for n in range(1,21,2) %}
                <tr >
                    <td style="width: 50%;">{{ n }}</td>
                    <td style="width: 50%;">{{ n + 1 }}</td>
                </tr>
            {% endfor %}
        </table>

        <img src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/LA_Page2_b.jpg"
             style="width: 80%;" alt="">
    </div>
</div>


{% endblock %}