    {% extends "base_pdf.html" %}
    {% block css_sheets %}{{ super() }}

    {% endblock %}

    {% block action_bar %}

    {% endblock %}
    {% block maincontents %}


        <div class="col-md-10 col-md-offset-1" style="background: #ffffff;">
        <div class="pull-left">
            <img src="{{ url_for('static', filename='img/logo-icon.png')}}"
                 height="50" alt="">
            <address>
                <strong>eSthenos Financial Services Limited</strong><br>
            </address>
        </div>
        <div class="pull-center">
            <h2> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Schedule “A”</h2>
        </div>

        <div class="clearfix">
            <h4>
                <div class="pull-left"> <span class="small">This is the part and parcel of the loan agreement i.e. LOAN AND JOINT LIABILITY GUARANTEE AGREEMENT executed between the Lender
    and the Borrowers. The schedule “A” is hereby AGREED and SIGNED by the Borrowers and the Lender.
                                </span>
                </div>


                <div class="clearfix"></div>
            </h4>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>

                    <tr>
                        <td>1</td>
                        <td class="text-left" class="text-right">Tenure/Term of the loan</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="text-left" class="text-right">Rate of Interest</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="text-left" class="text-right">Disbursal Date</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="text-left" class="text-right">Jurisdiction of agreement</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="text-left" class="text-right">Repayment frequency</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td class="text-left" class="text-right">Purpose of loan facility</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td class="text-left" class="text-right">Group Name | Code</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="text-left" class="text-right">Center Name | Code</td>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td class="text-left" class="text-right">Group Size</td>
                        <td class="text-left"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>

                    <tr>
                        <td>10</td>
                        <td class="text-left" class="text-right">Hamlet or Locality</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>11</td>
                        <td class="text-left" class="text-right">Census Village or in Town/City</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>12</td>
                        <td class="text-left" class="text-right">Taluk/Sub-District</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>13</td>
                        <td class="text-left" class="text-right">District</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>14</td>
                        <td class="text-left" class="text-right">State</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>15</td>
                        <td class="text-left" class="text-right">Pin Code</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>16</td>
                        <td class="text-left" class="text-right">Branch Name</td>
                        <td class="text-left"></td>

                    </tr>
                    <tr>
                        <td>17</td>
                        <td class="text-left" class="text-right">Region Name</td>
                        <td class="text-left"></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>



        <br>
        <br>
        <div class="pull-left">All below Borrowers are resident of above detailed (10) Village / Locality, (11) Census Village/ Town/City , (12) Taluk / Sub District, (13)
            District, (14) State & (15) Pin Code being borrowers from above detailed (16) Branch, (17) Region of Future Financial Services Ltd. and
            signing this agreement on above (03) Disbursal Date at the Branch Office of Future Financial Services Ltd.
            <!--<span class="semi-bold">Group1</span>  Centre: <span class="semi-bold">Center1</span>-->
            <!--Region: <span class="semi-bold">Region1</span>.-->
        </div>
        <div class="clearfix"></div>
        </h4>


        <div class="pull-left"> The details of payments are mentioned in the below Table.</div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:15%"> No</th>

                <th style="width:25%" class="text-center">NAME OF BORROWER,GUARANTOR NAME, RELATIONSHIP WITH GUARANTOR</th>

                <th style="width:20%"class="text-center">AGE AND VOTER ID & RATION ID</th>

                <th style="width:20%"class="text-center" >LMS MEMBER CODE &  ACCOUNT NO</th>

                <th style="width:15%">LOAN AMOUNT</th>

                <th style="width:15%"class="text-center">SIGNATURE</th>

            </tr>
            </thead>
            <tbody>
            <!--{% for n in range(1,15) %}-->
                <tr>
                    <td></td>
                    <td class="text-left" class="text-right"></td>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                    <td class="text-left"></td>
                    <td class="text-left"></td>

                </tr>
                <!--{% endfor %}-->

            </tbody>
        </table>


        <br>
        <br>

        <div class="col-md-3"><br>

            <div>
                <div class="pull-left"> DATE :</div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </div>
            <div>
                <div class="pull-left"> PLACE :</div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </div>
            <br>
        </div>
        <h5 class="text-right text-black">For eSthenos Services Ltd</h5>
        <h5 class="text-right semi-bold text-black">Authorized Signatory</h5>
        <h5 class="text-right semi-bold text-black">[BM/ABM]</h5>
        <br>
        <br>
        </div>

    {% endblock %}
