{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
<style type="text/css">
    @font-face {
        font-family: kruti dev ;
        src: url( '/Users/prathvi/Current/esthenos/esthenos/static/fonts/AYOGNI_N.TTF' );
    }

    .hinditext {
        font-family: kruti dev;
        font-size:14px;
    }
</style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<div class="col-md-12">
    <div class="grid simple">
    <div class="grid-body no-border"><br>
<center><h2>Loan Agreement cum Guarantee Bond</h2></center>
        <div class="hinditext">
            ne keÀpe& keÀjej Je neceer yee@C[ Deepe efoveebkeÀ                       jespeer                                 n³ee efþkeÀeCeer efuentve þsJeC³eele Deeues.

            1............................................     2............................................
            3............................................     4............................................
            5............................................     6............................................
            7............................................     8............................................
            9............................................     10............................................                        efuentve osCeej
            11............................................   12............................................
            13............................................   14............................................
            15............................................   16............................................
            18............................................   17............................................
            19............................................   20............................................
            <br/>
            DeeefCe
            efnbogmLeeve cee³e¬eÀesHeÀe³eveevme ÒeeFJesì efueefceìsæ[
            ieeUe ¬eÀceebkeÀ 33 S  efJebiemeeiejHueepeeìskeÀ,
            meekeÀerveekeÀepebkeÌMeve, DebOesjerkeÀguee&jesæ[                                                                                         efuentve IesCeej
            ææDebOesjer ( HetJe& )
            cegbyeF& - 400072
            <p>1.p³eeDeLeer& efuentve osCeej JLG/SLG meom³e  Demetve kebÀHeveer keÀæ[s keÀpe&meeþer Heeþ HegjJeþe keÀjC³ee yeeyele efJevebleer kesÀuesueer Deens.</p>
            <p>2.  DeeefCe p³eeDeLeer& kebÀHeveer cee³e¬eÀesHeÀe³eveevme JLG/SLG ®³ee meom³eevee keÀpe& JeeìHe keÀjle Demeles.</p>
            <p>3. DeeefCe  p³eeDeLeea JLG/SLG ®³ee efJevebleer Jeªve efuentve IesCeej kebÀHeveerves JLG/SLG meom³eebvee keÀpe& JeeìHe keÀjC³ee®es  Keeueerue Deìer Jejleer efveefM®ele kesÀues.</p>

            n³ee keÀpe& Je peeefceve He$e®³ee efve³ece Je Deìer Keeueerue ÒeceeCes:
            <p>1.	efuentve IesCeej kebÀHeveer JLG/SLG ®ee Òel³eskeÀ meom³eeme  He$e HegjJeþe ceeieCeer ÒeceeCes keÀjsve, cee$e keÀpee& ceeieCeer ner efuentve osCeej (ebveer le³eej kesÀuesu³ee keÀpe& ceeieCeer Depee& ceOes®e keÀjeJee ueeiesue.</p>
            <p>2.	keÀpe& ceeieCeer Depe& ne J³ekeÌleerle keÀpe& oejeN³ee mener®ee Demesue cee$e JLG/SLG ®es Flej meom³e keÀpee&me peeefceve Deemeleerue.</p>
            3.	efuentve osCeej Demes ceev³e keÀjleele efkeÀ l³eeb®³ee HewkeÀer                             ³eebvee ª                     efouesues Deens. cee$e meoj keÀpe&e®eer Hejle HesÀæ[ peyeeyeoejer efuentve osCeej ³eeb®³ee meJee¥ Jejleer Deens. keÀpe& LeefkeÀle  Peeu³eeme efuentve IesCeej meoj jkeÌkeÀce JLG/SLG  Group ®³ee  meJe& meom³eeb keÀ[tve DeLeJee kegÀCee SkeÀeb keÀ[tve Jemetueer keÀjleerue Je meJe& LekeÀuesu³ee jkeÌkeÀces®es HetCe& HeCes keÀªve osCee®³eer efuentve osCeej neceer osle Deens.
            4.	efuentve osCeej Demes ceev³e keÀjleele efkeÀ l³eeb®³ee HewkeÀer keÀesCeer SkeÀ meom³eebveer keÀpe& jkeÌkeÀecee®ee nHlee DeLeJee J³eepe YejC³eeceOes nueiepeer& HeCee kesÀu³eeme efuentve IesCeeN³eevee mebHetCe& jkeÌkeÀce ceeieCeer keÀjv³eeme DeefOekeÀej Demegve ner jkeÌkeÀce efuentve osCeej ³eeb®³ee keÀ[tve meb³egkeÌle DeLeJee J³eeqkeÌleiele HeCes Jemetue keÀjC³eeme DeefOekeÀej Demesue.
            5.	efuentve osCeej Demes ceev³e keÀjleele efkeÀ l³eeb®³ee HewkeÀer kegÀCee®ener keÀpe&  Peeu³eeme efuentve IesCeej ³eeb®³eekeÀ[s Hewmes pecee  Demeu³eeme ( mesefJebime , efHeÀkeÌmeef[Hee@efpeì, Deej. [er. Fl³eeefo) meoj Hewmee LeefkeÀle keÀpee& pecee keÀjC³eele efuentve IesCeeN³eeme DeefOekeÀej Deens.
            6.	efuentve osCeej Demes ceev³e keÀjleele efkeÀ l³eeb®³ee HewkeÀer kegÀCee®es ner keÀpe& LeefkeÀle Peeu³eeme meoj jkeÌkeÀces®³ee ceeieCeer kesÀu³ee veblej leeyeæ[leesæ[ Yeªve osCee®³eer peyeeyeoejer Deens.
            7.	efuentveosCeej Demes ceev³e keÀjleele efkeÀ l³eebveer Deìer Je efve³ece Jee®euesu³ee Demetve meoj Deìer Je efve³ece  keÀpee& keÀjej He$e Je®eve ef®e{er, cebpetjer He$e l³eeb®ee Jejleer yebOeve keÀejkeÀ Deeens.
            8.	efuentve osCeej Demes ceev³e  keÀjleele efkeÀ JLG/SLG  Group  keÀesCel³eener ûegHe®³ee meom³eeme  keÀpe& efouesues Demele lejerner efuentve osCeej (eb®eer peeefceveoej cnCetve peyeeyeoejer Demetve  keÀpe& jkeÌkeÀces®³ee JesUsleYejCee keÀjC³ee®eer neceer osle Deens.
            9.	peeefceve keÀjejveecee JLG/SLG  Group ®³ee  keÀesCel³eener meom³ee®ee keÀpe& yeeefkeÀ Demeu³eeme / lees  He³e&vle DeefmelJeele Demesue Je l³eeb®er DecebueyepeeJeCeer keÀjC³ee®ee DeefOekeÀej efuentve IesC³eeN³eeuee Demesue.
            10.	efuentve osCeej Demes efkeÀ ceev³e keÀjleele efkeÀ l³eeb®³ee HewkeÀer SKeeVe keÀpe&oej meom³eeme ce=l³eg Peeu³eeme l³eeb®³ee  keÀpee&®eer peyeeyeoejer efuentve osCeej JejleerDemesue.
            11.	efuentve osCeej Demes ner ceev³e keÀjleele efkeÀ ne peeefceve keÀjejveecee l³eebveer Jee®euesu³ee Demetve l³eeb®³ee HewkeÀer kegÀCeener meom³eeme keÀpe& LeefkeÀle Peeu³eeme l³ee jkeÌkeÀces®ee Yejvee keÀjC³ee®eer peyeeyeoejer efuentve osCeej (eb®³ee Jejleer Deens.
            12.	efuentve osCeej Heg{s Demes efuentve osleele efkeÀ les JLG/SLG Group ®ee Flej meom³eeme keÀpee&me peeefceveoej Demetve mecHetCe& keÀpee& efHeÀìs He³e&vle l³eeb®eer peeefceveoej ®eer efpeccesoejer Demesue lemes®e keÀpe&oej meom³e LeefkeÀle  Peeu³eeme meoj jkeÌkeÀces®ee Yejvee keÀªve osC³ee®eer peyeeyeoejer peeefceveoejer cnCetve efuentve osCeej (eb®eer Demesue.

            keÀpee&®ee  efve³ece Je DeìerKeeueerue efouesu³ee ÒeceeCesDemeleerue ...Keeueerue  efouesu³ee efve³ece Je DeìerJejeruekeÀpee&meeþerueeietHeæ[leerue.

            1.	keÀpe& ns peemleerue peemle                ceefnves ³ee keÀeueeJeOeer meeþer efoues peeF&ue.

            2. efoues peeCeeN³ee keÀpee&meeþer peer J³eepeoj DeekeÀejueepeeF&ue lees 26% Ieìlee ¬eÀce J³eepeoj ceeefmekeÀ efMeuuekeÀ jkeÌkeÀcesJej DeekeÀejuee peeF&ue
            3. keÀpe& IesC³eeb®³ee JesUermeYeemeobevee keÀpe&jkeces®³ee 1 ÒeefleMele  keÀpe&  Òeef¬eÀ³ee MegukeÀcnCetve Je F&vMetjvmejkeÌkeÀceDeens leer YejeJeerueeiesue
            4. keÀpe&efJelejCe Peeu³eeHeemetve  les keÀpee&®eeHeefnueenHlee YejJ³ee®eer efoveebkeÀ  ³eeceOeerue keÀpe&HejleHesÀ[er®eekeÀeueeJeOeerkeÀceerlekeÀceer 30 efoJeme Je peemleerlepeemle 45 efoJemeeb®eejenerue.
            5. meJe&meYeemeoebveer keÀpe& nHl³ee®eer jkeÌkeÀce mebmLes®³ee (HMPL) C.S.P.meceesj®eûegHeefue[jkeÀ[s yewþefkeÀ³e efceìeRie meg© Peeu³eeJej peceekeÀjeJeer.
            6. meYeemeokeÀpe&oejebveerDeeHeues keÀpe& nHl³ee®es keÀe[& Je HeeJel³ee keÀpe&KeelesHetCe& nesF&He³e¥le peHetveþsJeCes DeeJeM³ekeÀ Deens. keÀpe&keÀe[& Je HeeJel³ee mJele;keÀ[s®eþsJeCes, keÀesCeeueenerosT ve³es.
            7. ceeefmekeÀ keÀpe& nHl³ee®³ee efoJeMeerjefJeJeej, meCeefkeÀbyeemeeJe&peefCekeÀmegÆer®eeefoJeme ³esle DemesuelejSkeÀefoJemeDeeOeer keÀpe&nHlee IesC³eele ³esF&ue.
            8.keÀpe&nHleejkeÌkeÀcesHes#eepeemlejkeÌkeÀce YejeJe³ee®eer DemesueefkebÀJee keÀpe&HetCe&HeCes YejeJe³ee®es Demesuelej leer jkeÌkeÀce p³ee MeeKesletve keÀpe&IesleuesDeens. l³ee®e MeeKeslemJele: Je ûegHeefue[jkeÀ[s peeTveYejeJeer Je l³ee®eer HeeJeleer I³eeJeer.
            9.keÀesCeleenerkeÀpe&oejmeYeemeo l³ee®ee ceeefmekeÀ keÀpe&nHlee Yeª MekeÀlevemesuelejie@jbìeryeeB[ JLG keÀpe&keÀjejevegmeejmeJe&keÀpe&oejmeYeemeoebveerJeie&veerkeÀe{gve dl³ee®ee nHleeYejCesyebOevekeÀejkeÀDeens.
            10. meYeemeoebveerIesleuesues keÀpe& ns efouesu³ee keÀejCeekeÀjerlee®eJeeHejCesyebOevekeÀejekeÀDeens.
            11. keÀpe&oejmeYeemeoebveer mebmLes®³ee (HMPL) keÀce&®eeN³ee yejesyej keÀpe&HeÀer, Je FbMegjsvmeke keÀpe&nHlee keÀpe&keÀe[&Jej efou³ee ÒeceeCes ³ee J³eleerefjkeÌle keÀesCeleener J³eJenej keÀª ve³es.  kesÀu³eememebmLee(HMPL)l³eeuee peyeeyeoejjenCeejveener.
            12. keÀpe&oejmeYeemeoeb®esmebmLesyejesyej®es(HMPL)meJe&DeefLe&keÀ J³eJenej ns ûegHeefceìeRieefkebÀJeemebsìjefceìeRie ceO³es®e PeeuesHeeefnpesle.
            13. keÀpee&Jejerue J³eepeoj ns HegCe& ceefnv³ee®es IesleuespeeF&ue. keÀpe&DeeoeleejKes®eeefJe®eejvekeÀjlee.
            14. efnvogmLeeve cee³e¬eÀesHeÀe³eveevme ÒeeFJesìefueefceìsæ[®eekeÀce&®eejer ne keÀesCel³eener ÒekeÀej®eerDeHeceeveemHeo, efMeJeerieeUDemeCeejer Yee<ee keÀpe&oejebvee efkebÀJeeFlejeveeJeeHejCeejveener.
            15. keÀpe&HejleHesÀ[er®eerjkeÌkeÀcemebkeÀuevekeÀjleeveeefnvogmLeeve cee³e¬eÀesHeÀe³eveevme ÒeeFJesìefueefceìsæ[®eekeÀce&®eejeryeengyeuee®ee/ ob[ueMeener®eeJeeHejkeÀjCeejveener.
            16. JeÀpee&&Jejerue J³eepeoj ns mebmLes®³ee (HMPL)efve³eceevetmeej yeoueC³eele ³esleerue J³eepeoj keÀceerefkebÀJeepeemle keÀjC³ee®es DeefOekeÀejmebmLesuee(HMPL)jenleerue.ns J³eepeoj þjJeuesu³ee yesUsHeemegveHeg{eruekeÀeUekeÀjerleeueeietjenleerue.
            17. keÀpe&oejebvee keÀpe& YejC³eeme JesU ueeieueeefkebÀJeenHlesletìueslej l³eeme ob[J³eepe veener. ceejpeerveceveerefkebÀJeeleejCeþsJeIesleueerpeeleveener.
            18. keÀpe& JesUs®³ee DeieesojHetCe&efkebÀJeeHeeì& Yeju³eeme keÀesCel³eener ÖekeÀej®esob[ veener.
            19. ceePeermebHetCe&ceenerleerceermebmLesuee(HMPL)mJele:ntveosleDeens. nerceenerleer keÀesCel³eener DeefLe&keÀ He[leeUCeerkebÀHeveerueeosTMekeÀleesefkebÀJeemebmLee(HMPL)efnûegHekeÀbHeveerueeosTMekeÀlees. DeeHeueerceenerleer ieesHeveer³e þsJeC³eeme DeecneryeebOeerueDeenesle.
            * Jejerue keÀesCel³eener efve³ece Je Deìer ceO³es ®etkeÀkeÀjleeveeDee{Uu³eeme DeeHeCeebkeÀ[tveHetCe& keÀpe&jkeÌkeÀces®eerceeieCeer keÀjC³ee®ee DeefOekeÀejmebmLesmejenerue.
            le¬eÀejefveJeejCe Òeef¬eÀ³ee: keÀesCel³eener ÒekeÀej®³ee mebkeÀueveDeeefCemesJeemeboYee&leeruele¬eÀejermeeþerûeenkeÀebveer(HMPL)®³ee peJeÈ®³ee MeeKesMeer mebHeke&À meeOeeJee efkebÀJee Keeueerue Hell³eeJej le¬eÀej efveJeejCe keWÀêeMeer mebHeke&À meeOeeJee.
            le¬eÀejefveJeejCeDeefOekeÀejerveeJe–Þeer. DeªCeef®ekeÀCes.
            cegK³e keWÀefê³e Òeef¬eÀ³ee efJeYeeie
            le¬eÀejefveJeejCekeWÀê
            efnbogmLeeve cee³e¬eÀesHeÀe³eveevme Òee. efue.
            efnbogmLeeveYeJeve, Heefnueecepeuee, Deebyes[keÀjveiej,kegÀuee&-DebOesjerjes[, pejercejer,kegÀuee& (He.) cegbyeF& - 400 072ogjOJeveer ¬eÀ. 9619879258

            legcnerlegce®esveebJeefkebÀJee Jew³eeqkeÌlekeÀ ceeefnleervemeebieleener Deece®³eeMeer mebHeke&ÀmeeOegvelegce®eerle¬eÀejveeWoJetMekeÀlee. Deecner legce®³ee le¬eÀejermeboYee&leleHeemekeÀªve l³eemeboYee&le ³eesi³e leer keÀejJeeF&keÀª.
            SkeÀe ceefnv³ee®³ee keÀeueeJeOeerlepejlegce®eer mecem³ee/le¬eÀejerb®esefveJeejCePeeuesveenerlejlegcner (ûeenkeÀ)  efjpeJe&yeBkeÀDee@HeÀFbef[³ee®³ee efjpeveue Dee@efHeÀme®³ee Dee@efHeÀmej-Fve-®eepe&ueeKeeueerue Hel³eeJej mebHeke&ÀmeeOegMekeÀlee/DeHeeruekeÀª MekeÀlee.
            Dee@efHeÀmej-Fve-®eepe&/ DNBS Nodal Officeref[Heeì&ceWìDee@HeÀvee@veyeBefkebÀiemegHejefJePeve ( DNBS)cegbyeF&efjpeveueDee@HeÀerme, 3 cepeuee, ieejceWìneTme, [e@. De@veeryesPebìjes[,JejUer, cegbyeF& - 400 018

            HeejoMe&keÀleeDeeefCe ³eesi³e keÀpe&HegjJeþeHe×le:
            •	(HMPL)®eekeÀce&®eejer ne meYeemeo keÀpe&oejebvee pees DeefLe&keÀ J³eJenej keÀjsue lees ³eesi³e Je veweflekeÀlesveskeÀjsue.
            •	(HMPL)®eekeÀce&®eejer ne keÀpe& Òeef¬eÀ³es®es JewefMeÿdîe, HeÀe³eos, efve³ece Je Deìer, keÀpe& Öeef¬eÀ³ee MegukeÀ ceO³es meceeefJeÿDemeCeejsMegukeÀ, keÀpee&Jejerue J³eepeoj Jeeef<e&keÀ Ieìl³ee He×leer ³ee meJe&ieesäermeYeemeoebveeCGT kebÀHeuemejerûegHeì^sveeRie Je GRT  ³ee Òeef¬eÀ³es ojc³eeve mecepeeJetvemeebefieleuesDeensle.
            •	mebmLeekeÀpe&oejeuee keÀpe&osleevee l³ee®³ee HejleHesÀ[er®eer #eceleeHeentve keÀpe&osF&uepesveskeÀªvemeYeemeoebveekeÀpe&yeepeejerHeCee æ æJee{Ceejveener.
            •	mebmLes®ee(HMPL)keÀce&®eejer keÀesCel³eener ÒekeÀej®esDeHeMeyo keÀpe&oejebvee Je FlejebveeJeeHejCeejveener.
            •	MebmLee(HMPL) keÀpe&HejleHesÀ[erkeÀjerlee keÀesCel³eener ÒekeÀej®eerob[erueMeenerkeÀjCeejveener.
            ne peeefceve keÀjejveecee Jej GuuesKe  kesÀuesu³ee efoveebkeÀ,                    efuentve osC³eele  Deeuee.

            <br/>
            <br/>
            <br/>
            <br/>

            1............................................        		2............................................
            3............................................        		4............................................
            5............................................       		 6............................................
            7............................................        		8............................................
            9............................................      		10............................................
            11............................................      		12............................................
            13............................................      		14............................................
            15............................................      		16............................................
            18............................................      		17............................................
        </div>


</div>
        </div>
    </div>








{% endblock %}