{% extends "base_other.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <div class="col-md-12" style="background: #ffffff;">
            <div class="col-md-6">
                <table border="1" style="width:100%" class="table">
                    <thead>

                    <tr style="width:140px" class="text-right"><CENTER>LOAD REPAYMENT SCHEDULE</CENTER></tr>
                    </thead>
                    <tr>
                        <th style="width:60px" class="unseen text-center">Inst.No</th>
                        <th  class="text-left">Date Due</th>
                        <th style="width:140px" class="text-right">Interst Payment(in Rs.)</th>
                        <th style="width:90px" class="text-right">Princial Payment(in Rs.)</th>
                        <th style="width:90px" class="text-right">Total Installment(in Rs.)</th>
                        <th >Loan c/f(in Rs.)</th>
                    </tr>
                    {% for n in range(1,25) %}
                        <tr>
                            <td>{{ n }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}


                    <tr >
                        <td>I<br/>U<br/>C<br/></td>
                        <td>
                            <table border="1" style="width:100%">
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>Signature</td>
                        <td>

                        </td>
                        <td></td>
                        <td>Signature</td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6">
                <table border="1" style="width:100%" class="table">
                    <tr><CENTER>LOAD REPAYMENT STATEMENT</CENTER></tr>
                    <tr>
                        <th style="width:60px" class="unseen text-center">Inst.No</th>
                        <th class="text-left">Date Paid</th>
                        <th style="width:140px" class="text-right">Total Amount Paid(in Rs.)</th>
                        <th  style="width:90px" class="text-right">C.M/B.M Signature</th>
                        <th>BM</th>
                        <th>Attendance</th>
                    </tr>
                    {% for n in range(1,25) %}
                        <tr>
                            <td>{{ n }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type="radio" name="sex" value="male"></td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td>I<br/>U<br/>C<br/></td>
                        <td>
                            <table border="2" style="width:100%">
                                <tr>
                                    <td>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td>Signature</td>
                        <td></td>
                        <td><input type="radio" name="sex" value="male"></td>
                        <td>Signature</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background: #ffffff;">
        <div class="col-md-6">
            <center><h2>DECLARATION</h2></center>
            FFSL is a registered NBFC–MFI with Reserve Bank of India (RBI) vide B-09.00311
            <br/>
            <br/>
            1.
            FFSL offers microfinance loan facility for income generating activities to women members only under the Joint Liability Group model of
            operation.
            <br/>
            <br/>
            2.
            FFSL provides collateral free loans without any commission for lending the loans.
            <br/>
            <br/>
            3.
            FFSL respects all the members, we never discriminate our members on basis of religion, caste, creed, colour or social status.
            <br/>
            <br/>
            4. The details of the loan amount, interest charged installment payable weekly, fortnightly, monthly, insurance related information is made
            available to members with the repayment schedule in the passbook. We do not collect any other fees or charges other than the interest,
            processing fee and insurance fee as per the insurance company in line with RBI guidelines.
            <br/>
            <br/>
            5.FFSL charges an effective interest rate of 26% p.a on declining balance basis on the loans.
            <br/>
            <br/>
            6.All disbursement and collections related activities are done by FFSL employers only. We do not hire any agents for this service.
            <br/>
            <br/>
            7. FFSL charges an effective interest rate of 26% p.a on declining balance basis on the loans.
            All disbursement and collections related activities are done by FFSL employers only. We do not hire any agents for this service.
            FFSL collections are done at the designated centre meeting location and time as agreed by the group members and FFSL. We never visit the place
            of residence/workplace of the borrower before 7 am and after 8 pm.
            <br/>
            <br/>
            8.We request you to demand the receipts for all the installments or loan repayment remitted towards the loan accounts with FFSL as per your
            repayment schedule provided along with the passbook.
            <br/>
            <br/>
            9.We urge you not to borrow the loan facility beyond your capacity to repay as this would result in economical imbalance status of the family.
            <br/>
            <br/>
            10.Any documents and photographs submitted to avail the loan would not be returned to you after the closure of the loan and those loan
            documents would be retained by FFSL.
            <br/>
            <br/>
            11.FFSL would share the member related information to RBI approved credit bureaus for checking the credit worthiness and risk assessment of the
            member and only for the purposes as stipulated in the loan agreement but not for any other commercial purpose.
            <br/>
            <br/>
            12.While FFSL always strives to provide the best of services to our members, in case of any inappropriate behavior or dissatisfaction with the
            services, you could reach out to our Customer care number 080 - 67880000 by just giving a missed call. Our customer care representative would
            call you back and speak to you in a language that is understood by you and note down your query/grievance or complaint for Redressal.
            <br/>
            <br/>


            13.The Grievance Redressal Officer at FFSL is Mr. Shashidhar S.
            <br/>
            <br/>

            In case the dispute you raised is not resolved within 30 days or you are not satisfied with the resolution you could further approach – RBI Local Office. The
            dispute can be addressed to The General Manager, Department

            <table border="1" style="width:100%" class="table">
                <tr>
                    <td>
                        DATE:
                    </td>
                    <td>
                        BORROWER SIGNATURE/
                    </td>
                    <td>
                        GUARANTOR SIGNATURE/
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
            <table border="1" style="width:100%" class="table">
                <thead>

                <tr style="width:140px" class="text-right"><CENTER>VISITOR'S REMARK</CENTER></tr>
                </thead>
                <tr>
                    <th style="width:60px" class="unseen text-center">Date</th>
                    <th  class="text-left">Visitors Name</th>
                    <th style="width:140px" class="text-right">Designation</th>
                    <th style="width:90px" class="text-right">Remarks</th>
                    <th style="width:90px" class="text-right">Signature</th>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


            </table>
        </div>
            <div class="col-md-6">
            <table class="table-bordered"  >
                <tbody>

                <tr>
                    <td  style="width:300px" class="text-center"><img  src="../esthenos/static/img/logo-icon.png"
                                                                       data-src="../esthenos/static/img/logo-icon.png"
                                                                       data-src-retina="../esthenos/static/img/logo-icon.png" width="122"
                                                                       height="111" class="invoice-logo" alt=""></td>

                    <td style="width: 600px " class="text-center " colspan="3"><h3>Address</h3></td>

                </tr>

                <tr>
                    <td  colspan="4" class="text-center">Loan Passbook</td>
                </tr>

                <tr>
                    <td  style="width: 300px" class="text-center">Borrower Office Seal</td>
                    <td   colspan="3" class="text-center">Joint Photograph of borrower and Spouse/Gurrantor</td>

                </tr>
                <tr>
                    <td   class="text-center">Borrower Code and Name</td>
                    <td>{{ usr.id }}</td>
                    <td colspan="3">{{ usr.name }}</td>
                </tr>

                <tr>
                    <td   class="text-center">Spouse/Gurrantor Name</td>
                    <td>{{ usr.id }}</td>
                    <td colspan="2">{{ usr.name }}</td>
                </tr>
                <tr>
                    <td   class="text-center">Village</td>
                    <td colspan="3">{{ usr.id }}</td>
                </tr>
                <tr>
                    <td   class="text-center">Group Code and Name</td>
                    <td>{{ usr.id }}</td>
                    <td >{{ usr.name }} <td>{{ usr.name }}</td></td>

                </tr>
                <tr>
                    <td   class="text-center">Center Code and Name</td>
                    <td>{{ usr.id }}</td>
                    <td colspan="2">{{ usr.name }}</td>
                </tr>

                <tr>
                    <td   class="text-center">Branch Name</td>
                    <td>{{ usr.id }}</td>
                    <td colspan="2">{{ usr.name }}</td>
                </tr>

                <tr>
                    <td  colspan="4" class="text-center">Loan Details</td>
                </tr>

                <tr>
                    <td   class="text-center">Date of Dibursement</td>
                    <td>{{ usr.id }}</td>
                    <td class="text-right">LoanAmount:</td>
                    <td>{{ usr.loan }}</td>
                </tr>
                <tr>
                    <td   class="text-center">Loan Tenture</td>
                    <td>{{ usr.id }}</td>
                    <td rowspan="2" class="text-right">Interst Rate:</td>
                    <td rowspan="2">{{ usr.loan }}</td>
                </tr>
                <tr>
                    <td>Repayment Frequency</td>
                    <td><input name="payment_frequency" type="radio" class="radio-inline text-center">Monthly<br><input name="payment_frequency" type="radio" class="radio-inline text-center">Weakly<br><input name="payment_frequency" type="radio" class="radio-inline text-center">Fortnight<br></td>

                </tr>

                <tr>
                    <td rowspan="2">Repayment Day</td>
                    <td rowspan="2">
                        <table class="table-bordered">

                            <tr class="borderall">
                                <td class="text-center" style="width: 75px">1</td>
                                <td class="text-center" style="width: 75px">2</td>
                                <td class="text-center" style="width: 75px">3</td>
                                <td class="text-center" style="width: 75px">4</td>
                            </tr>
                            <tr class="borderall">
                                <td class="text-center" style="width: 75px"></td>
                                <td class="text-center" style="width: 75px"></td>
                                <td class="text-center" style="width: 75px"></td>
                                <td class="text-center" style="width: 75px"></td>
                            </tr>
                        </table>
                    </td>
                    <td>Processing Fee</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">Product</td>
                </tr>
                <tr>
                    <td   class="text-center">Meeting Time</td>
                    <td></td>
                    <td colspan="2">MN27-02420</td>
                </tr>
                <tr>
                    <td   class="text-center">LoanID</td>
                    <td>{{ usr.loanid }}</td>
                    <td class="text-right">Loan Cycle</td>
                    <td>{{ usr.loancycle }}</td>
                </tr>
                <tr>
                    <td>Loan Purpose</td>
                    <td colspan="3">
                        {{ usr.loanPurpose }}
                    </td>
                </tr>


                <tr>
                    <td  colspan="4" class="text-center">Insurance Details</td>
                </tr>

                <tr>
                    <td>Insured Person</td>
                    <td><input type="radio" name="insuredPerson">Borrower <input type="radio" name="insuredPerson"> Gurantor</td>
                    <td>Sum Assured</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Total Premium Paid</td>
                    <td></td>
                    <td>Cover Period</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Nominee (Borrower)</td>
                    <td colspan="3"></td>

                </tr>


                <tr>
                    <td>Nominee (Gurrantor)</td>
                    <td colspan="3"></td>

                </tr>

                </tbody>
            </table>
            </div>

        </div>
    </div>

    </div>
{% endblock %}