{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}




 <div class="row">
        <div class="col-md-12">
                        
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <h2 class="text-center">HINDUSTHAN MICROFINANCE PVT. LTD.</h2>
                    <div class="text-center">
                        <!--<img src="{{ url_for('static', filename='img/logo-icon.png')}}"-->
                             <!--height="50" alt="">-->
                        <address>
                            <strong>Acknowledgement Receipt -Other Documents</strong><br>
                        </address>
                    </div>

                   <!-- <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left">
                                Branch Name:  _____________________
                                       Date:  _____________________
                            </div>


                            <div class="clearfix"></div>
                        </h4>-->
                     <div class="col-md-3"><br>

                         <div>
                            <div class="pull-left"> Branch Name :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <div>
                            <div class="pull-left"> DATE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>
                    </div>




                    <div class="pull-left"> </div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%">Sr. No</th>

                            <th style="width:15%" class="text-left">Group Name</th>

							<th style="width:5%"class="text-left">Document Name</th>

							<th style="width:10%"class="text-center" colspan="2">Nos.</th>

                            <th style="width:15%">Issue</th>

                            <!--<th style="width:5%"class="text-left">Loan Card</th>-->

                            <!--<th style="width:10%"style="width:100px" class="text-center" colspan="2">RD Book</th>-->

                            <!--<th style="width:10%"class="text-left">LOAN ACCOUNT No</th>-->

                            <!--<th style="width:5%"class="text-left">LOAN AMOUNT</th>-->

                            <!--<th style="width:5%"class="text-left">SUM ASSURED</th>-->

                            <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in range(1,15) %}
                        <tr>
							<td>{{ n }}</td>
                            <td class="text-left" class="text-right">Arun G Hiremath</td>
                            <td class="text-left">23</td>
                            <td class="text-left">AICPH1453L</td>
                            <td class="text-left">Gangayya Hiremath</td>
                            <!--<td class="text-left">45</td>-->
                            <!--<td class="text-left">A</td>-->
                            <!--<td class="text-left">180034328555</td>-->
                            <!--<td class="text-left">2535AA</td>-->
                            <!--<td class="text-left">20000</td>-->
                            <!--<td class="text-left">19000</td>-->
                            <!--<td class="text-left">1200</td>-->


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <br>
                    <br>


                    <h5 class="text-right text-black"> CPU Dept Signature/Stamp </h5>
                    <h5 class="text-right semi-bold text-black">Receivers Signature/Stamp</h5>
                    <!--<h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>-->
                    <br>
                    <br>
                </div>
            </div>

        </div>
     </div>


   <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <h2 class="text-center">HINDUSTHAN MICROFINANCE PVT. LTD.</h2>
                    <div class="text-center">
                        <!--<img src="{{ url_for('static', filename='img/logo-icon.png')}}"-->
                             <!--height="50" alt="">-->
                        <address>
                            <strong>Acknowledgement Receipt -Other Documents</strong><br>
                        </address>
                    </div>

                   <!-- <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left">
                                Branch Name:  _____________________
                                       Date:  _____________________
                            </div>


                            <div class="clearfix"></div>
                        </h4>-->
                     <div class="col-md-3"><br>

                         <div>
                            <div class="pull-left"> Branch Name :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <div>
                            <div class="pull-left"> DATE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>
                    </div>




                    <div class="pull-left"> </div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%">Sr. No</th>

                            <th style="width:15%" class="text-left">Group Name</th>

							<th style="width:5%"class="text-left">Document Name</th>

							<th style="width:10%"class="text-center" colspan="2">Nos.</th>

                            <th style="width:15%">Issue</th>

                            <!--<th style="width:5%"class="text-left">Loan Card</th>-->

                            <!--<th style="width:10%"style="width:100px" class="text-center" colspan="2">RD Book</th>-->

                            <!--<th style="width:10%"class="text-left">LOAN ACCOUNT No</th>-->

                            <!--<th style="width:5%"class="text-left">LOAN AMOUNT</th>-->

                            <!--<th style="width:5%"class="text-left">SUM ASSURED</th>-->

                            <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in range(1,15) %}
                        <tr>
							<td>{{ n }}</td>
                            <td class="text-left" class="text-right">Arun G Hiremath</td>
                            <td class="text-left">23</td>
                            <td class="text-left">AICPH1453L</td>
                            <td class="text-left">Gangayya Hiremath</td>
                            <!--<td class="text-left">45</td>-->
                            <!--<td class="text-left">A</td>-->
                            <!--<td class="text-left">180034328555</td>-->
                            <!--<td class="text-left">2535AA</td>-->
                            <!--<td class="text-left">20000</td>-->
                            <!--<td class="text-left">19000</td>-->
                            <!--<td class="text-left">1200</td>-->


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <br>
                    <br>


                    <h5 class="text-right text-black"> CPU Dept Signature/Stamp </h5>
                    <h5 class="text-right semi-bold text-black">Receivers Signature/Stamp</h5>
                    <!--<h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>-->
                    <br>
                    <br>
                </div>
            </div>

        </div>
     </div>



      <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <h2 class="text-center">HINDUSTHAN MICROFINANCE PVT. LTD.</h2>
                    <div class="text-center">
                        <!--<img src="{{ url_for('static', filename='img/logo-icon.png')}}"-->
                             <!--height="50" alt="">-->
                        <address>
                            <strong>Acknowledgement Receipt -Other Documents</strong><br>
                        </address>
                    </div>

                   <!-- <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left">
                                Branch Name:  _____________________
                                       Date:  _____________________
                            </div>


                            <div class="clearfix"></div>
                        </h4>-->
                     <div class="col-md-3"><br>

                         <div>
                            <div class="pull-left"> Branch Name :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <div>
                            <div class="pull-left"> DATE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>
                    </div>




                    <div class="pull-left"> </div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%">Sr. No</th>

                            <th style="width:15%" class="text-left">Group Name</th>

							<th style="width:5%"class="text-left">Document Name</th>

							<th style="width:10%"class="text-center" colspan="2">Nos.</th>

                            <th style="width:15%">Issue</th>

                            <!--<th style="width:5%"class="text-left">Loan Card</th>-->

                            <!--<th style="width:10%"style="width:100px" class="text-center" colspan="2">RD Book</th>-->

                            <!--<th style="width:10%"class="text-left">LOAN ACCOUNT No</th>-->

                            <!--<th style="width:5%"class="text-left">LOAN AMOUNT</th>-->

                            <!--<th style="width:5%"class="text-left">SUM ASSURED</th>-->

                            <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in range(1,15) %}
                        <tr>
							<td>{{ n }}</td>
                            <td class="text-left" class="text-right">Arun G Hiremath</td>
                            <td class="text-left">23</td>
                            <td class="text-left">AICPH1453L</td>
                            <td class="text-left">Gangayya Hiremath</td>
                            <!--<td class="text-left">45</td>-->
                            <!--<td class="text-left">A</td>-->
                            <!--<td class="text-left">180034328555</td>-->
                            <!--<td class="text-left">2535AA</td>-->
                            <!--<td class="text-left">20000</td>-->
                            <!--<td class="text-left">19000</td>-->
                            <!--<td class="text-left">1200</td>-->


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <br>
                    <br>


                    <h5 class="text-right text-black"> CPU Dept Signature/Stamp </h5>
                    <h5 class="text-right semi-bold text-black">Receivers Signature/Stamp</h5>
                    <!--<h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>-->
                    <br>
                    <br>
                </div>
            </div>

        </div>
     </div>

     {% endblock %}