{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}





<div class="row">
    <div class="col-md-12">
    <div class="grid simple">
    <div class="grid-body no-border"><br>
<center><h2>CUSTOMER GRIEVANCE CELL: - 09619879258</h2></center>

 <center><b>*Rules & Regulations*</b></center>

        1) All borrowers/members to handover the loan installment amount to Group leader at the meeting centre in presence of HMPL, Customer Service Provider (CSP).<br>

        2) It is Compulsory for the Borrower to keep her Loan card & Installment Payment Receipt safely till final closure of loan. Loan card & Installment paid receipt should be kept with the borrower and not to be handed over to any other person.<br>

        3) In case the installment due date falls on a Sunday/Festival/Public holiday collection will be done 1 day prior to the collection/due date.<br>

        4) For any additional/excess EMI payment or for pre-closure of loan amount, borrower is required to visit the Branch from where the loan has been sourced along with the Group Leader & collect payment receipt for the same. <br>

        5) If any of the group member fails to repay the installment amount then entire group is required to contribute and repay the installment amount under JLG Loan Agreement cum Guarantee bond.<br>

         6) Loan should be utilized only for the purpose for which the loan is sanctioned.<br>

        7) Borrowers should not pay the HMPL staff or anyone else anything other than the Insurance fees and loan installment mentioned on the loan card. Company will not be held responsible for any kind of personal transactions being done with HMPL staff.<br>

        8) All the financial transaction of the organization with the member is to be done only in the meeting centre.<br>

        9) Interest on loan will be applied for the entire month irrespective of the date of Loan repayment/due date.<br>

        10) Interest rate on loans are subject to periodic revision and all changes in interest rate shall be applicable prospectively only and not retrospectively.<br>

        11) No penalty charges for delayed payments.  No margin money or security deposit taken.<br>

        12) Foreclosures/Partial Pre- Payment Charges : NIL<br>

        13) The borrower hereby agrees and authorizes to share the details of his/her information to Credit Bureau, any of the associates of HMPL to facilitate the customer to deserve the benefit of purchases / availing services from any of such associates.  HMPL will respect the borrower’s privacy and will treat borrower information as private and confidential<br>


   <center><b>*Important Note*</b></center>

        Any violation of the above Terms and Conditions will be considered non-compliance and the company has right to recover the entire loan amount from the Borrower.<br>

        <b>
Grievance Redressal:</b>
For any collection and service related complaints, customers are advised to contact their nearest HMPL branch or its Grievance Redressal Office (GRO) at the following address :
GRO Name : Mr. Arun Chikane, Head – Centralized Processing Unit, Customer Grievance Cell, Hindusthan Microfinance Pvt Ltd
        <br>
        <br>
        Hindusthan Bhavan, 1st Floor, Ambedkar Nagar, Kurla Andheri Road, Jarimari, Kurla (West), Mumbai-400072
        <br>
        Tel.No. : 9619879258
        <br>
        You can call us to complain without mentioning your name and personal details (Anonymous). We will investigate and take appropriate action. If the complaint/Dispute is not redressed within a period of one month, you (borrower) may appeal to the Officer-In-Charge of the Regional Office of Reserve Bank of India at the following address:<br>
        Officer-In-Charge / DNBS Nodal Officer, Department of Non-Banking Supervision, Reserve Bank of India,  Mumbai Regional Office, 3rd Floor, Garment House, Dr. Annie Besant Road,  Worli, Mumbai – 400 018 <br>

        <b>TRANSPARENCY & FAIR LENDING PRACTICES</b>


        HMPL field staff dealings with borrowers will be open, fair and ethical<br>

        HMPL field staff shall explain all the features, benefits, terms/conditions and pricing of our services including all fees, charges and interest rate on an annual declining basis, during Compulsory Group Training (CGT) and loan appraisal process.<br>


        HMPL will make best efforts to ensure that the loans provided are within the borrower’s capacity to repay and avoid over indebtedness.<br>

        HMPL staff will not use any abusive language with borrowers and others.<br>

        HMPL staff will not use any arm twisting technique to collect the money.


        </div>
        </div>
        </div>
    </div>


{% endblock %}