{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        .value{
            font-size: 12px;
            font-weight: bold;
        }
        label{
            font-size: 12px;
            font-family: "Courier New";
        }

        .english_font{
            font-size: 10px;
            font-family: "Courier New";
        }
        .english_font_small{
            font-size: 8px;
            font-family: "Courier New";
        }
    </style>
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url('/home/esthenos/esthenos_cust_enrollment/esthenos/static/fonts/AYOGNI_N.TTF');
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .condensed tr{
            font-size:8px;
            line-height: 15px;
            min-height: 15px;
            height: 15px;
        }
        .font-large{
            font-size:22px;
        }
        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:8px;
        }

        .font-msmall tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:9px;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <span class="pull-right">{{ disbursement_date|dateformat }}</span>
    <img width="100%" src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/passbook_top.jpg"/>

    <table border="1" style="width:100%;margin: 10px;">
        <tr><td width="100%" colspan="2"></td></tr>
        <tr><td width="100%" colspan="2"> </td></tr>
        <tr>
            <td style="width:50%">
                Bank Name:{{app.bank_name}}
            </td>
             <td >
                A/C Number:{{app.bank_account_number}}
            </td>
        </tr>
        <tr>
             <td >
                Account Holder Name:{{app.bank_account_holder_name}}
            </td>
             <td >
                Ifsc Code:{{app.bank_ifsc_code}}
            </td>

        </tr>
        <tr>
             <td >
                Purpose Of Loan:{{app.purpose_of_loan}}
            </td>
             <td >
                  Required Loan Amount:{{app.applied_loan}}
            </td>


        </tr>
        <tr>
             <td >
                Payment Option:{{app.repayment_mode}}
            </td>
             <td >
                Product Name:{{ app.product.product_name}}
            </td>
        </tr>
        <tr>
             <td >
                Group Name:{{ app.group.group_name }}
            </td>

             <td >
                Group Size:{{app.group_size}}
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                Group leader Cell:{{app.center_leader_cell}}
            </td>
        </tr>
    </table>
    <table border="1" style="width:100%;margin: 10px;">
        <tr>
             <td >
                Name: 
                {{ app.applicant_name }}
            </td>
             <td >
                Aadhaar No:{{app.kyc_1.kyc_number}}
            </td>
        </tr>
        <tr>
             <td >
                Gender:{{app.gender}}
            </td>
             <td >
                Age:{{app.age}}
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                Relationship Status:{{app.member_relationship_status}}
            </td>

        </tr>
        <tr>
             <td >
                 Education:{{app.education}}
            </td>
             <td >
                Physical Disability:{{app.member_disability}}
            </td>
        </tr>
        <tr>
             <td  colspan="2">
                Father's/Husband's Name: 
                {{app.member_f_or_h_name}}
            </td>

        </tr>
        <tr>
             <td >
                Address: {{app.address}}
            </td>
             <td >
                Number of family Members:{{app.family_size}}
            </td>
        </tr>
        <tr>
             <td >

                 Taluk:{{app.member_taluk}}


            </td>
             <td >
                Male Count:{{app.adult_count}}
            </td>
        </tr>
        <tr>
             <td >
                District:{{app.member_city}}
            </td>
             <td >
                Female Count:{{app.adult_count}}
            </td>
        </tr>
        <tr>
             <td >
                State:{{app.member_state}}

            </td>
             <td >
                Members Less than 18:{{app.children_below18}}
            </td>
        </tr>
        <tr>
             <td >
                Country:{{app.member_country}}
            </td>
             <td >
                Members Above18:{{app.children_above18}}
            </td>
        </tr>
        <tr>
             <td >
                Pincode:{{app.member_pincode}}
            </td>
             <td >
                 Earning Members:{{app.total_earning_members}}
            </td>
        </tr>
        <tr>
             <td >
                Mobile Number{{app.member_telephone}}
            </td>
             <td >
                Religion:{{app.religion}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Category:{{app.category}}
            </td>

        </tr>

    </table>
    <div class="hinditext">
        <span class="text-center">Jeejmeoej peenerjveecee </span>
        <p>ceer    <span class="english_font">{{app.gurantors_nominee_name}}</span>      Depe&oej ³eeb®ee Heefle / cegueiee, meemeje
            <span class="english_font">_____________________________</span>                           Demegve Depe&oej cnCepes®e ceePeer
            <span class="english_font">_____________________________</span>     (veeles efueneJes) ner  <span class="english_font">{{ app.group.group_name }}
            J.L.G </span> ieìe®eer meYeemeo Demetve, leer efnbogmLeeve cee³e¬eÀesHeÀe³eveevme Òee.efue. ³eeb®eskeÀ[tve keÀpe& Iesle Deens ³ee®es ceuee HegCe& keÀuHevee Deens. meojerue  keÀpee&efJe<e³eer®es meJe& efve³ece Je Deìer ceuee mecepeeJetve meebefieleuesu³ee Deensle Je les ceuee ceev³e Deensle ³ee keÀpee&®³ee HejleHesÀ[er®eer peyeeyeoejer Jeejmeoej ³ee veel³eeves ceePeer osKeerue Deens, ³ee®es ceuee HegCe& keÀuHevee Deens.</p>
        <p class="pull-left">Jeejmeoeje®eer mener: <br/>Jeejmeoeje®es veeJe:  <span class="english_font">{{app.gurantors_nominee_name}}</span></p>
        <p class="pull-right">mLeU:<br/>
            efoveebkeÀ: <span class="english_font">{{ disbursement_date|dateformat }}</span></p>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <br/><br/>
    <p class="text-center">---------------------------------------------------------------------------------------------</p>
    <div style="width: 100%;">
        <span class="text-center hinditext-large">ûeenkeÀ Hees®eHeeJeleer</span>
        <br/>
        <span class="pull-left hinditext">veeJe:</span><span class="english_font">{{ app.applicant_name }}</span><br/>
        <p class="hinditext">
        Deece®³ee cee³e¬eÀes¬esÀef[ì ueesve Òee@[keÌì Debleie&le Deecneuee DeeHeuee   20000<span class="english_font">/(Apply amt)-</span>  ©.meeþer keÀpe& ceeieCeer Depe& efceUeuesuee Deens.<br/>
        Deece®³ee Debleie&le ceeie&oMe&keÀ met®eveebvegmeej legcner efouesu³ee keÀpe& ceeieCeer Depee&®³ee Hees®e HeeJeleer veblej peemleerle peemle 18 keÀecekeÀepeer³e efoJemeeble l³ee®³eeJej efveCe&³e IesTve Heg{erue Òeef¬eÀ³ee HetCe& keÀsueer peeF&ue.<br/>
            </p>


        <p class="pull-left">
            <span class="hinditext">efoveebkeÀ</span>:  {{ disbursement_date|dateformat }}
        </p>
        <span class="pull-right hinditext"> DeefOekeÀeN³ee®eer mener Je efmekeÌkeÀe</span>
    </div>
    <br/><br/><br/><br/>
    <table border="1" style="width:100%;margin: 10px;">
        <tr>
             <td >
                Gurantor's Relationship with Borroweer:{{app.gurantor_s_relationship_with_borrower}}
            </td>
             <td >
                Gurantor-Borrower's are nominee for each other{{app.gurantors_borrowers_are_nominee_for_each_other_}}
            </td>
        </tr>
        <tr>
             <td >
                Gurantor'sName:{{app.gurantors_nominee_name}}
            </td>
             <td >
                Gurantor's Sex:{{app.gurranter_s_sex}}
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                Gurantor's Age:{{app.gurranter_s_age}}
            </td>

        </tr>
        <tr>
             <td >
                Types of House{{app.select_house_type}}
            </td>
             <td >
                Quality of House{{app.quality_of_house}}
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                How Long are you Staying in house(in years):{{app.house_stay_duration}}
            </td>
{#             <td >#}
{#                Source of Drinking water:#}
{#                {{app.drinking_water}}#}
{#            </td>#}
        </tr>

{#        <tr>#}
{#             <td >#}
{#                No of Cows:#}
{#                {{app.num_cows}}#}
{##}
{#            </td>#}
{#             <td >#}
{#                Land (in Ares):#}
{#                {{app.self_owned_land}}#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                No of Sheeps:#}
{#                {{app.num_sheeps}}#}
{#            </td>#}
{#             <td >#}
{#                Orchard:#}
{#                {{app.orchard_acre}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2">#}
{#                Other Assets:#}
{#                {{app.family_assets}}#}
{#            </td>#}
{##}
{#        </tr>#}


    </table>
    <table border="0" style="width:100%;margin: 10px;">
        <tr><td style="width: 50%;">Date:</td><td>CSP Name:{{ app.owner.first_name }} {{ app.owner.last_name }}</td></tr>
        <tr><td  colspan="2"><br/>CSP Signature:</td></tr>
        <tr><td colspan="2"><br/>Branch Manager Signature:</td></tr>
    </table>







    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <p class="text-center">----------------------------------------------------------------------------</p>
    <img width="100%" src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/app_pg1_bottom.png">
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td >#}
{#                Primary Business Category:#}
{#                {{app.primary_business_category}}#}
{#            </td>#}
{#             <td >#}
{#                Primary Business Activity:#}
{#                {{app.primary_business}}#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Primary Business Income(Monthly):#}
{#                {{app.primary_income}}#}
{#            </td>#}
{#             <td >#}
{#                Primary Business Expenses(Monthly):#}
{#                {{app.primary_expenses}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Secondary business Activity:#}
{#                {{app.secondary_business}}#}
{#            </td>#}
{#             <td >#}
{#                Secondary business Income(Monthly):#}
{#                {{app.secondary_income}}#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Tertiary business Activity:#}
{#                {{app.tertiary_business}}#}
{#            </td>#}
{#             <td >#}
{#                Tertiary business Income(Monthly):#}
{#                {{app.tertiary_income}}#}
{#            </td>#}
{##}
{#        </tr>#}
{##}
{#    </table>#}
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td >#}
{#                Family Food Expenditure(Monthly):#}
{#                {{app.food_expense}}#}
{#            </td>#}
{#             <td >#}
{#                Family Medical Expenditure(Monthly):#}
{#                {{app.medical_expense}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Family Travel Expenditure(Monthly):#}
{#                {{app.travel_expense}}#}
{#            </td>#}
{#             <td >#}
{#                Family Education Expenditure(Monthly):#}
{#                {{app.educational_expense}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Family Entertainment Expenditure(Monthly):#}
{#                {{app.entertainment_expense}}#}
{#            </td>#}
{#             <td >#}
{#                Family Other Expenditure(Monthly):#}
{#                {{app.other_expense}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Family Festival Expenditure(Monthly):#}
{#                {{app.festival_expenditure}}#}
{#            </td>#}
{#             <td >#}
{#                Financial Liabilities:#}
{#                {{app.total_liability}}#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td >#}
{#                Medical Facility:#}
{#                {{app.village_medical_facilities}}#}
{#            </td>#}
{#             <td >#}
{#                Medical Category:#}
{#                {{app.village_hospital_category}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Education Institutes:#}
{#                {{app.village_edu_facilities}}#}
{#            </td>#}
{#             <td >#}
{#                Financial  institutions:#}
{#                {{app.fnf_inclusion}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Public Transport:#}
{#                {{app.village_public_transport}}#}
{#            </td>#}
{#             <td >#}
{#                Water Bodies:#}
{#                {{app.village_water}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Electricity Hours:#}
{#                {{app.village_electricity}}#}
{#            </td>#}
{##}
{#             <td >#}
{#                Road Quality:#}
{#                {{app.village_road}}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td >#}
{#                Sanitation:#}
{#                {{app.village_information_sanitation}}#}
{#            </td>#}
{#             <td >#}
{#                Intersted In Buying opther Produces:#}
{#                {{app.interested_in_other_fp}}#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}

{% endblock %}
