{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url('/Users/prathvi/Current/esthenos/esthenos/static/fonts/AYOGNI_N.TTF');
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .condensed tr{
            font-size:8px;
            line-height: 15px;
            min-height: 15px;
            height: 15px;
        }

        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:8px;
        }

    </style>
{% endblock %}
{% block meta %}
    <meta name="pdfkit-orientation" content="Landscape"/>
{% endblock %}
{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <h4 class="text-center hinditext-vlarge">HeemeyegkeÀ</h4>
    <table style="width: 100%;padding: 10px;">
    <tr style="padding: 10px;">
        <td style="width: 50%;padding: 10px">
            <table  id="repayment" class="table table-bordered table-condensed condensed">
                <caption class="hinditext-large">keÀpe& HejledHesÀæ[ JesUeHe$ekeÀ</caption>
                <tr>
                    <th style="width:1%" class="unseen text-center hinditext">nHlee keÀ.</th>
                    <th  style="width:20%" class="text-left hinditext">nHl³ee®eer leejerKe</th>
                    <th style="width:15%" class="text-right hinditext">J³eepe</th>
                    <th style="width:10%" class="text-right hinditext">मुद्दल</th>
                    <th style="width:10%" class="text-right hinditext">SkegÀCe nHlee</th>
                    <th style="width:10%" class="hinditext" >keÀpe& efMeuuekeÀ</th>
                </tr>

                {% for n in range(1,25) %}
                    <tr >
                        <td>{{ n }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}


                <tr >
                    <td rowspan="3">I<br/>U<br/>C<br/></td>
                    <td colspan="2">
                        Date : {{ date }} <br/>
                        Done By :  <br/>
                        Result :  <br/>
                    </td>
                    <td rowspan="3" colspan="3">Signature</td>

                </tr>



            </table>
        </td>
        <td style="width: 50%;padding: 10px">
            <table id="repayment2"  class="table table-bordered  table-condensed condensed">
                <caption class="hinditext-large">keÀpe& HejledHesÀæ[ DenJeeue</caption>
                <tr>
                    <th style="width:1%" class="unseen text-center hinditext">nHlee keÀ.</th>
                    <th style="width:25%" class="text-left hinditext">nHlee Yejuesueer leejerKe</th>
                    <th style="width:25%" class="text-right hinditext">SkegÀCe Yejuesueer jkeÀkeÀce</th>
                    <th  style="width:15%" class="text-right hinditext">CSP mener</th>
                    <th style="width:5%" class="hinditext">MeeKeeefOekeÀejer mener</th>
                    <th style="width:15%" class="hinditext">leHeemeCeer keÀjCeeN³ee®eer mener</th>
                </tr>
                {% for n in range(1,25) %}
                    <tr >
                        <td>{{ n }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <td rowspan="3">I<br/>U<br/>C<br/></td>
                    <td rowspan="3">

                    </td>
                    <td rowspan="3" colspan="4">Signature</td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;padding: 10px">
            <img src="/Users/prathvi/Current/esthenos/esthenos/static/img/pdf_images/hindustan_passbook1.png"
                 style="width: 100%;" alt="">
        </td>
        <td style="width: 50%;">

            <table style="width: 100%;padding: 10px" class=" table-bordered font-small condensed"  >
                <img width="100%" src="/Users/prathvi/Current/esthenos/esthenos/static/img/pdf_images/passbook_top.jpg"/>
            </table>
            <table style="width: 100%;" class=" table-bordered font-small condensed">
                <tr><th colspan="6" class="text-center">BORROWER DETAILS/<span class="hinditext-large"> menkeÀpe&oeje®eer ceenerleer</span></th></tr>
                <tr>
                    <td style="width: 30%;"  class="text-right">Borrower Code and Name/<span class="hinditext"> menkeÀpe&oeje®es veeJe DeeefCe keÀæes[ veb.</span></td>
                    <td style="width: 15%;"></td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td   class="text-right">Spouse/Gurrantor Name/<span class="hinditext"> pees[eroej efkeÀbJee menkeÀpe&oeje®es veeJe </span></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td   class="text-right">Village/<span class="hinditext">ieeJe </span></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td   class="text-right">Group Code and Name/<span class="hinditext">ieìe®es keÀes[ veb. Je veeJe        </span></td>
                    <td></td>
                    <td style="width: 30%;"></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    </td></td>
                </tr>
                <tr>
                    <td   class="text-right">Center Code and Name/<span class="hinditext">meWìj®ee keÀes[ efkeÀbJee veeJe</span></td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td   class="text-right">Branch Name/<span class="hinditext">MeeKes®es veeJe </span></td>
                    <td colspan="5"></td>
                </tr>
            </table>
            <table style="width: 100%;" class="  table-bordered font-small condensed">
                <tr><th colspan="7" class="text-center">Loan Details/<span class="hinditext">ueesve®eer ceenerlee</span></th></tr>


                <tr>
                    <td style="width: 30%;"  class="text-right">Date of Dibursement/<span class="hinditext">keÀpe& efJelejCee®eer leejerKe</span></td>
                    <td colspan="4"></td>
                    <td style="width: 20%;" class="text-right">Loan Amount:/<span class="hinditext">ueesve jkeÀkeÀce</span></td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td   class="text-right">Loan Tenture/<span class="hinditext">keÀpe&keÀeueeJeOeer </span></td>
                    <td colspan="4" class="text-center">24 Months/<span class="hinditext">24 cenerves</span></td>
                    <td rowspan="2" class="text-right">Interst Rate:/<span class="hinditext">Jîeepeoj</span></td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td class="text-right" >Repayment Frequency/<span class="hinditext">keÀpe& nHl³ee®eer leejerKe</span></td>
                    <td colspan="4" class="text-center">Monthly/<span class="hinditext">ceeefmekeÀ</span></td>

                </tr>

                <tr>
                    <td rowspan="2" class="text-right">Repayment Day/<span class="hinditext">keÀpe& nHl³ee®eer leejerKe</span></td>
                    <td class="text-center" style="width: 8%;">1</td>
                    <td class="text-center" style="width: 8%;">2</td>
                    <td class="text-center" style="width: 8%;">3</td>
                    <td class="text-center" style="width: 8%;">4</td>
                    <td>Processing Fee/<span class="hinditext"></span></td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="2" class="text-center">Product Code/<span class="hinditext">GlHeeove vebyej</span></td>
                </tr>
                <tr>
                    <td   class="text-right">Meeting Time/<span class="hinditext">efceìeRie®eer JesU</span></td>
                    <td colspan="4"></td>
                    <td colspan="2"><span class="hinditext"></span></td>
                </tr>
                <tr>
                    <td   class="text-right">LoanID/<span class="hinditext">ueesve ®es Dee æ[er</span></td>
                    <td colspan="4"></td>
                    <td class="text-right">Loan Cycle/<span class="hinditext">keÀpee&®ee ìHHee</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right">Loan Purpose/<span class="hinditext">ueesve IesC³ee®es keÀejCe</span></td>
                    <td colspan="6">

                    </td>
                </tr>

            </table>
            <table style="width: 100%;" class="  table-bordered font-small condensed">
                <tr><th colspan="7" class="text-center">Insurance Details/<span class="hinditext">efJecee®eer ceeefnleer</span></th></tr>


                <tr>
                    <td style="width: 30%;" class="text-right">Insured Person/<span class="hinditext">efJeceeOeejkeÀ J³ekeÀleer</span></td>
                    <td style="width: 30%;"><input type="radio" name="insuredPerson">Borrower/<span class="hinditext">menkeÀpe&oej</span> <input type="radio" name="insuredPerson"> Gurantor/<span class="hinditext">necceeroej</span></td>
                    <td style="width: 20%;">Sum Assured/<span class="hinditext">efJecee jkeÀkeÀce</span></td>
                    <td style="width: 20%;"></td>
                </tr>

                <tr>
                    <td class="text-right">Total Premium Paid/<span class="hinditext">Yejuesueer SsketÀCe efJecee nHlee jkeÀkeÀce</span></td>
                    <td></td>
                    <td>Cover Period/<span class="hinditext">efJecee®ee keÀeueeJeeOeer</span></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="text-right">Nominee (Borrower)/<span class="hinditext"></span></td>
                    <td colspan="3"></td>

                </tr>


                <tr>
                    <td class="text-right">Nominee (Gurrantor)/<span class="hinditext"></span></td>
                    <td colspan="3"></td>

                </tr>


            </table>

            <div class="pull-right">_____________________________________</div>
            <br/>
            <div class="pull-right">BM/RM&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
        </td>
    </tr>
    </table>

{% endblock %}
