{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        .value{
            font-size: 12px;
            font-weight: bold;
        }
        label{
            font-size: 12px;
            font-family: "Courier New";
        }

        .english_font{
            font-size: 10px;
            font-family: "Courier New";
        }
        .english_font_small{
            font-size: 8px;
            font-family: "Courier New";
        }
    </style>
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url('/home/esthenos/esthenos_cust_enrollment/esthenos/static/fonts/AYOGNI_N.TTF');
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .hinditext-large {
            font-family: kruti dev;
            font-size:16px;
        }
        .hinditext-vlarge {
            font-family: kruti dev;
            font-size:22px;
        }

        .condensed tr{
            font-size:8px;
            line-height: 15px;
            min-height: 15px;
            height: 15px;
        }
        .font-large{
            font-size:22px;
        }
        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:8px;
        }

        .font-msmall tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:9px;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <span class="pull-right">{{ disbursement_date|dateformat }}</span>
    <img width="100%" src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/passbook_top.jpg"/>

    <table border="1" style="width:100%;margin: 10px;" class="english_font_small">
        <tr><td width="100%" colspan="2"></td></tr>
        <tr><td width="100%" colspan="2"> </td></tr>
        <tr>
            <td style="width:50%">
                <label class="bank_name">Bank Name:</label>
                <label class="value">{{app.bank_name}}</label>
            </td>
             <td style="width:50%">
                <label class="bankaccount_inclusion">A/C Number:</label>
                <label class="value">{{app.bank_account_number}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="bankaccountholder_name">Account Holder Name:</label>
                <label class="value">{{app.bank_account_holder_name}}</label>
            </td>
             <td style="width:50%">
                <label class="bank_ifsccode">Ifsc Code:</label>
                <label class="value">{{app.bank_ifsc_code}}</label>
            </td>

        </tr>
        <tr>
             <td style="width:50%">
                <label class="purpose_of_loan">Purpose Of Loan:</label>
                <label class="vlaue">{{app.purpose_of_loan}}</label>
            </td>
             <td style="width:50%">
                <label class="applied_loan">Required Loan Amount:</label>
                <label class="value">{{app.applied_loan}}</label>
            </td>


        </tr>
        <tr>
             <td style="width:50%">
                <label class="repayment_mode">Payment Option:</label>
                <label class="value">{{app.repayment_mode}}</label>
            </td>
             <td style="width:50%">
                <label class="product">Product Name:</label>
                <label class="value">{{ app.product.product_name}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="name">Group Name:</label>
                <label class="value">{{ app.group.group_name }}</label>
            </td>

             <td style="width:50%">
                <label class="group_size">Group Size:</label>
                <label class="value">{{app.group_size}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                <label class="center_leader_cell">Group leader Cell:</label>
                <label class="value">{{app.center_leader_cell}}</label>
            </td>
        </tr>
    </table>
    <table border="1" style="width:100%;margin: 10px;">
        <tr>
             <td style="width:50%">
                <label class="name">Name: </label>
                {{ app.applicant_name }}
            </td>
             <td style="width:50%">
                <label class="kyc_1">Aadhaar No:</label>
                <label class="value">{{app.kyc_1.kyc_number}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="gender">Gender:</label>
                <label class="value">{{app.gender}}</label>
            </td>
             <td style="width:50%">
                <label class="age">Age:</label>
                <label class="value">{{app.age}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                <label class="member_relationship_status">Relationship Status:</label>
                <label class="value">{{app.member_relationship_status}}</label>
            </td>

        </tr>
        <tr>
             <td style="width:50%">
                <label class=" education"> Education:</label>
                <label class="value">{{app.education}}</label>
            </td>
             <td style="width:50%">
                <label class="member_disability">Physical Disability:</label>
                <label class="value">{{app.member_disability}}</label>
            </td>
        </tr>
        <tr>
             <td  colspan="2">
                <label class="">Father's/Husband's Name: </label>
                {{app.member_f_or_h_name}}
            </td>

        </tr>
        <tr>
             <td style="width:50%">
                <label class="address">Address: </label>
                <label class="value">{{app.address}}</label>
            </td>
             <td style="width:50%">
                <label class="family_size">Number of family Members:</label>
                <label class="value">{{app.family_size}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">

                <label class="member_taluk"> Taluk:</label>
                <label class="value">{{app.member_taluk}}</label>


            </td>
             <td style="width:50%">
                <label class="adult_count">Male Count:</label>
                <label class="value">{{app.adult_count}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="member_city">District:</label>
                <label class="value">{{app.member_city}}</label>
            </td>
             <td style="width:50%">
                <label class="adult_count">Female Count:</label>
                <label class="value">{{app.adult_count}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="member_state">State:</label>
                <label class="value">{{app.member_state}}</label>

            </td>
             <td style="width:50%">
                <label class="children_below18">Members Less than 18:</label>
                <label class="value">{{app.children_below18}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="member_country">Country:</label>
                <label class="value">{{app.member_country}}</label>
            </td>
             <td style="width:50%">
                <label class="children_above18">Members Above18:</label>
                <label class="value">{{app.children_above18}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="member_pincode">Pincode:</label>
                <label class="value">{{app.member_pincode}}</label>
            </td>
             <td style="width:50%">
                <label class="total_earning_members"> Earning Members:</label>
                <label class="value">{{app.total_earning_members}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="member_telephone">Mobile Number</label>
                <label class="value">{{app.member_telephone}}</label>
            </td>
             <td style="width:50%">
                <label class="religion">Religion:</label>
                <label class="value">{{app.religion}}</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="category">Category:</label>
                <label class="value">{{app.category}}</label>
            </td>

        </tr>

    </table>
    <div class="hinditext">
        <span class="text-center">Jeejmeoej peenerjveecee </span>
        <p>ceer    <span class="english_font">{{app.gurantors_nominee_name}}</span>      Depe&oej ³eeb®ee Heefle / cegueiee, meemeje
            <span class="english_font">_____________________________</span>                           Demegve Depe&oej cnCepes®e ceePeer
            <span class="english_font">_____________________________</span>     (veeles efueneJes) ner  <span class="english_font">{{ app.group.group_name }}
            J.L.G </span> ieìe®eer meYeemeo Demetve, leer efnbogmLeeve cee³e¬eÀesHeÀe³eveevme Òee.efue. ³eeb®eskeÀ[tve keÀpe& Iesle Deens ³ee®es ceuee HegCe& keÀuHevee Deens. meojerue  keÀpee&efJe<e³eer®es meJe& efve³ece Je Deìer ceuee mecepeeJetve meebefieleuesu³ee Deensle Je les ceuee ceev³e Deensle ³ee keÀpee&®³ee HejleHesÀ[er®eer peyeeyeoejer Jeejmeoej ³ee veel³eeves ceePeer osKeerue Deens, ³ee®es ceuee HegCe& keÀuHevee Deens.</p>
        <p class="pull-left">Jeejmeoeje®eer mener: <br/>Jeejmeoeje®es veeJe:  <span class="english_font">{{app.gurantors_nominee_name}}</span></p>
        <p class="pull-right">mLeU:<br/>
            efoveebkeÀ: <span class="english_font">{{ disbursement_date|dateformat }}</span></p>
    </div>

    <br/><br/>
    <p class="text-center">---------------------------------------------------------------------------------------------</p>
    <div style="width: 100%;">
        <span class="text-center hinditext-large">ûeenkeÀ Hees®eHeeJeleer</span>
        <br/>
        <span class="pull-left hinditext">veeJe:</span><br/>
        <p class="hinditext">
        Deece®³ee cee³e¬eÀes¬esÀef[ì ueesve Òee@[keÌì Debleie&le Deecneuee DeeHeuee   20000<span class="english_font">/(Apply amt)-</span>  ©.meeþer keÀpe& ceeieCeer Depe& efceUeuesuee Deens.<br/>
        Deece®³ee Debleie&le ceeie&oMe&keÀ met®eveebvegmeej legcner efouesu³ee keÀpe& ceeieCeer Depee&®³ee Hees®e HeeJeleer veblej peemleerle peemle 18 keÀecekeÀepeer³e efoJemeeble l³ee®³eeJej efveCe&³e IesTve Heg{erue Òeef¬eÀ³ee HetCe& keÀsueer peeF&ue.<br/>
            </p>


        <p class="pull-left">
        <span class="hinditext">efoveebkeÀ</span>:  {{ disbursement_date|dateformat }} <br/>
        <span class="hinditext">efmekeÌkeÀe</span>
        </p>
        <span class="pull-right hinditext"> DeefOekeÀeN³ee®eer mener Je </span>
    </div>
    <br/><br/><br/><br/>
    <table border="1" style="width:100%;margin: 10px;" class="english_font_small">
        <tr>
             <td style="width:50%">
                <label class="gurantor_s_relationship_with_borrower">Gurantor's Relationship with Borroweer:</label>
                <label class="value">{{app.gurantor_s_relationship_with_borrower}}</label>
            </td>
             <td style="width:50%">
                <label class="gurantors_borrowers_are_nominee_for_each_other_">Gurantor-Borrower's are nominee for each other</label>
                <label class="value">{{app.gurantors_borrowers_are_nominee_for_each_other_}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:50%">
                <label class="gurantors_nominee_name">Gurantor'sName:</label>
                <label class="value">{{app.gurantors_nominee_name}}</label>
            </td>
             <td style="width:50%">
                <label class="gurranter_s_sex">Gurantor's Sex:</label>
                <label class="value">{{app.gurranter_s_sex}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                <label class="gurranter_s_age">Gurantor's Age:</label>
                <label class="value">{{app.gurranter_s_age}}</label>
            </td>

        </tr>
    </table>
    <table border="1" style="width:100%;margin: 10px;">
        <tr>
             <td style="width:50%">
                <label class="select_house_type">Types of House</label>
                <label class="value">{{app.select_house_type}}</label>
            </td>
             <td style="width:50%">
                <label class="quality_of_house">Quality of House</label>
                <label class="value">{{app.quality_of_house}}</label>
            </td>
        </tr>
        <tr>
             <td style="width:100%" colspan="2">
                <label class="house_stay_duration">How Long are you Staying in house(in years):</label>
                <label class="value">{{app.house_stay_duration}}</label>
            </td>
{#             <td style="width:50%">#}
{#                <label class="drinking_water">Source of Drinking water:</label>#}
{#                <label class="value">{{app.drinking_water}}</label>#}
{#            </td>#}
        </tr>

{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="">No of Cows:</label>#}
{#                <label class="value">{{app.num_cows}}</label>#}
{##}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="self_owned_land">Land (in Ares):</label>#}
{#                <label class="value">{{app.self_owned_land}}</label>#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="">No of Sheeps:</label>#}
{#                <label class="value">{{app.num_sheeps}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="">Orchard:</label>#}
{#                <label class="value">{{app.orchard_acre}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2">#}
{#                <label class="family_assets">Other Assets:</label>#}
{#                <label class="value">{{app.family_assets}}</label>#}
{#            </td>#}
{##}
{#        </tr>#}


    </table>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <p class="text-center">----------------------------------------------------------------------------</p>
    <img width="100%" src="/home/esthenos/esthenos_cust_enrollment/esthenos/static/img/pdf_images/app_pg1_bottom.png">
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="primary_business_category">Primary Business Category:</label>#}
{#                <label class="value">{{app.primary_business_category}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="primary_business">Primary Business Activity:</label>#}
{#                <label class="value">{{app.primary_business}}</label>#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="primary_income">Primary Business Income(Monthly):</label>#}
{#                <label class="value">{{app.primary_income}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="primary_expenses">Primary Business Expenses(Monthly):</label>#}
{#                <label class="value">{{app.primary_expenses}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="secondary_business">Secondary business Activity:</label>#}
{#                <label class="value">{{app.secondary_business}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="secondary_income">Secondary business Income(Monthly):</label>#}
{#                <label class="value">{{app.secondary_income}}</label>#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="secondary_business">Tertiary business Activity:</label>#}
{#                <label class="value">{{app.tertiary_business}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="secondary_income">Tertiary business Income(Monthly):</label>#}
{#                <label class="value">{{app.tertiary_income}}</label>#}
{#            </td>#}
{##}
{#        </tr>#}
{##}
{#    </table>#}
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="food_expense">Family Food Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.food_expense}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="medical_expense">Family Medical Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.medical_expense}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="travel_expense">Family Travel Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.travel_expense}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="educational_expense">Family Education Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.educational_expense}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="entertainment_expense">Family Entertainment Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.entertainment_expense}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="other_expense">Family Other Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.other_expense}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="festival_expenditure">Family Festival Expenditure(Monthly):</label>#}
{#                <label class="value">{{app.festival_expenditure}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="total_liability">Financial Liabilities:</label>#}
{#                <label class="value">{{app.total_liability}}</label>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{#    <table border="1" style="width:100%;margin: 10px;">#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="village_medical_facilities">Medical Facility:</label>#}
{#                <label class="value">{{app.village_medical_facilities}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="village_hospital_category">Medical Category:</label>#}
{#                <label class="value">{{app.village_hospital_category}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="">Education Institutes:</label>#}
{#                <label class="value">{{app.village_edu_facilities}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="fnf_inclusion">Financial  institutions:</label>#}
{#                <label class="value">{{app.fnf_inclusion}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="village_public_transport">Public Transport:</label>#}
{#                <label class="value">{{app.village_public_transport}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="village_water">Water Bodies:</label>#}
{#                <label class="value">{{app.village_water}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="village_electricity">Electricity Hours:</label>#}
{#                <label class="value">{{app.village_electricity}}</label>#}
{#            </td>#}
{##}
{#             <td style="width:50%">#}
{#                <label class="village_road">Road Quality:</label>#}
{#                <label class="value">{{app.village_road}}</label>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#             <td style="width:50%">#}
{#                <label class="">Sanitation:</label>#}
{#                <label class="value">{{app.village_information_sanitation}}</label>#}
{#            </td>#}
{#             <td style="width:50%">#}
{#                <label class="interested_in_other_fp">Intersted In Buying opther Produces:</label>#}
{#                <label class="value">{{app.interested_in_other_fp}}</label>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}

{% endblock %}
