{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css" xmlns="http://www.w3.org/1999/html">
        @font-face {
            font-family: kruti dev ;
            src: url('/home/esthenos/esthenos_cust_enrollment/esthenos/static/fonts/AYOGNI_N.TTF');
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }
        .font-small{
            font-size:8px;
        }
        .font-msmall{
            font-size:10px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .english{
            font-family: Tahoma;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:8px;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<div class="row-fluid">
    {% for app in apps %}
        <div class="col-md-12 hinditext">

            <h4 class="text-center">Je®eve ef®eÇer</h4>
            <span class="pull-right" >efþkeÀeCe: <u><span class="english font-small">{{ group.location_name }}</span></u></span><br/>
            <span class="pull-right">leejerKe: <u><span class="english font-small">{{ disbursement_date|dateformat }}</span></u></span>
            <br/>


            <table>
                <tr>
                    <td style="width: 85%;">
                        <p>
                            {% set number = 1000 + loop.index %}
                            <span style="border: 1px solid;border-radius: 10px;padding-left: 10px;padding-right:10px ;"> keÀpe& ¬eÀ.: <u> <span class="english font-msmall">{{ number }}</span></u></span> ceer/Deecne <u><span class="english font-small">{{ app.applicant_name }}</span> </u> mener keÀjCeej Jew³eefkeÌlekeÀefjl³ee efkebÀJee

                            me³egkeÌleefjl³ee efnbomgLeeve cee³e¬eÀesHeÀe³eveevme Òee. efue. ³ee kebÀHeveer keÀ[tve jkeÌkeÀce ©He³e
                            <u> {{ app.product.loan_amount }} </u> De#ejer ªHe³ <u> {{ app.product.loan_amount|num2words }} </u>
                            jesKe /OeveeosMe ¬eÀ. <u> {{ app.cheque_no }}</u> yeBkeÀ <u>{{ app.bank_name }}</u>
                            MeeKee <u>{{ app.branch_name }}</u> keÀpe& Iesleues Demetve meoj keÀpee&®ee J³eepe oj <u><span class="english font-msmall">{{ interest_rate }}%</span></u>
                            Ieìl³ee ojeves  o.mee.o.Mes. Deens. meoj jkeÌkeÀce J³eepee menerle ceeieCeer keÀjlee®e HejleHesÀ[ keÀjC³ee®es Je®eve osles.
                        </p>
                    </td>
                    <td style="width: 15%;padding: 10px;">
                        <div style="border: 1px solid;border-radius: 5px;padding-left: 5px;padding-right:5px ;width: 80px;height: 80px;">
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    {% endfor %}

</div>






{% endblock %}