
{% extends "base_other.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}



<div class="col-md-10 col-md-offset-1"  style="background: #ffffff;">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
        <h2 class="text-center">DEMAND PROMISSORY NOTE</h2>
        <div class="pull-left">
            <img src="{{ url_for('static', filename='img/logo-esthenos.png')}}"
                 height="50" alt="">
            <address>
                <strong>eSthenos Financial Services Limited</strong><br>
            </address>
        </div>

        <div class="clearfix"></div>
        <h4>
            <div class="text-justify">
                <p> <span class="small">
                                I/ We _______________________________________________________ aged about ______ years having Ration card Number or Voter ID
Number. ______________________________ residing at __________________________________
(hereafter called the ‘Borrower’) unconditionally promise to pay on Demand the payee eSthenos Financial Servicess Ltd. at its state office located at Vellore or at such
other place as payee may designate, the principal sum of Rs.____________________________ only with interest thereon at the rate of 26% p.a.
on declining balance method from the date hereof through and including the dates of payment, calculated at the rate and in accordance with the
provisions of the agreement dated _________________ (‘Agreement’) entered into between the Borrower in its capacity as Debtor under the
Agreement and the payee in its capacity as secured party under the Agreement.
The Borrower does hereby acknowledge that time is of the essence hereof. To further clarify the interpretation of the declining balance method of
computing interest, the borrower hereby, unconditionally promises that for any principal, all interest thereon and all other dues (including but not
limited to costs, charges and expenses), collectively referred to as ‘sum’ due under this note if not received by payee within (3) Business days after
the date the payee makes demand for payment of such ‘sum’, the Borrower shall pay on the basis of ‘reducing balance method of computing
interest’, interest of 26% p.a. on such ‘sum’ until realisation.
Further notwithstanding the above, the Payee shall not be entitled for any fee for delayed payments by the Maker, except interest at the rate of
26% p.a. on delayed payment of principal, interest and/or dues from the borrower.
                                </span>
                </p>
            </div>


            <!--<div class="clearfix"></div>-->
        </h4>

        </row>
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-left text-black"> Guarantor :</h5>
                <h5 class="text-left text-black"> DATE :</h5>
                <h5 class="text-left text-black"> PLACE :</h5>

            </div>
            <div class="col-md-5 col-md-offset-4">
                <h5 class="text-right text-black">For eSthenos Services Ltd</h5>
                <h5 class="text-right semi-bold text-black">Authorized Signatory</h5>
                <h5 class="text-right semi-bold text-black">[Borrower]</h5>
            </div>
        </div>
        <br>
        <br>

    </div>

    <br>
    <br>




</div>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h2 class="text-center">DEMAND PROMISSORY NOTE</h2>
            <div class="pull-left">
                <img src="{{ url_for('static', filename='img/logo-esthenos.png')}}"
                     height="50" alt="">
                <address>
                    <strong>eSthenos Financial Services Limited</strong><br>
                </address>
            </div>

            <div class="clearfix"></div>
            <h4>
                <div class="text-justify"> <span class="small">
                                I/ We _______________________________________________________ aged about ______ years having Ration card Number or Voter ID
Number. ______________________________ residing at ______________________________________________________________________
_____________________________________________________________________________________________________
(hereafter called
the ‘Borrower’) unconditionally promise to pay on Demand the payee eSthenos Financial Servicess Ltd. at its state office located at Vellore or at such
other place as payee may designate, the principal sum of Rs.____________________________ only with interest thereon at the rate of 26% p.a.
on declining balance method from the date hereof through and including the dates of payment, calculated at the rate and in accordance with the
provisions of the agreement dated _________________ (‘Agreement’) entered into between the Borrower in its capacity as Debtor under the
Agreement and the payee in its capacity as secured party under the Agreement.
The Borrower does hereby acknowledge that time is of the essence hereof. To further clarify the interpretation of the declining balance method of
computing interest, the borrower hereby, unconditionally promises that for any principal, all interest thereon and all other dues (including but not
limited to costs, charges and expenses), collectively referred to as ‘sum’ due under this note if not received by payee within (3) Business days after
the date the payee makes demand for payment of such ‘sum’, the Borrower shall pay on the basis of ‘reducing balance method of computing
interest’, interest of 26% p.a. on such ‘sum’ until realisation.
Further notwithstanding the above, the Payee shall not be entitled for any fee for delayed payments by the Maker, except interest at the rate of
26% p.a. on delayed payment of principal, interest and/or dues from the borrower.
                                </span>
                </div>


                <!--<div class="clearfix"></div>-->
            </h4>





            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-left text-black"> Guarantor :</h5>
                <h5 class="text-left text-black"> DATE :</h5>
                <h5 class="text-left text-black"> PLACE :</h5>

            </div>
            <div class="col-md-5 col-md-offset-4">
                <h5 class="text-right text-black">For eSthenos Services Ltd</h5>
                <h5 class="text-right semi-bold text-black">Authorized Signatory</h5>
                <h5 class="text-right semi-bold text-black">[Borrower]</h5>
            </div>
        </div>

        <br>
        <br>

    </div>

</div>
{% endblock %}