{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        @font-face {
            font-family: kruti dev ;
            src: url('/Users/prathvi/Current/esthenos/esthenos/static/fonts/AYOGNI_N.TTF');
        }

        .hinditext {
            font-family: kruti dev;
            font-size:12px;
        }

        .condensed tr{
            font-size:8px;
            line-height: 15px;
            min-height: 15px;
            height: 15px;
        }

        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:8px;
        }

    </style>
{% endblock %}
{% block meta %}
    <meta name="pdfkit-orientation" content="Landscape"/>
{% endblock %}
{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <h4 class="text-center">Passbook</h4>
    <table style="width: 100%;padding: 10px;">
    <tr style="padding: 10px;">
        <td style="width: 50%;padding: 10px">
            <table  id="repayment" class="table table-bordered table-condensed condensed">
                <caption>LOAN REPAYMENT SCHEDULE</caption>
                <tr>
                    <th style="width:1%" class="unseen text-center hinditext">nHlee keÀ.</th>
                    <th  style="width:20%" class="text-left hinditext">nHl³ee®eer leejerKe</th>
                    <th style="width:15%" class="text-right hinditext">J³eepe</th>
                    <th style="width:10%" class="text-right hinditext">मुद्दल</th>
                    <th style="width:10%" class="text-right hinditext">SkegÀCe nHlee</th>
                    <th style="width:10%" class="hinditext" >keÀpe& efMeuuekeÀ</th>
                </tr>

                {% for n in range(1,25) %}
                    <tr >
                        <td>{{ n }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}


                <tr >
                    <td rowspan="3">I<br/>U<br/>C<br/></td>
                    <td colspan="2">
                        Date : {{ date }} <br/>
                        Done By :  <br/>
                        Result :  <br/>
                    </td>
                    <td rowspan="3" colspan="3">Signature</td>

                </tr>



            </table>
        </td>
        <td style="width: 50%;padding: 10px">
            <table id="repayment2"  class="table table-bordered  table-condensed condensed">
                <caption>LOAN REPAYMENT STATEMENT</caption>
                <tr>
                    <th style="width:1%" class="unseen text-center hinditext">nHlee keÀ.</th>
                    <th style="width:25%" class="text-left hinditext">nHlee Yejuesueer leejerKe</th>
                    <th style="width:25%" class="text-right hinditext">SkegÀCe Yejuesueer jkeÀkeÀce</th>
                    <th  style="width:15%" class="text-right hinditext">CSP mener</th>
                    <th style="width:5%" class="hinditext">MeeKeeefOekeÀejer mener</th>
                    <th style="width:15%" class="hinditext">leHeemeCeer keÀjCeeN³ee®eer mener</th>
                </tr>
                {% for n in range(1,25) %}
                    <tr >
                        <td>{{ n }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <td rowspan="3">I<br/>U<br/>C<br/></td>
                    <td rowspan="3">

                    </td>
                    <td rowspan="3" colspan="4">Signature</td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;padding: 10px">
            <img src="/Users/prathvi/Current/esthenos/esthenos/static/img/pdf_images/hindustan_passbook1.png"
                 style="width: 100%;" alt="">
        </td>
        <td style="width: 50%;">
            <table class="table table-bordered font-small condensed"  >

                <tr>
                    <td  style="width:30%" class="text-center"></td>

                    <td style="width:70%" class="text-center " colspan="3" rowspan="3">Address
                        <br/>
                        <br/>
                        <br/></td>

                </tr>
            </table>
            <table style="width: 100%;padding: 10px" class=" table-bordered font-small condensed"  >
                <tr><th colspan="2" class="text-center">Loan Passbook</th></tr>
                <tr >
                    <td  style="width:30%"  rowspan="1" class="text-center">
                        <br/>
                        Borrower Office Seal<br/>
                    </td>
                    <td style="width:70%"  rowspan="1" class="text-center">
                        <br/><br/>Joint Photograph of borrower and Spouse/Gurrantor<br/><br/>
                    </td>

                </tr>
            </table>
            <table style="width: 100%;" class=" table-bordered font-small condensed">
                <tr><th colspan="6" class="text-center">BORROWER DETAILS</th></tr>
                <tr>
                    <td style="width: 30%;"  class="text-right">Borrower Code and Name</td>
                    <td style="width: 15%;"></td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td   class="text-right">Spouse/Gurrantor Name</td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td   class="text-right">Village</td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td   class="text-right">Group Code and Name</td>
                    <td></td>
                    <td style="width: 30%;"></td>
                    <td></td>

                    <td></td>
                    <td></td>
                    </td></td>
                </tr>
                <tr>
                    <td   class="text-right">Center Code and Name</td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td   class="text-right">Branch Name</td>
                    <td colspan="5"></td>
                </tr>
            </table>
            <table style="width: 100%;" class="  table-bordered font-small condensed">
                <tr><th colspan="7" class="text-center">Loan Details</th></tr>


                <tr>
                    <td style="width: 30%;"  class="text-right">Date of Dibursement</td>
                    <td colspan="4"></td>
                    <td style="width: 20%;" class="text-right">LoanAmount:</td>
                    <td style="width: 20%;"></td>
                </tr>
                <tr>
                    <td   class="text-right">Loan Tenture</td>
                    <td colspan="4" class="text-center">24 Months</td>
                    <td rowspan="2" class="text-right">Interst Rate:</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td class="text-right" >Repayment Frequency</td>
                    <td colspan="4" class="text-center">Monthly</td>

                </tr>

                <tr>
                    <td rowspan="2" class="text-right">Repayment Day</td>
                    <td class="text-center" style="width: 8%;">1</td>
                    <td class="text-center" style="width: 8%;">2</td>
                    <td class="text-center" style="width: 8%;">3</td>
                    <td class="text-center" style="width: 8%;">4</td>
                    <td>Processing Fee</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td colspan="2" class="text-center">Product Code</td>
                </tr>
                <tr>
                    <td   class="text-right">Meeting Time</td>
                    <td colspan="4"></td>
                    <td colspan="2">MN27-02420</td>
                </tr>
                <tr>
                    <td   class="text-right">LoanID</td>
                    <td colspan="4"></td>
                    <td class="text-right">Loan Cycle</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right">Loan Purpose</td>
                    <td colspan="6">

                    </td>
                </tr>

            </table>
            <table style="width: 100%;" class="  table-bordered font-small condensed">
                <tr><th colspan="7" class="text-center">Insurance Details</th></tr>


                <tr>
                    <td style="width: 30%;" class="text-right">Insured Person</td>
                    <td style="width: 30%;"><input type="radio" name="insuredPerson">Borrower <input type="radio" name="insuredPerson"> Gurantor</td>
                    <td style="width: 20%;">Sum Assured</td>
                    <td style="width: 20%;"></td>
                </tr>

                <tr>
                    <td class="text-right">Total Premium Paid</td>
                    <td></td>
                    <td>Cover Period</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="text-right">Nominee (Borrower)</td>
                    <td colspan="3"></td>

                </tr>


                <tr>
                    <td class="text-right">Nominee (Gurrantor)</td>
                    <td colspan="3"></td>

                </tr>


            </table>

            <div class="pull-right">_____________________________________</div>
            <br/>
            <div class="pull-right">BM/RM&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
        </td>
    </tr>
    </table>

{% endblock %}
