
{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:7px;
        }
        .font-lsmall h2{
            font-size:12px;
        }
        .font-msmall{
            font-size:8px;
        }
        tr{

        }
    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block meta %}
    <meta name="pdfkit-orientation" content="Landscape"/>
{% endblock %}
{% block maincontents %}


    <div class="row col-md-10 col-md-offset-1 font-small" style="background: #ffffff;">
        <div class="col-md-10 col-md-offset-1">
            <h5 class="text-center font-lsmall">INSURANCE PREMIUM ACKNOWLEDGEMENT (GROUP COPY)</h5>
            <div class="pull-left">
                <img src="/Users/prathvi/Current/esthenos/esthenos/static/img/pdf_images/hindusthan-logo.png"
                     height="50" alt="">
                <address>
                    <strong>{{ org_name }}</strong><br>
                </address>
            </div>

            <div class="pull-left font-msmall">
                <p>
                We {{ org_name }}, hereby acknowledge the receipt of Rs.  ________________________ towards Insurance Premium for the Borrowers and their Guarantors
                of the Group ___________________ Centre ______________________
                Branch ___________________________Region _______________________ The details of payments are mentioned in the below Table.

                </p>

            </div>
            <div class="clearfix"><br/></div>
            <div class="clearfix"><br/></div>
            <table class="table table-bordered font-small">
                <thead>
                <tr>
                    <th style="width:5%"> No</th>

                    <th style="width:15%" class="text-left">NAME OF BORROWER</th>

                    <th style="width:5%"class="text-left">AGE</th>

                    <th style="width:10%"class="text-center" >Name of the additional family if insured</th>

                    <th style="width:15%">Voter ID or Ration Card Number</th>

                    <th style="width:5%"class="text-left">Member Code</th>

                    <th style="width:10%"style="width:100px" class="text-center" >Loan Account No.</th>

                    <th style="width:10%"class="text-left">Loan Amount</th>

                    <th style="width:5%"class="text-left">Sum Assured</th>

                    <th style="width:5%"class="text-left">Ins. Pr. (for 2 Lives)</th>

                    <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                </tr>
                </thead>
                <tbody>
                <!--{% for n in range(1,20) %}-->
                    <tr>
                        <td></td>
                        <td class="text-left" class="text-right"></td>
                        <td class="text-left"></td>
                        <td class="text-right"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>

                    </tr>
                    <!--{% endfor %}-->

                </tbody>
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <div class="col-md-3"><br>
                            <p class="text-left text-black"> DATE :<br/>
                                PLACE :</p>
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <p class="text-right text-black">For {{ org_name }}<br/><br/>
                            Authorized Signatory<br/>
                            [REGIONAL MANAGER]</p>
                    </td>
                </tr>

            </table>
            <div class="clearfix"><br/></div>
            <div class="clearfix"></div>
            <br/>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h5 class="text-center font-lsmall">INSURANCE PREMIUM ACKNOWLEDGEMENT (OFFICE COPY)</h5>
            <div class="pull-left">
                <img src="/Users/prathvi/Current/esthenos/esthenos/static/img/pdf_images/hindusthan-logo.png"
                     height="50" alt="">
                <address>
                    <strong>{{ org_name }}</strong><br>
                </address>
            </div>

            <div class="pull-left font-msmall">
                <p>
                    We {{ org_name }}, hereby acknowledge the receipt of Rs.  ________________________ towards Insurance Premium for the Borrowers and their Guarantors
                    of the Group ___________________ Centre ______________________
                    Branch ___________________________Region _______________________ The details of payments are mentioned in the below Table.

                </p>

            </div>
            <div class="clearfix"><br/></div>
            <div class="clearfix"><br/></div>
            <table class="table table-bordered font-small">
                <thead>
                <tr>
                    <th style="width:5%"> No</th>

                    <th style="width:15%" class="text-left">NAME OF BORROWER</th>

                    <th style="width:5%"class="text-left">AGE</th>

                    <th style="width:10%"class="text-center" >Name of the additional family if insured</th>

                    <th style="width:15%">Voter ID or Ration Card Number</th>

                    <th style="width:5%"class="text-left">Member Code</th>

                    <th style="width:10%"style="width:100px" class="text-center" >Loan Account No.</th>

                    <th style="width:10%"class="text-left">Loan Amount</th>

                    <th style="width:5%"class="text-left">Sum Assured</th>

                    <th style="width:5%"class="text-left">Ins. Pr. (for 2 Lives)</th>

                    <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                </tr>
                </thead>
                <tbody>
                <!--{% for n in range(1,20) %}-->
                    <tr>
                        <td></td>
                        <td class="text-left" class="text-right"></td>
                        <td class="text-left"></td>
                        <td class="text-right"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                        <td class="text-left"></td>

                    </tr>
                    <!--{% endfor %}-->

                </tbody>
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <div class="col-md-3"><br>
                            <p class="text-left text-black"> DATE :<br/>
                                PLACE :</p>
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <p class="text-right text-black">For {{ org_name }}<br/><br/>
                            Authorized Signatory<br/>
                            [REGIONAL MANAGER]</p>
                    </td>
                </tr>

            </table>
            <div class="clearfix"><br/></div>
            <div class="clearfix"></div>

        </div>

    </div>

{% endblock %}
