{% extends "base_pdf.html" %}


{% block css_sheets %}{{ super() }}
    <style type="text/css">
        .font-small{
            font-size:8px;
        }
        .font-vsmall{
            font-size:7px;
        }
        .font-small tr{
            line-height: 20px;
            min-height: 20px;
            height: 20px;
            font-size:9px;
        }
        .font-lsmall h2{
            font-size:12px;
        }
        .font-msmall{
            font-size:10px;
        }
        tr{

        }
    </style>
{% endblock %}


{% block meta %}
    <meta name="pdfkit-orientation" content="Landscape"/>
{% endblock %}


{% block maincontents %}
<div class="row col-md-10 col-md-offset-1" style="background: #ffffff;">
    <div class="col-md-10 col-md-offset-1">

        <h4 class="text-center font-lsmall"><strong>SANCTION LETTER</strong></h4>
        <table width="100%">
            <col width="33%">
            <col width="33%">
            <tr>
                <td class="text-left">
                    <strong>Date: {{date}}</strong>
                </td>
                <td class="text-center">
                    <strong>Palce :</strong>
                </td>
                <td class="text-center">
                    <strong>Loan Application No.</strong>
                </td>
            </tr>
        </table>
        <br>
        <p><strong>Loan term Sheet/ Sanction Terms – Business Loans:</strong></p>

        <table class="table-bordered" style="width:100%;">
            <col width="5%">
            <col width="40%%">
            <col width="55%%">
            <tr>
                <td width="5%">1</td>
                <td width="40%">Customer Name</td>
                <td>{{app.applicant_kyc.name}}</td>
             </tr>
            <tr>
                <td width="5%">2</td>
                <td width="40%">Loan Amount</td>
                <td>{{app.sanction.memo_loan_amount}}</td>
             </tr>
            <tr>
                <td width="5%"></td>
                <td width="40%">Loan Amount (in words)</td>
                <td>{{app.sanction.memo_loan_amount|num_to_words}}</td>
             </tr>
            <tr>
                <td width="5%">3</td>
                <td width="40%">Rate of interest (Customer IRR)</td>
                <td>{{app.sanction.memo_loan_interest}}</td>
             </tr>
            <tr>
                <td width="5%">4</td>
                <td width="40%">Processing fees (%)</td>
                <td>{{app.sanction.memo_loan_processing_fee}}</td>
             </tr><tr>
                <td width="5%">5</td>
                <td width="40%">Tenor (Months)</td>
                <td>{{app.sanction.memo_loan_period}}</td>
             </tr>
            <tr>
                <td width="5%">6</td>
                <td width="40%">EMI</td>
                <td>{{app.sanction.memo_loan_emi}}</td>
             </tr>
            <tr>
                <td width="5%">7</td>
                <td width="40%">Number of Advance EMI</td>
                <td></td>
             </tr>
            <tr>
                <td width="5%">8</td>
                <td width="40%">EMI Scheme</td>
                <td></td>
            </tr>
            <tr>
                <td width="5%">9</td>
                <td width="40%">Insurance Premium</td>
                <td></td>
             </tr>
        </table>
        <strong>10. Mode of Loan Repayment</strong>
        <br/><strong>10.(A) Post Dated Cheques (PDC)</strong>
            <table class="table-bordered" style="width:100%;">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <tr>
                        <td>Bank Name</td>
                        <td>Account Number</td>
                        <td>Chq.No.From</td>
                        <td>Chq.No.To</td>
                        <td>No.of Chq.</td>
                        <td>Amount</td>
                        <td>Remarks</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </table>
            <strong>10.(B) Electronic Clearing Services (ECS)</strong>
            <table class="table-bordered" style="width:100%;">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <tr>
                        <td>Bank Name</td>
                        <td>Account Number</td>
                        <td>Amount of Installment</td>
                        <td>Periodicity(M/BIM/Qty)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
             </table>
            <div style="font-size:10px">
            11.(A)<strong> Foreclosure charges: </strong>NIL, post clearance of atleast one EMI.<br/>
            11.(B)<strong> Part-repayment: </strong>Not Allowed<br/>
            <strong>12 It is understood that the customer IRR mentioned above is as per the scheme opted for.</strong><br/>
            <strong>13 Confirm the receipt of Maitreya Capital And Business Services Pvt. Ltd.</strong><br/>
            <strong>Terms & Conditions governing this loan.</strong>
            <strong>Received read and understood</strong><br/><br/>
            </div>

            <table width="100%">
                <tr>
                    <td class="text-left">
                        Name of the Applicant: {{app.applicant_kyc.name}}
                    </td>
                    <td class="text-right">
                        Signature : ____________________
                    </td>
                </tr>
            </table>

            <br/>
            <p>Proprietor : </p>
            <table style="width:100%" class="table-bordered" style="font-size:12px">
                <col width="50%">
                <tr>
                    <td><br/>Name of the Co-Applicant(1): <br/><br/>
                        Signature :
                    </td>
                    <td><br/>Name of the Co-Applicant(2): <br/><br/>
                        Signature :
                    </td>
                </tr>
                <tr>
                    <td><br/>Name of the Co-Applicant(1): <br/><br/>
                        Signature :
                    </td>
                    <td><br/>Name of the Co-Applicant(2): <br/><br/>
                        Signature :
                    </td>
                </tr>
            </table>
        <br/><br/>
        <p class="text-left">Company Common Seal</p>
        <table width="100%" style="font-size:12px">
            <td>
                <img align = "left" height="50" width="100" src= {{ url_for('static', filename = 'img/maitreyacapital.png') }} >
            </td>
            <td>
                <p class="text-right">Maitreya Capital Copy</p>
            </td>
        </table>
        <hr>
        <div class="col-md-12" style="font-size:12px">
            <center>
                <b>Maitreya Capital & Business Services Pvt. Ltd. </b>B5-317, Shram Jeevan, Near Wadala RTO, Wadala (East), Mumbai: 400037
            </center>
        </div>
    </div>
</div>
{% endblock %}
