
{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


 <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>
                    <h2 class="text-center"></h2>
                    <div class="text-center">
                        <!--<img src="{{ url_for('static', filename='img/logo-icon.png')}}"-->
                             <!--height="50" alt="">-->
                        <address>
                            <strong></strong><br>
                        </address>
                    </div>

                   <!-- <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left">
                                Branch Name:  _____________________
                                       Date:  _____________________
                            </div>


                            <div class="clearfix"></div>
                        </h4>-->
                     <!--<div class="col-md-3"><br>-->

                         <div>
                            <div class="pull-left"> TO,
_____________________ </div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <div>
                            <div class="pull-left"> Wife/Daughter of __________________	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>
                    <div>
                            <div class="pull-left"> Address:	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>

                     <div>
                            <div class="pull-right"> Co-Borrower :_________________	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>

                    <div>
                            <div class="pull-right"> Lender:	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>
                     <div>
                            <div class="pull-right"> Hindusthan Microfinance Pvt Ltd.
									(HMPL)	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

                        <br>

  <center><b>RE: Sanction Letter for loan under JLG Scheme</b></center>
                    <br>
                    <br>
      Madam,<br>

We are pleased to inform you that your application for loan under our product JLG  scheme has been sanctioned. We will disburse the amount as per the details hereunder subject to your producing the original ID Proof at the time of disbursement and the same should match with the ID that was produced at the time of filling the loan application form.
                    <br>
                    <br>



                    <div class="pull-left"> </div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%">LOAN A/C NO.</th>

                            <th style="width:15%" class="text-left">Cust Id No</th>

							<th style="width:5%"class="text-left">Application No</th>

							<th style="width:10%"class="text-center" colspan="2">Sanctioned
Amount: </th>

                            <th style="width:15%"></th>

                            <th style="width:5%"class="text-left"></th>

                            <th style="width:10%"style="width:100px" class="text-center" colspan="2"></th>

                            <!--<th style="width:10%"class="text-left">LOAN ACCOUNT No</th>-->

                            <!--<th style="width:5%"class="text-left">LOAN AMOUNT</th>-->

                            <!--<th style="width:5%"class="text-left">SUM ASSURED</th>-->

                            <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <!--{% for n in range(1,15) %}-->
                        <tr>
							<!--<td>1</td>-->
                            <!--<td class="text-left" class="text-right">Arun G Hiremath</td>-->
                            <!--<td class="text-left">23</td>-->
                            <!--<td class="text-right">P</td>-->
                            <!--<td class="text-left">AICPH1453L</td>-->
                            <!--<td class="text-left">Gangayya Hiremath</td>-->
                            <!--<td class="text-left">45</td>-->
                            <!--<td class="text-left">A</td>-->
                            <!--<td class="text-left">180034328555</td>-->
                            <!--<td class="text-left">2535AA</td>-->
                            <!--<td class="text-left">20000</td>-->
                            <!--<td class="text-left">19000</td>-->
                            <!--<td class="text-left">1200</td>-->


                        </tr>
                        <!--{% endfor %}-->

                        </tbody>
                    </table>
                    *The settlement of claims is at the sole discretion of “M/S HDFC Standard Life Insurance Company” and neither HMPL nor its officers shall be liable for rejections of claim on any grounds whatsoever.


                    <br>
                    <br>

                     <div class="pull-left"> </div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%">Type of KYC</th>

                            <th style="width:15%" class="text-left">Meeting Centre Name</th>

							<th style="width:5%"class="text-left">Group Name</th>

							<th style="width:10%"class="text-center" colspan="2">Meeting Date</th>

                            <th style="width:15%">Meeting Time</th>

                            <th style="width:5%"class="text-left">Monthly EMI</th>

                            <!--<th style="width:10%"style="width:100px" class="text-center" colspan="2"></th>-->

                            <!--<th style="width:10%"class="text-left">LOAN ACCOUNT No</th>-->

                            <!--<th style="width:5%"class="text-left">LOAN AMOUNT</th>-->

                            <!--<th style="width:5%"class="text-left">SUM ASSURED</th>-->

                            <!--<th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <!--{% for n in range(1,15) %}-->
                        <tr>
							<td>
                                KYC Number
                            </td>
                            <td>
                                Last Installment Date
                            </td>
                            <td>
                                Note: We hereby request you to be present personally at the Meeting centre on collection date at the given time of Collection with your loan card and repayment amount.

We advise you to COMPULSORILY collect the receipt from HMPL staff for any amount paid as proof of payment.
                            </td>


                        </tr>
                        <!--{% endfor %}-->

                        </tbody>
                    </table>
                    <br>
                    <br>

 1) No penalty charges for delayed payments.  No margin money or security deposit taken.<br>

 2) Foreclosures/Partial Pre- Payment Charges : NIL<br>

 3) The borrower hereby agrees and authorizes to share the details of his/her information to Credit Bureau, any of the associates of HMPL to facilitate the customer to deserve the benefit of purchases / availing services from any of such associates.  HMPL will respect the borrower’s privacy and will treat borrower information as private and confidential<br>

 4) The Borrower hereby expressly recognizes and accepts that except for Group Term Life Insurance (GTI) plan or any other service/product offered by HMPL is optional and not mandatory.<br>

 5) The period of moratorium between the grant of the loan and the due date of the repayment of the first installment will be minimum 30 days and maximum of 45 days<br>

 6) <b>Securitization</b>: The borrower expressly recognize and accepts that HMPL shall, without reference to or intimation to the borrower, be absolutely entitled and have full power and authority, to sell and/or assign to any third-party or person as HMPL may decide the loan and all outstanding due to HMPL under this loan in any manner, in whole or in part and on such terms as HMPL may decide including assigning or reserving to HMPL the power to proceed against the borrower on behalf of the assignee in Events of Default for any amounts due by the Borrower under this loan. HMPL may, if it so desires, also assign to such assignee, the right to proceed against Borrower. Any such sale or assignment shall bind the Borrower and the Borrower shall accept the third-party as its sole creditor jointly with HMPL and in such event the Borrower shall pay to HMPL or such creditor or as HMPL may direct the outstanding amounts due by the Borrower under this loan.
The Borrower also expressly recognizes and accepts that in the event HMPL sells/assigns to any third party the Loan and all outstanding due to HMPL such assignment may cover transfer and assignment of any or all rights and obligations of HMPL under this loan which may inter alia include but not limited to the right to determine rate of interest, determine prime Lending Rate Applicable to the Loan, Re-pricing and Pre-payment Charges. Collection procedure and all other relevant and incidental matters to the loan account. Any such sale, assignment transfer of the Loan, Outstanding due and rights/obligation of HMPL shall conclusively bind the Borrower.<br>

 7) <b>COLLECTION/ ADMINISTRATION</b>: The Borrower expresses, recognize and accepts that HMPL shall, without prejudice to its right to perform such activities itself or through its officers or employees, be entitled and full power and authority to appoint one or more third parties as HMPL may select and to delegate to such third-party all or any to its functions, rights and powers under this loan relating to administration of the Loan including the rights and authority to collect and receive on behalf of HMPL  from the Borrower the pre-monthly repayment installments, monthly installments and other amounts due by the Borrower under this loan and to perform and execute all lawful acts, deeds matters and things connected therewith and incidental thereto including sending notices, contacting the Borrowers, receiving Cash/cheques/drafts/mandates from the Borrower and giving card and effectual receipts and discharge to the borrower. <br>

8) Borrowers are hereby advised to refer and understand the Terms and Conditions provided in vernacular language along with the sanction letter. <br>

9) <b>TRANSPARENCY & FAIR LENDING PRACTICES</b>
i. HMPL field staff dealings with borrowers will be open, fair and ethical
ii. HMPL field staff shall explain all the features, benefits, terms/conditions and pricing of our services including all fees, charges and interest rate on an annual declining basis, during Compulsory Group Training (CGT) and loan appraisal process.
iii. HMPL will make best efforts to ensure that the loans provided are within the borrower’s capacity to repay and avoid over indebtedness.
iv. HMPL staff will not use any abusive language with borrowers and others.
v. HMPL staff will not use any arm twisting technique to collect the money<br>

 10) Interest on loan will be applied for the entire month irrespective of the date of Loan repayment/due date.<br>

 11) Interest rate on loans are subject to periodic revision and all changes in interest rate shall be applicable prospectively only and not retrospectively.<br>
             <br>
                    <br>
                    Please Acknowledge

 For Hindusthan Microfinance Pvt. Ltd.
                    <br>
                    Authorize Signatory
                            <div class="pull-right"> Accepted the terms and conditions with monthly<br>
Final installment as stated above and received copies<br> of the Loan Agreement cum Guarantee Bond and the Loan card	</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>

				Borrower

                    <!--<h5 class="text-right text-black"> CPU Dept Signature/Stamp </h5>-->
                    <!--<h5 class="text-right semi-bold text-black">Receivers Signature/Stamp</h5>-->
                    <!--<h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>-->
                    <br>
                    <br>
                </div>
            </div>
        </div>
     </div>






{% endblock %}