{% extends "base_pdf.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        p{
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}



    <div class="col-md-10 col-md-offset-1" style="background: #ffffff;">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <h3></h3>
                <h4 class="text-center"><strong>LETTER OF CONTINUITY</strong></h4>
                <br/><br/><br/>
                <p class="text-left">Date : ______________________</p>
                <div class="text-right">____________________________</div>
                <div class="text-right">____________________________</div>
                <div class="text-right">____________________________</div>
                <div class="text-right">____________________________</div>
                <div class="text-right">____________________________</div>
                <div class="clearfix"></div>
                <h4>
                    <div class="text-justify">
                        <p>
                        To,<br/>

                        <p><span><strong>Maitreya Capital & Business Services Private Limited</strong></span><br/></p>
                        <p>Madam / Dear Sir,</p>
                        <div>
                            <p>the Demand Promissory Note for the principal amount of Rs. {{ app.sanction.memo_loan_amount }} /- (Rupees {{ app.sanction.memo_loan_amount|num_to_words }} only) together with interest thereon @ {{ app.sanction.memo_loan_interest }} % p.a. or such rate as you may fix from to time, which is payable on demand and given by us as security for the Facility granted to us by you, under the Master Loan cum Guarantee cum Hypothecation Agreement executed between us dated ______________</p>

                            <p>Notwithstanding the fact that (i) the Facility may be transferred to any other person(s) as under the Facility Agreement; or (ii) the outstanding amounts in respect of the Facility may be reduced from time to time or extinguished, we hereby acknowledge and confirm that the aforesaid security shall be a continuing security till repayment of the entire amounts due and payable in respect of the Facility under the Master Loan cum Guarantee cum Hypothecation Agreement.</p>

                        </div>
                    </div>
                </h4>
                <br/>
                <div>
                <p>
                    Yours truly,
                </p>
                <br/><br/><br/><br/>
                [The Borrower / authorised signatories of the Borrower are required to sign here.]


                </div>


                <div class="">
                    <h5 class="text-left text-black"> Place : __________________________</h5>
                </div>

            </div>

            <br>
            <br>

        </div>
        <br>
        <br>
    </div>

    <div class="col-md-8 col-md-offset-2">
    </div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/>

    <div class="col-md-8 col-md-offset-2">
        <hr>
        <center>
            <img align = "left" height="30" width="100" src= {{ url_for('static', filename = 'img/maitreyacapital.png') }} >
            <b>Maitreya Capital & Business Services Pvt. Ltd. </b>B5-317, Shram Jeevan, Near Wadala RTO, Wadala (East), Mumbai: 400037
        </center>
    </div>
    </div>
{% endblock %}
