{% extends "base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            <h4>Application  <span class="semi-bold">Status</span></h4>
                            <div class="tools">	<a href="javascript:;" class="collapse"></a>
                                <a href="#grid-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="grid-body no-border">
                            <h3>Search   <span class="semi-bold">Applications</span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <input name="centerName" id="i_centerName" type="text"  class="form-control" placeholder="Center Name">
                                    <table class="table no-more-tables ">
                                        <thead>
                                        <tr class='clickable-row' data-href='/applications'>
                                            <th style="width:1%" >
                                                <div class="checkbox check-default">
                                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                                    <label for="checkbox10"></label>
                                                </div>
                                            </th>
                                            <th style="width:33%">Center ID</th>
                                            <th style="width:33%">Center Name</th>
                                            <th style="width:33%">Added Date</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for center in centers %}
                                        <tr class='clickable-row' data-href='/applications/?center={{ center.id }}'>
                                            <td class="v-align-middle">
                                                <div class="checkbox check-default">
                                                    <input id="checkbox11" type="checkbox" value="1">
                                                    <label for="checkbox11"></label>
                                                </div>
                                            </td>
                                            <td class="v-align-middle">{{ center.id }}</td>
                                            <td class="v-align-middle"><span class="muted">{{ center.center_name }}</span>
                                            </td>
                                            <td><span class="muted">{{ center.created_at }}</span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                 </div>
                                <div class="col-md-6">
                                    <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Group Name">
                                    <table class="table no-more-tables ">
                                        <thead>
                                        <tr>
                                            <th style="width:1%" >
                                                <div class="checkbox check-default">
                                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                                    <label for="checkbox10"></label>
                                                </div>
                                            </th>
                                            <th style="width:33%">Group ID</th>
                                            <th style="width:33%">Group Name</th>
                                            <th style="width:33%">Added Date</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups %}
                                            <tr class='clickable-row' data-href='/applications?group={{ group.id }}'>
                                                <td class="v-align-middle">
                                                    <div class="checkbox check-default">
                                                        <input id="checkbox11" type="checkbox" value="1">
                                                        <label for="checkbox11"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle">{{ group.id }}</td>
                                                <td class="v-align-middle"><span class="muted">{{ group.group_name }}</span>
                                                </td>
                                                <td><span class="muted">{{ group.created_at }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}