{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>{{ title }} <span class="semi-bold">Applications</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get">
                <input type="text" class="inline form-control" name="appId" placeholder="Search By Applicant Id">
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get">
                <input type="text" class="inline form-control" name="appName" placeholder="Search By Applicant Name">
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:19%">Application ID</th>
                            <th style="width:20%">Applicant Name</th>
                            <th style="width:20%">Date</th>
                            <th style="width:20%">Progress Status</th>
                            <th style="width:7%">Log</th>
                            <th style="width:25%">Update Status</th>
                            <th style="width:13%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in applications %}
                        <tr>
                            <td class="v-align-middle">{{ loop.index }}</td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.scrutiny_application", app_id=app.application_id) }}"><ins>{{ app.application_id }}</ins></a>
                            </td>
                            <td class="v-align-middle">{{ app.applicant_name }}</td>
                            <td class="v-align-middle">{{ app.date_created|datetimeformat }}</td>
                            <td class="v-align-middle">{{ app.current_status.status_message }}</td>
                            <td class="v-align-middle">
                              <a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.applications_track", app_id=app.application_id) }}">Log</a>
                            </td>
                            <td class="v-align-middle">
                              <center>
                              {% if app.status < 190 %}
                              <a class="btn btn-small btn-primary disabled" href="{{ url_for("organisation_views.application_update_status", app_id=app.application_id) }}">Update</a>
                              {% else %}
                              <a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.application_update_status", app_id=app.application_id) }}">Update</a>
                              {% endif %}
                              </center>
                            </td>
                            <td class="v-align-middle">
                              <a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.application_cashflow", app_id=app.application_id) }}">Cashflow</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
