{% extends "base.html" %}

{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>FOS <span class="semi-bold">& Branches</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.application_list") }}">
                <select class="inline select2 form-control" name="branchId">
                    <option selected disabled>search by branch name</option>
                    {% for branch in branches %}
                    <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
                    {% endfor %}
                </select>
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.application_list") }}">
                <select class="inline select2 form-control" name="fosId">
                    <option selected disabled>search by fos name</option>
                    {% for fos in fos_agents %}
                    <option value="{{ fos.id }}">{{ fos.first_name }} {{ fos.last_name }}</option>
                    {% endfor %}
                </select>
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:20%">Branch NAME</th>
                            <th style="width:20%">FOS NAME</th>
                            <th style="width:20%">FOS Email</th>
                            <th style="width:20%">Phone Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fos in fos_agents %}
                            {% for branch in fos.branches %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_branch", branch_id=branch.id) }}"><ins>{{ branch }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_fos", fos_id=fos.id) }}"><ins>{{ fos.first_name }} {{ fos.last_name }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="#"><ins>{{ fos.email }}</ins></a>
                                </td>
                                <td><span class="muted">{{ fos.postal_tele_code }}{{ fos.postal_telephone }}</span></td>
                            </tr>
                            {% endfor %}
                         {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
