{% extends "base.html" %}

{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>FOS <span class="semi-bold">& Branches</span></h3>
        </div>
    </div>

    <div class="row">
        <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.application_list") }}">
            {% if user.access_geo("states") %}
            <div class="col-md-6 form-group">
                <select class="inline select2 form-control" id="state" name="stateId">
                    <option selected disabled>search by state</option>
                    {% for entity in user.access_states %}
                    <option class="geo-state" value="{{ entity.id }}">{{ entity.name }}</option>
                    {% endfor %}
                </select>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if user.access_geo("regions") %}
            <div class="col-md-6 form-group">
                <select class="inline select2 form-control" id="region" name="regionId">
                    <option selected disabled>search by region</option>
                    {% for entity in user.access_regions %}
                    <option class="geo-region" value="{{ entity.id }}">{{ entity.name }}</option>
                    {% endfor %}
                </select>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if user.access_geo("areas") %}
            <div class="col-md-6 form-group">
                <select class="inline select2 form-control" id="area" name="areaId">
                    <option selected disabled>search by area</option>
                    {% for entity in user.access_areas %}
                    <option class="geo-area" value="{{ entity.id }}">{{ entity.name }}</option>
                    {% endfor %}
                </select>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            {% if user.access_geo("branches") %}
            <div class="col-md-6 form-group">
                <select class="inline select2 form-control" id="branch" name="branchId">
                    <option selected disabled>search by branch</option>
                    {% for entity in user.access_branches %}
                    <option class="geo-branch" value="{{ entity.id }}">{{ entity.name }}</option>
                    {% endfor %}
                </select>
                <div class="clearfix"></div>
            </div>
            {% endif %}
            <div class="col-md-6 form-group">
            <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:20%">Branch NAME</th>
                            <th style="width:20%">FOS NAME</th>
                            <th style="width:20%">FOS Email</th>
                            <th style="width:20%">Phone Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fos in fos_agents %}
                            {% for branch in fos.branches %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_branch", branch_id=branch.id) }}"><ins>{{ branch }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_fos", fos_id=fos.id) }}"><ins>{{ fos.first_name }} {{ fos.last_name }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="#"><ins>{{ fos.email }}</ins></a>
                                </td>
                                <td><span class="muted">{{ fos.postal_tele_code }}{{ fos.postal_telephone }}</span></td>
                            </tr>
                            {% endfor %}
                         {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      function populateGeoItems(geoTag, geoURL, key, parent){
        $.ajax({
          cache: true,
          url: geoURL,
          data: key
        })
        .done(function(response){
          var children = response["children"];

          $.each(children, function(k, v){
            var child = children[k];
            var childID = child["id"];
            var childName = child["name"];

            $('#'+geoTag).append('<option value="'+childID+'">'+childName+'</option>');
          });
        });
      }
      function removeChildren(geoTag){
        var children = $('#'+geoTag).find('*');
        $.each(children, function(k, v){
          $(this).remove();
        });
        $('#'+geoTag).append('<option selected disabled>search by '+geoTag+'</option>');
      }
      $('#state').change('option', function(e){
        var stateID = $(this).val();
        var geoTag = 'region';
        var url = "{{ url_for("admin_views.admin_org_states_list", org_id=org.id) }}";
        removeChildren(geoTag);
        var key = {
          "state_id": stateID,
        };
        populateGeoItems(geoTag, url, key, stateID);
      });
      $('#region').change('option', function(e){
        var regionID = $(this).val();
        var geoTag = 'area';
        var url = "{{ url_for("admin_views.admin_org_regions_list", org_id=org.id) }}";
        removeChildren(geoTag);
        var key = {
          "region_id": regionID,
        };
        populateGeoItems(geoTag, url, key, regionID);
      });
      $('#area').change('option', function(e){
        var areaID = $(this).val();
        var geoTag = 'branch';
        var url = "{{ url_for("admin_views.admin_org_areas_list", org_id=org.id) }}";
        removeChildren(geoTag);
        var key = {
          "area_id": areaID,
        };
        populateGeoItems(geoTag, url, key, areaID);
      });
      $("select").select2();

    });
  </script>
{% endblock %}
