<!DOCTYPE html>
<html>
<head>
    <title>eSthenos</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="{{ url_for('static', filename='plugins/boostrapv3/css/bootstrap.min.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/style.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/responsive.css' )}}" rel="stylesheet" type="text/css"/>
    <script type="application/javascript">
      setTimeout(function(){
        window.location.replace("{{ redirect_url }}")
      }, 2000);
    </script>
</head>
<body class="error-body no-top">
    <div class="error-wrapper container">
        <div class="row">
            <div class="col-md-8 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
                <div class="error-container" >
                    <div class="error-main">
                        <div class="error-number"> 403 </div>
                        <div class="error-description" > We've reached un-authorized areas </div>
                        <div class="error-description-mini"> redirecting you to safe haven in 5 seconds.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
