<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{% block title %}eSthenos{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="{{ url_for('static', filename='plugins/pace/pace-theme-flash.css' )}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/jquery-slider/css/jquery.sidr.light.css' )}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/boostrapv3/css/bootstrap.min.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='plugins/boostrapv3/css/bootstrap-theme.min.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/animate.min.css' )}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='plugins/bootstrap-select2/select2.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/jquery-notifications/css/messenger.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/jquery-notifications/css/messenger-theme-flat.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/jquery-notifications/css/location-sel.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/custom-icon-set.css') }}" rel="stylesheet" type="text/css"/>

    {% block css_sheets %}{% endblock %}
    {% block top_js_scripts %}{% endblock %}
</head>

<body class="">
<div class="header navbar navbar-inverse ">
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>
            </ul>
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo-esthenos.png')}}" class="logo" alt="esthenos-logo"  data-src="{{ url_for('static', filename='img/logo-esthenos.png')}}" data-src-retina="{{ url_for('static', filename='img/logo-esthenos2x.png')}}"/>
            </a>
            <ul class="nav pull-right notifcation-center">
                <li class="dropdown" id="header_task_bar"> <a href="/" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
                <li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>
            </ul>
        </div>
        <div class="header-quick-nav" >
            <div class="pull-left">
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="#" class="" id="layout-condensed-toggle" ><div class="iconset top-menu-toggle-dark"></div></a>
                    </li>
                </ul>
                <ul class="nav quick-section">
                    {% block action_bar %}
                    {% endblock %}
                </ul>
            </div>
            <div class="pull-right">
                <div class="chat-toggler">
                    <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content="" data-toggle="dropdown" data-original-title="Notifications">
                        <div class="user-details">
                            <div class="username">{{ user.first_name }} <span class="bold">{{ user.last_name }}</span></div>
                        </div>
                        <div class="iconset top-down-arrow"></div>
                    </a>
                    <a href="#" data-placement="bottom">
                        <div class="user-details"><a href="/profile"><i class="fa fa-user"></i></a></div>
                    </a>
                    <a href="#" data-placement="bottom">
                        <div class="user-details"><a href="/accounts/logout"><i class="fa fa-power-off"></i></a></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-container row-fluid">
    <div class="page-sidebar" id="main-menu">
        <div class="page-sidebar-wrapper" id="main-menu-wrapper">
            <div class="user-info-wrapper">
                <div class="user-info">
                    <div class="greeting">Welcome</div>
                    <div class="username">{{ user.first_name }} {{ user.last_name }}</div>
                    <div class="org-name"><h4><span class="bold">{{ user.organisation.name }}</span></h4></div>
                </div>
            </div>
            <ul>
                {% block nav_bar %}
                    <li class="start active">
                        <a href="/">
                            <i class="icon-custom-home"></i>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    {% if feature_show("accounts_enroll_customers") %}
                    <li class="">
                        <a href="/upload_documents">
                            <i class="fa fa-envelope"></i>
                            <span class="title">Enroll Customers</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("accounts_applications") %}
                    <li class="">
                        <a href="/application_status">
                            <i class="fa fa-flag"></i>
                            <span class="title">Applications</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("questions_cgt1") %}
                    <li class="">
                        <a href="/check_cgt1">
                            <i class="icon-custom-ui"></i>
                            <span class="title">CGT 1</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("questions_cgt2") %}
                    <li class="">
                        <a href="/check_cgt2">
                            <i class="icon-custom-ui"></i>
                            <span class="title">CGT 2</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("questions_grt") %}
                    <li class="">
                        <a href="/check_grt">
                            <i class="icon-custom-ui"></i>
                            <span class="title">GRT</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("questions_telecalling") %}
                    <li class="">
                        <a href="/telecalling">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Tele Calling</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("disbursement") %}
                    <li class="">
                        <a href="/check_disbursement">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Disbursement</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("accounts_scrutiny") %}
                    <li class="">
                        <a href="/scrutiny">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Scrutiny</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if feature_show("accounts_reports") %}
                    <li class="">
                        <a href="/reports">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Reports</span>
                        </a>
                    </li>
                    {% endif %}
                {% endblock %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="page-content">
        <div class="content">
            {% block maincontents %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='plugins/jquery-1.8.3.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/breakpoints.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-unveil/jquery.unveil.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-block-ui/jqueryblockui.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slider/jquery.sidr.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/pace/pace.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-numberAnimate/jquery.animateNumbers.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-select2/select2.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-validation/js/jquery.validate.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-validation/js/additional-methods.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-notifications/js/messenger.min.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/jquery-notifications/js/messenger-theme-future.js' )}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/core.js' )}}" type="text/javascript"></script>

{% block js_scripts_pre %}
{% endblock %}

{% block js_scripts %}
{% endblock %}

</body>
</html>