<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <meta name="print_media_type" content="true"/>
    <meta name="pdfkit-margin-top" content="0mm"/>
    <meta name="pdfkit-margin-left" content="0mm"/>
    <meta name="pdfkit-margin-right" content="0mm"/>
    <meta name="pdfkit-margin-bottom" content="0mm"/>

    {% block css_sheets %}
    {% endblock %}

    {% block meta %}
    {% endblock %}

    {% block js_scripts %}
    {% endblock %}
</head>
<body >
    <div class="container">
        {% block maincontents %}
        {% endblock %}
    </div>
</body>
</html>