{% extends "base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <div class="col-md-10 col-vlg-7">
            <ul class="cbp_tmtimeline">
                {% appstatus in application.timeline %}
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                        <span class="date">{{ appstatus.updated_on|datetimeformat('%d-%m-%Y')  }}</span>
                        <span class="time"><span class="semi-bold">{{ appstatus.updated_on|datetimeformat('%H:%M')  }}</span></span>
                    </time>
                    <div class="cbp_tmicon primary animated bounceIn"> <i class="fa fa-comments"></i> </div>
                    <div class="cbp_tmlabel">
                        <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                            <h4 class="inline m-b-5"><span class="text-success semi-bold">{{ appstatus.status.status }}</span> </h4>
                           <!-- <h5 class="inline muted semi-bold m-b-5">@esthenos.com</h5>-->
                            <p class="m-t-5 dark-text">{{ appstatus.status.status_message }}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>


{% endblock %}
{% block js_scripts %}{{ super() }}

    <script type="text/javascript">
        $( document ).ready(function() {
            console.log( "ready!" );

        });

    </script>

{% endblock %}