{% extends "base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            <h4>Disburesement Ready  <span class="semi-bold">Applications</span></h4>
                        </div>
                        <div class="grid-body no-border">
                            <h3>Search   <span class="semi-bold">Applications</span></h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Group Name">
                                    <table class="table no-more-tables ">
                                        <thead>
                                        <tr>
                                            <th style="width:1%" >
                                                <div class="checkbox check-default">
                                                    <input id="checkbox-1" type="checkbox" value="1" class="checkall">
                                                    <label for="checkbox-1"></label>
                                                </div>
                                            </th>
                                            <th style="width:15%">Group ID</th>
                                            <th style="width:20%">Group Name</th>
                                            <th style="width:30%">Created Date</th>
                                            <th style="width:15%" class="text-center">Disbursement</th>
                                            <th style="width:33%">Action</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups[0:10] %}
                                            <tr>
                                                <td class="v-align-middle">
                                                    <div class="checkbox check-default">
                                                        <input id="checkbox{{ loop.index }}" type="checkbox" value="1">
                                                        <label for="checkbox{{ loop.index }}"></label>
                                                    </div>
                                                </td>
                                                <td class="v-align-middle clickable-row" data-href='/download_disbusement?group={{ group.group_id }}'><ins>{{ group.group_id }}</ins></td>
                                                <td class="v-align-middle"><span class="muted">{{ group.group_name }}</span>
                                                </td>
                                                <td><span class="muted">{{ group.created_at }}</span>
                                                </td>
                                                <td >
                                                    <button class="btn btn-small btn-small btn-info btn-disburse" group-id="{{ group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-check">Disburse Group</span></button>
                                                </td>
                                                <td class="v-align-middle">
                                                    <button class="btn btn-small btn-small btn-info" type="button">Download</button>
                                                    <button class="btn btn-small btn-small btn-success" type="button"><span aria-hidden="true" class="fa fa-check">Done</span></button>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });

            $(".btn-disburse").click(function() {
                console.log( $(this).attr("group-id"));
                var data = "group_id="+$(this).attr("group-id")
                $.ajax({
                    url: '/disburse_group',
                    type: 'PUT',
                    data: data,
                    success: function(result) {
                        console.log(result);
                        Messenger().post(result["result"]);
                    }
                });
            });
        });
    </script>
{% endblock %}