{% extends "base.html" %}
{% block css_sheets %}{{ super() }}
    <link href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/datepicker.css')}}" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .ui-datepicker { position: relative; z-index: 10000 !important; }
    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Disbursement Ready  <span class="semi-bold">Applications</span></h4>
            </div>
            <div class="grid-body no-border">
                <h3>Search   <span class="semi-bold">Applications</span></h3>

                <div class="row">
                    <div class="col-md-12">
                        <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Group Name">
                        <table class="table no-more-tables ">
                            <thead>
                            <tr>
                                <th style="width:1%" >
                                    <div class="checkbox check-default">
                                        <input id="checkbox-1" type="checkbox" value="1" class="checkall">
                                        <label for="checkbox-1"></label>
                                    </div>
                                </th>
                                <th style="width:10%">Group ID</th>
                                <th style="width:10%">Group Name</th>
                                <th style="width:10%">Created Date</th>
                                <th style="width:15%">Disbursement Date</th>
                                <th style="width:15%">1st Collection Date</th>
                                <th style="width:25%">Cheque #</th>
                                <th style="width:12%">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <form action="#" name="{{ group.group_id }}form" id="{{ group.group_id }}form">
                                    <tr>
                                        <input type="hidden">
                                        <td class="v-align-middle">
                                            <div class="checkbox check-default">
                                                <input id="checkbox{{ loop.index }}" type="checkbox" value="1">
                                                <label for="checkbox{{ loop.index }}"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle clickable-row" data-href='/download_disbusement?group={{ group.group_id }}'><ins>{{ group.group_id }}</ins></td>
                                        <td class="v-align-middle"><span class="muted">{{ group.group_name }}</span>
                                        </td>
                                        <td><span class="muted">{{ group.created_at|dateformat }}</span>
                                        </td>
                                        <td>
                                            <div class="input-with-icon  right">

                                                <div class="input-append success date col-md-11">
                                                    <input type="text" class="form-control disbursement_date" data-date-format="dd/mm/yyyy" id="{{ group.group_id }}disbursement_date" >
                                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-with-icon  right">

                                                <div class="input-append success date col-md-11">
                                                    <input type="text" class="form-control collection_date {{ group.group_id }}" data-date-format="dd/mm/yyyy" id="{{ group.group_id }}collection_date" >
                                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <input type="file" class="form-control cheque_no  file" data-id="{{ group.group_id }}" name="cheque_no_file"  id="{{ group.group_id }}cheque_no" >
                                        </td>


                                        <td class="v-align-middle">
                                            <div class="btn-group">
                                                <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="btn-disburse" data-toggle="modal" href="#myModal"  group-id="{{ group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-check ">Disburse</span></a></li>
                                                    <li>
                                                        {% if group.disbursement_pdf_link == "#" %}
                                                            <a class="clickable-row"  href="{{ group.disbursement_pdf_link }}" >Download</a>
                                                        {% else %}
                                                            <a class="clickable-row"  type="button" href="/download_disbursement?group_id={{ group.group_id }}" >Download</a>
                                                        {% endif %}
                                                    </li>
                                                    <li><a  type="button"><span aria-hidden="true" class="fa fa-check"> Disbursement Done</span></a></li>
                                                </ul>
                                            </div><!-- /btn-group -->
                                        </td>
                                    </tr>
                                </form>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
{% block js_scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')}}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
            //Date Pickers
            $('.input-append.date').datepicker({
                autoclose: true,
                todayHighlight: true,
                format:'dd-mm-yyyy'
            });
            // select the file input (using a id would be faster)
            $('.cheque_no').change(function() {
                // select the form and submit
                console.log( $(this).attr("data-id"));
                var form = $("#"+$(this).attr("data-id")+"form"); // You need to use standart javascript object here
                console.log(form);
                var formData = new FormData();
                formData.append('file', $('#'+$(this).attr("data-id")+"cheque_no")[0].files[0]);
                Messenger().post("Submitting Cheque Info.");

                $.ajax( {
                    url: '/organisation/cheque_info/'+$(this).attr("data-id"),
                    type: 'POST',
                    data:formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        Messenger().post("Cheque Info Updated");
                    }
                } );
            });

            $(".btn-disburse").click(function() {
                console.log( $(this).attr("group-id"));

                var disbursement_date = $("#"+$(this).attr("group-id")+"disbursement_date").val();
                var collection_date = $("#"+$(this).attr("group-id")+"collection_date").val();

                var formInput = document.getElementById($(this).attr("group-id")+"form");
                var fd = new FormData(formInput);
                fd.append("group_id", $(this).attr("group-id"));
                fd.append("disbursement_date", disbursement_date);
                fd.append("collection_date", collection_date);
                console.log(formInput)
                console.log(fd)
                var request = new XMLHttpRequest();
                request.open("PUT", "/disburse_group");
                request.onload = function(oEvent) {
                    if (request.status == 200) {
                        console.log(result);
                        Messenger().post(result["result"]);
                    } else {

                    }
                };

                request.send(fd);

            });
        });
    </script>
{% endblock %}