{% extends "base.html" %}

{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            <h4>Application  <span class="semi-bold">Status</span></h4>
                        </div>
                        <div class="grid-body no-border">
                            <h3>Search   <span class="semi-bold">Applications</span></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Person Name">
                                    <table class="table no-more-tables ">
                                        <thead>
                                        <tr>
                                            <th style="width:1%" >#</th>
                                            <th style="width:33%">Group Name</th>
                                            <th style="width:33%">Group ID</th>
                                            <th style="width:33%">Added Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for branch in branchs %}
                                            <tr>
                                                <td class="v-align-middle">{{ loop.index }}</td>
                                                <td class="v-align-middle">
                                                  <a href="/applications?group={{ group.group_id }}"><ins>{{ group.group_id }}</ins></a>
                                                </td>
                                                <td class="v-align-middle">{{ group.group_name }}</td>
                                                <td><span class="muted">{{ group.created_at }}</span></td>
                                            </tr>
                                         {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
