{% extends "base.html" %}


{% block css_sheets %}
    <link href="{{ url_for('static', filename='plugins/jquery-ricksaw-chart/css/rickshaw.css' )}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ url_for('static', filename='plugins/jquery-morris-chart/css/morris.css' )}}" rel="stylesheet" type="text/css" media="screen"/>
    <style type="text/css">
        html, body, #map-canvas { height: 100%; margin: 0; padding: 0; }
        .widget-stats .item-title, .widget-stats .item-count {
            font-weight: 300;
            font-family: 'Open Sans';
        }
        .summary span.item-title {
          font-size: 20px;
        }
        .summary span.item-count {
          font-size: 33px;
        }
        .summary .chart {
            margin-right: 10px;
        }
        .summary .summary-tat .item-count, .summary .summary-rate .item-count {
            font-size: 70px;
            padding: 40px 8px 0 0;
            margin-bottom: 20px;
        }
        .summary .summary-tat .item-title, .summary .summary-rate .item-title {
            font-size: 30px;
        }
    </style>
{% endblock %}


{% block maincontents %}
    <div class="row summary">
        <div class="col-md-4 summary-desc">
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Total Amount Disbursed</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_disbursed_amount }} INR</span>
                        </div>
                    </div><br/>
                </div>
            </div>
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats last">
                        <div class="wrapper last">
                            <span class="item-title">Total No. Applications Applied</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_applied }}</span>
                        </div>
                    </div><br/>
                </div>
            </div>
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats last">
                        <div class="wrapper last">
                            <span class="item-title">Total No. Applications Leaked</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_leaked }}</span>
                        </div>
                    </div><br/>
                </div>
            </div>
        </div>
        <div class="col-md-4 summary-desc">
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats last">
                        <div class="wrapper last">
                            <span class="item-title">Total No. Loans Disbursed</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_disbursed }}</span>
                        </div>
                    </div><br/>
                </div>
            </div>

            {% if feature_show("features_applications_scrutiny") %}
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats last">
                        <div class="wrapper last">
                            <span class="item-title">Total No. Scrutiny Done</span> <span class="item-count animate-number semi-bold" >{{ monthly.count_scrutiny_passed }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if feature_show("features_applications_sanction") %}
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="widget-stats last">
                        <div class="wrapper last">
                            <span class="item-title">Total No. Sanctions Done</span> <span class="item-count animate-number semi-bold" >{{ monthly.count_sanctions_passed }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="tiles green summary-tat m-b-10">
                <div class="tiles-body no-border">
                    <div class="inline chart pull-left"></div>
                    <div class="inline desc pull-right">
                        <h1 class="item-count">{{ monthly.total_tat }}</h1>
                        <h3 class="item-title">Days</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tiles blue summary-rate m-b-10">
                <div class="tiles-body no-border">
                    <div class="inline chart pull-left"></div>
                    <div class="inline desc pull-right">
                        <h1 class="item-count">91<span class="item-title">%</span></h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row monthly-applications">
        <div class="col-md-4 col-vlg-3 col-sm-6" style="height: 150px;">
            <div class="tiles green m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Applications Submitted</div>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" >{{ todays.loans_applied }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" >{{ weekly.loans_applied }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_applied }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">8% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Applications <span class="semi-bold">Submitted</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:180px"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row monthly-disbursement">
        <div class="col-md-4 col-vlg-3 col-sm-6">
            <div class="tiles purple m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Disbursment </div>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" >{{ todays.loans_disbursed_amount }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" >{{ weekly.loans_disbursed_amount }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" >{{ monthly.loans_disbursed_amount }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%" style="width: 90%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Disbursement <span class="semi-bold">Done</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:180px"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row center-groups-map">
        <div class="col-md-12">
            <div class="grid simple m-b-20">
                <div id="map-canvas" style="height:350px"></div>
            </div>
        </div>
    </div>

    <div class="row validations-app-kyc-cbc">
        <div class="col-md-4 validations-kyc">
            <div class="tiles red m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">KYC Validation </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="{{ todays.kyc_passed }}" data-animation-duration="700">{{ todays.kyc_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" data-value="{{ weekly.kyc_passed }}" data-animation-duration="700">{{ weekly.kyc_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" data-value="{{ monthly.kyc_passed }}" data-animation-duration="700">{{ monthly.kyc_passed }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%" style="width: 90%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 validations-cbc">
            <div class="tiles purple m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">CB Check </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="{{ todays.cb_passed }}" data-animation-duration="700">{{ todays.cb_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" data-value="{{ weekly.cb_passed }}" data-animation-duration="700">{{ weekly.cb_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" data-value="{{ monthly.cb_passed }}" data-animation-duration="700">{{ monthly.cb_passed }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%" style="width: 90%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 validations-app">
            <div class="tiles blue m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Cashflow Analysis</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" data-value="{{ todays.cf_passed }}" data-animation-duration="700">{{ todays.cf_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" data-value="{{ weekly.cf_passed }}" data-animation-duration="700">{{ weekly.cf_passed }}</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" data-value="{{ monthly.cf_passed }}" data-animation-duration="700">{{ monthly.cf_passed }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%" style="width: 54%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row donut-app-kyc-cbc">
        <div class="col-md-4 donut-kyc">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>KYC <span class="semi-bold">{{ monthly.created|dateformat("%b %Y") }}</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:200px;" ></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 donut-cbc">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>CB Check <span class="semi-bold">{{ monthly.created|dateformat("%b %Y") }}</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:200px;" ></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 donut-cfa">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Cashflow Analysis<span class="semi-bold">{{ monthly.created|dateformat("%b %Y") }}</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:200px;" ></div>
                </div>
            </div>
        </div>
    </div>

    {% if feature_show("features_applications_scrutiny") %}
    <div class="row applications-scrutiny">
        <div class="col-md-4 col-vlg-3 col-sm-6" style="height: 150px;">
            <div class="tiles bg-red m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Applications Scrutiny Done</div>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" >{{ todays.count_scrutiny_passed }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" >{{ weekly.count_scrutiny_passed }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" >{{ monthly.count_scrutiny_passed }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">8% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Applications <span class="semi-bold">Scrutiny Done</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:180px"> </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if feature_show("features_applications_sanction") %}
    <div class="row applications-sanctions">
        <div class="col-md-4 col-vlg-3 col-sm-6" style="height: 150px;">
            <div class="tiles bg-red m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Applications Sanctions Done</div>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" >{{ todays.count_sanctions_ready }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" >{{ weekly.count_sanctions_ready }}</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" >{{ monthly.count_sanctions_ready }}</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">8% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Applications <span class="semi-bold">Sanctions Done</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:180px"> </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if feature_show("features_psychometric_questions") %}
    <div class="row applications-psychometric">
        <div class="col-md-4 col-vlg-3 col-sm-6" style="height: 150px;">
            <div class="tiles bg-yellow m-b-20">
                <div class="tiles-body">
                    <div class="tiles-title text-black">Applications Psychometric Done</div>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Today</span> <span class="item-count animate-number semi-bold" >150 / 300</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats">
                        <div class="wrapper last">
                            <span class="item-title">Week till date</span> <span class="item-count animate-number semi-bold" >500 / 1500</span>
                        </div>
                    </div><br/>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Month till date</span> <span class="item-count animate-number semi-bold" >2500 / 7500</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">8% higher <span class="blend">than last month</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Applications <span class="semi-bold">Psychometric Done</span></h4>
                </div>
                <div class="grid-body no-border">
                    <div class="chart" style="height:180px"> </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block js_scripts_pre %}{{ super() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD2S3Q62tKDDr77aZ-Z8a_r43TZ5El7Ww"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-ricksaw-chart/js/d3.v2.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-ricksaw-chart/js/rickshaw.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-morris-chart/js/morris.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-flot/jquery.flot.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-flot/jquery.flot.time.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-flot/jquery.flot.selection.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-flot/jquery.flot.animator.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-flot/jquery.flot.orderBars.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-sparkline/jquery-sparkline.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-sparkline/jquery-sparkline.js' )}}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-jvectormap/js/jquery-jvectormap-in-mill-en.js')}}" type="text/javascript"></script>
{% endblock %}


{% block js_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        Morris.Donut({
            size:200,
            element: $('.donut-cfa .chart'),
            data: [
                {label: "Accepted", value: {{ monthly.cf_passed }} },
                {label: "Rejected", value: {{ monthly.cf_failed }} }
            ],
            colors:['#0066FF','#91cdec']
        });
        Morris.Donut({
            size:200,
            element: $('.donut-kyc .chart'),
            data: [
                {label: "Accepted", value: {{ monthly.kyc_passed }} },
                {label: "Rejected", value: {{ monthly.kyc_failed }} }
            ],
            colors:['#9966FF','#91cdec']
        });
        Morris.Donut({
            size:200,
            element: $('.donut-cbc .chart'),
            data: [
                {label: "Success", value: {{ monthly.cb_passed }} },
                {label: "Failed", value: {{ monthly.cb_failed }} },
            ],
            colors:['#FF5050','#91cdec']
        });
        Morris.Line({
            element: $('.monthly-applications .chart'),
            data: [
              {% for date, day in month.stats_total.items() %}
                { d: '{{ date }}', a: {{ day.loans_applied }} },
              {% endfor %}
            ],
            xkey: 'd',
            ykeys: ['a'],
            labels: ['Loan Applications'],
            lineColors:['#0aa699','#6666ff'],
        });
        Morris.Line({
            element: $('.monthly-disbursement .chart'),
            data: [
              {% for date, day in month.stats_total.items() %}
                { d: '{{ date }}', a:{{ day.loans_disbursed }} },
              {% endfor %}
            ],
            xkey: 'd',
            ykeys: ['a'],
            labels: ['Loan Disbursed'],
            lineColors:['#0aa699','#6666ff'],
        });

        {% if feature_show("features_applications_scrutiny") %}
        Morris.Line({
            element: $('.applications-scrutiny .chart'),
            data: [
              {% for date, day in month.stats_total.items() %}
                { d: '{{ date }}', a:{{ day.count_scrutiny_passed }}, b:{{ day.count_scrutiny_failed }}, c:{{ day.count_scrutiny_onhold }} },
              {% endfor %}
            ],
            xkey: 'd',
            ykeys: ['a','b','c'],
            labels: ['Approved', 'Rejected', 'On-Hold'],
            lineColors:['#0aa699','#010699','#D45959'],
        });
        {% endif %}

        {% if feature_show("features_applications_sanction") %}
        Morris.Line({
            element: $('.applications-sanctions .chart'),
            data: [
              {% for date, day in month.stats_total.items() %}
                { d: '{{ date }}', a:{{ day.count_sanctions_passed }}, b:{{ day.count_sanctions_failed }}, c:{{ day.count_sanctions_onhold }} },
              {% endfor %}
            ],
            xkey: 'd',
            ykeys: ['a','b','c'],
            labels: ['Approved', 'Rejected', 'On-Hold'],
            lineColors:['#0aa699','#010699','#D45959'],
        });
        {% endif %}

        {% if feature_show("features_psychometric_questions") %}
        Morris.Line({
            element: $('.applications-psychometric .chart'),
            data: [
                { d: '2014-09', a: 3400, b: 3200,c: 3000 },
                { d: '2014-10', a: 3000,  b: 2900,c: 2900 },
                { d: '2014-11', a: 3600,  b: 3500,c: 3400 },
                { d: '2014-12', a: 4000,  b: 3900,c: 3800 },
                { d: '2015-01', a: 4200, b: 4100,c: 4000 },
                { d: '2015-02', a: 4500, b: 4400,c: 4300 },
                { d: '2015-03', a: 4000,  b: 3900,c: 3800 }
            ],
            xkey: 'd',
            ykeys: ['a','b','c'],
            labels: ['Applications Submitted', 'Underwriting Done', 'Disbursement Done'],
            lineColors:['#0aa699','#010699','#D45959'],
        });
        {% endif %}

        function drawMap() {
            var mapOptions = {
                center: { lat: 19.876165, lng: 75.343314},
                zoom: 7,
                minZoom: 5, maxZoom: 10
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var image = '{{ url_for('static', filename='img/hindusthan-new_06.png' )}}';
            var myLatLng = new google.maps.LatLng(21.152344, 79.093101);
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });

            var myLatLng2 = new google.maps.LatLng(21.120143, 79.112513);
            var beachMarker2 = new google.maps.Marker({
                position: myLatLng2,
                map: map,
                icon: image
            });

            var myLatLng3 = new google.maps.LatLng(19.055848, 72.928159);
            var beachMarker3 = new google.maps.Marker({
                position: myLatLng3,
                map: map,
                icon: image
            });

            var myLatLng4 = new google.maps.LatLng(21.120143, 79.112513);
            var beachMarker4 = new google.maps.Marker({
                position: myLatLng4,
                map: map,
                icon: image
            });
            var myLatLng5 = new google.maps.LatLng(19.040208, 72.85085);
            var beachMarker5 = new google.maps.Marker({
                position: myLatLng5,
                map: map,
                icon: image
            });

            var myLatLng6 = new google.maps.LatLng(19.182517, 73.192602);
            var beachMarker6 = new google.maps.Marker({
                position: myLatLng6,
                map: map,
                icon: image
            });

            var myLatLng7 = new google.maps.LatLng(19.417821, 72.810854);
            var beachMarker7 = new google.maps.Marker({
                position: myLatLng7,
                map: map,
                icon: image
            });

            var myLatLng8 = new google.maps.LatLng(18.635255, 73.566774);
            var beachMarker8 = new google.maps.Marker({
                position: myLatLng8,
                map: map,
                icon: image
            });
            var myLatLng9 = new google.maps.LatLng(18.563551, 73.932555);
            var beachMarker9 = new google.maps.Marker({
                position: myLatLng9,
                map: map,
                icon: image
            });

            var myLatLng10 = new google.maps.LatLng(18.629781, 73.799709);
            var beachMarker10 = new google.maps.Marker({
                position: myLatLng10,
                map: map,
                icon: image
            });

        }
        google.maps.event.addDomListener(window, 'load', drawMap);


        function Gauge(selector, configuration)
        {
            var self = this;
            this.selector = selector;
            this.configure = function(configuration) {
                this.config = configuration;
                this.config.size = this.config.size * 0.9;
                this.config.raduis = this.config.size * 0.97 / 2;
                this.config.cx = this.config.size / 2;
                this.config.cy = this.config.size / 2;
                this.config.min = undefined != configuration.min ? configuration.min : 0;
                this.config.max = undefined != configuration.max ? configuration.max : 100;
                this.config.range = this.config.max - this.config.min;
                this.config.majorTicks = configuration.majorTicks || 5;
                this.config.minorTicks = configuration.minorTicks || 2;
                this.config.redColor = configuration.redColor || "#DC3912";
                this.config.greenColor = configuration.greenColor || "#109618";
                this.config.yellowColor = configuration.yellowColor || "#FF9900";
                this.config.transitionDuration = configuration.transitionDuration || 500;
            };

            this.render = function()
            {
                this.body = d3.select(this.selector)
                    .append("svg:svg")
                    .attr("class", "gauge")
                    .attr("width", this.config.size)
                    .attr("height", this.config.size);

                this.body.append("svg:circle")
                    .attr("cx", this.config.cx)
                    .attr("cy", this.config.cy)
                    .attr("r", this.config.raduis)
                    .style("fill", "#ccc")
                    .style("stroke", "#000")
                    .style("stroke-width", "0.5px");

                this.body.append("svg:circle")
                    .attr("cx", this.config.cx)
                    .attr("cy", this.config.cy)
                    .attr("r", 0.9 * this.config.raduis)
                    .style("fill", "#fff")
                    .style("stroke", "#e0e0e0")
                    .style("stroke-width", "2px");

                for (var index in this.config.greenZones)
                {
                    this.drawBand(this.config.greenZones[index].from, this.config.greenZones[index].to, self.config.greenColor);
                }

                for (var index in this.config.yellowZones)
                {
                    this.drawBand(this.config.yellowZones[index].from, this.config.yellowZones[index].to, self.config.yellowColor);
                }

                for (var index in this.config.redZones)
                {
                    this.drawBand(this.config.redZones[index].from, this.config.redZones[index].to, self.config.redColor);
                }

                if (undefined != this.config.label)
                {
                    var fontSize = Math.round(this.config.size / 9);
                    this.body.append("svg:text")
                        .attr("x", this.config.cx)
                        .attr("y", this.config.cy / 2 + fontSize / 2)
                        .attr("dy", fontSize / 2)
                        .attr("text-anchor", "middle")
                        .text(this.config.label)
                        .style("font-size", fontSize + "px")
                        .style("fill", "#333")
                        .style("stroke-width", "0px");
                }

                var fontSize = Math.round(this.config.size / 16);
                var majorDelta = this.config.range / (this.config.majorTicks - 1);
                for (var major = this.config.min; major <= this.config.max; major += majorDelta)
                {
                    var minorDelta = majorDelta / this.config.minorTicks;
                    for (var minor = major + minorDelta; minor < Math.min(major + majorDelta, this.config.max); minor += minorDelta)
                    {
                        var point1 = this.valueToPoint(minor, 0.75);
                        var point2 = this.valueToPoint(minor, 0.85);

                        this.body.append("svg:line")
                            .attr("x1", point1.x)
                            .attr("y1", point1.y)
                            .attr("x2", point2.x)
                            .attr("y2", point2.y)
                            .style("stroke", "#666")
                            .style("stroke-width", "1px");
                    }

                    var point1 = this.valueToPoint(major, 0.7);
                    var point2 = this.valueToPoint(major, 0.85);
                    this.body.append("svg:line")
                        .attr("x1", point1.x)
                        .attr("y1", point1.y)
                        .attr("x2", point2.x)
                        .attr("y2", point2.y)
                        .style("stroke", "#333")
                        .style("stroke-width", "2px");

                    if (major == this.config.min || major == this.config.max)
                    {
                        var point = this.valueToPoint(major, 0.63);
                        this.body.append("svg:text")
                            .attr("x", point.x)
                            .attr("y", point.y)
                            .attr("dy", fontSize / 3)
                            .attr("text-anchor", major == this.config.min ? "start" : "end")
                            .text(major)
                            .style("font-size", fontSize + "px")
                            .style("fill", "#333")
                            .style("stroke-width", "0px");
                    }
                }

                var pointerContainer = this.body.append("svg:g").attr("class", "pointerContainer");
                var midValue = (this.config.min + this.config.max) / 2;
                var pointerPath = this.buildPointerPath(midValue);
                var pointerLine = d3.svg.line()
                              .x(function(d) { return d.x })
                              .y(function(d) { return d.y })
                              .interpolate("basis");

                pointerContainer.selectAll("path")
                          .data([pointerPath])
                          .enter()
                          .append("svg:path")
                            .attr("d", pointerLine)
                            .style("fill", "#dc3912")
                            .style("stroke", "#c63310")
                            .style("fill-opacity", 0.7);

                pointerContainer.append("svg:circle")
                          .attr("cx", this.config.cx)
                          .attr("cy", this.config.cy)
                          .attr("r", 0.12 * this.config.raduis)
                          .style("fill", "#4684EE")
                          .style("stroke", "#666")
                          .style("opacity", 1);

                var fontSize = Math.round(this.config.size / 10);
                pointerContainer.selectAll("text")
                          .data([midValue])
                          .enter()
                            .append("svg:text")
                              .attr("x", this.config.cx)
                              .attr("y", this.config.size - this.config.cy / 4 - fontSize)
                              .attr("dy", fontSize / 2)
                              .attr("text-anchor", "middle")
                              .style("font-size", fontSize + "px")
                              .style("fill", "#000")
                              .style("stroke-width", "0px");

                this.redraw(this.config.min, 0);
            }

            this.buildPointerPath = function(value)
            {
                var delta = this.config.range / 13;
                var head = valueToPoint(value, 0.85);
                var head1 = valueToPoint(value - delta, 0.12);
                var head2 = valueToPoint(value + delta, 0.12);

                var tailValue = value - (this.config.range * (1/(270/360)) / 2);
                var tail = valueToPoint(tailValue, 0.28);
                var tail1 = valueToPoint(tailValue - delta, 0.12);
                var tail2 = valueToPoint(tailValue + delta, 0.12);

                return [head, head1, tail2, tail, tail1, head2, head];

                function valueToPoint(value, factor)
                {
                    var point = self.valueToPoint(value, factor);
                    point.x -= self.config.cx;
                    point.y -= self.config.cy;
                    return point;
                }
            };

            this.drawBand = function(start, end, color)
            {
                if (0 >= end - start) return;

                this.body.append("svg:path")
                      .style("fill", color)
                      .attr("d", d3.svg.arc()
                          .startAngle(this.valueToRadians(start))
                          .endAngle(this.valueToRadians(end))
                          .innerRadius(0.65 * this.config.raduis)
                          .outerRadius(0.85 * this.config.raduis))
                      .attr("transform", function() { return "translate(" + self.config.cx + ", " + self.config.cy + ") rotate(270)" });
            };

            this.redraw = function(value, transitionDuration)
            {
                var pointerContainer = this.body.select(".pointerContainer");
                pointerContainer.selectAll("text").text(Math.round(value));

                var pointer = pointerContainer.selectAll("path");
                pointer.transition()
                    .duration(undefined != transitionDuration ? transitionDuration : this.config.transitionDuration)
                    //.delay(0)
                    //.ease("linear")
                    //.attr("transform", function(d)
                    .attrTween("transform", function()
                    {
                        var pointerValue = value;
                        if (value > self.config.max) pointerValue = self.config.max + 0.02*self.config.range;
                        else if (value < self.config.min) pointerValue = self.config.min - 0.02*self.config.range;
                        var targetRotation = (self.valueToDegrees(pointerValue) - 90);
                        var currentRotation = self._currentRotation || targetRotation;
                        self._currentRotation = targetRotation;

                        return function(step)
                        {
                            var rotation = currentRotation + (targetRotation-currentRotation)*step;
                            return "translate(" + self.config.cx + ", " + self.config.cy + ") rotate(" + rotation + ")";
                        }
                    });
            };

            this.valueToDegrees = function(value)
            {
              // thanks @closealert
              //return value / this.config.range * 270 - 45;
              return value / this.config.range * 270 - (this.config.min / this.config.range * 270 + 45);
            }

            this.valueToRadians = function(value)
            {
              return this.valueToDegrees(value) * Math.PI / 180;
            }

            this.valueToPoint = function(value, factor)
            {
              return {
                x: this.config.cx - this.config.raduis * factor * Math.cos(this.valueToRadians(value)),
                y: this.config.cy - this.config.raduis * factor * Math.sin(this.valueToRadians(value))
              };
            }

            this.configure(configuration);
        }

        function createGauge(name, label, min, max)
        {
            var config = {
                size: 180,
                label: label,
                min: undefined != min ? min : 0,
                max: undefined != max ? max : 100,
                minorTicks: 5
            };

            var range = config.max - config.min;
            config.redZones = [{ from: config.min + range*0.9, to: config.max }];
            config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];

            var gauge = new Gauge(name, config);
            gauge.render();

            var value = getRandomValue(gauge);
            gauge.redraw(getRandomValue(gauge));
        }

        function getRandomValue(gauge)
        {
            var overflow = 0; //10;
            return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow*2) *  Math.random();
        }

        function drawGauges()
        {
            createGauge(".summary .summary-tat .chart", "TAT");
            createGauge(".summary .summary-rate .chart", "Rate");
        }
        drawGauges();
    });
</script>
{% endblock %}
