{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h1>GRT <span class="semi-bold">Applications</span></h1>
                </div>
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="groupName" id="i_groupNameNew" type="text"  class="form-control" placeholder="Search By Group Name">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">Questions</th>
                                    <th style="width:15%">GRT Date</th>
                                    <th style="width:25%">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="/check_grt/group/{{ group.group_id }}"><ins>{{ group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="/applications/group/{{ group.group_id }}"><ins>{{ group.group_name }}</ins></a>
                                        </td>
                                        <td><a class="btn btn-small btn-primary" href="/check_grt/group/{{ group.group_id }}/questions">Questions</a></td>
                                        <td>
                                            <div class="input-with-icon  right">
                                                <div class="input-append success date col-md-11">
                                                    <input type="text" class="form-control grt_date {{ group.group_id }}" data-date-format="dd/mm/yyyy" id="{{ group.group_id }}grt_date" >
                                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td><a class="btn btn-small btn-info btn-download-la" data-id="{{ group.group_id }}" href="#" >Download Agreement</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h1>GRT <span class="semi-bold">Applications Results</span></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Search by Group Name">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">GRT Rating</th>
                                    <th style="width:10%" class="text-center">Fail</th>
                                    <th style="width:10%" class="text-center" >Pass</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for grt_session in grt_sessions %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="/check_grt/group/{{ grt_session.group.group_id }}"><ins>{{ grt_session.group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="/applications/group/{{ grt_session.group.group_id }}"><ins>{{ grt_session.group.group_name }}</ins></a>
                                        </td>
                                        <td><span class="muted">{{'%0.2f' %  grt_session.score|float}}/5</span></td>
                                        <td>
                                            <button class="btn btn-small btn-small btn-danger btn-cons group-fail" data-id="{{ grt_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-times"></span></button>
                                        </td>
                                        <td >
                                            <button class="btn btn-small btn-small btn-primary btn-cons group-pass" data-id="{{ grt_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-check"></span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".group-fail").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"false"}'
                $.ajax({
                    url: '/group/status/grt',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
            $(".group-pass").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"true"}'
                $.ajax({
                    url: '/group/status/grt',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
            $('.input-append.date').datepicker({
                autoclose: true,
                todayHighlight: true,
                format:'dd-mm-yyyy'
            });
            $(".btn-download-la").click(function(e){
                e.preventDefault();
                var url = "/grt_agreement_download?group_id="+$(this).attr("data-id")+"&disbursement_date="+$("#"+$(this).attr("data-id")+"grt_date").val();
                var redirectWindow = window.open(url, '_blank');
                redirectWindow.location;
            });
        });
    </script>
{% endblock %}