{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>GRT <span class="semi-bold">Applications</span></h3>
        </div>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.grt_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupId" value="{{ groupId }}" placeholder="Search By Group Id">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.grt_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupName" value="{{ groupName }}" placeholder="Search By Group Name">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">Center Name</th>
                            <th style="width:25%">Questions</th>
                            <th style="width:15%">GRT Date</th>
                            <th style="width:25%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=group.group_id) }}"><ins>{{ group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=group.group_id) }}"><ins>{{ group.group_name }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_center", group_id=group.group_id) }}"><ins>{{ group.location_name }}</ins></a>
                                </td>
                                <td><a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.grt_questions", group_id=group.group_id) }}">Questions</a></td>
                                <td>
                                    <div class="input-with-icon  right">
                                        <div class="input-append success date col-md-11">
                                            <input type="text" class="form-control grt_date {{ group.group_id }}" data-date-format="dd/mm/yyyy" id="{{ group.group_id }}grt_date" >
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                        </div>
                                    </div>
                                </td>
                                <td><a class="btn btn-small btn-info btn-download-la" data-id="{{ group.group_id }}" href="#">Download Agreement</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>GRT <span class="semi-bold">Applications Results - Pending</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">Center Name</th>
                            <th style="width:25%">GRT Rating</th>
                            <th style="width:10%" class="text-center">Fail</th>
                            <th style="width:10%" class="text-center" >Pass</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in pending %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_name }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_center", group_id=session.group.group_id) }}"><ins>{{ session.group.location_name }}</ins></a>
                                </td>
                                <td><span class="muted">{{'%0.2f' %  session.score|float}}/5</span></td>
                                <td>
                                    <form method="post" action="{{ url_for("organisation_views.grt_group_status", group_id=session.group.group_id) }}">
                                        <input type="hidden" name="status" value="false">
                                        <button class="btn btn-small btn-small btn-danger btn-cons" type="submit"><span aria-hidden="true" class="fa fa-times"></span></button>
                                    </form>
                                </td>
                                <td >
                                    <form method="post" action="{{ url_for("organisation_views.grt_group_status", group_id=session.group.group_id) }}">
                                        <input type="hidden" name="status" value="true">
                                        <button class="btn btn-small btn-small btn-primary btn-cons" type="submit"><span aria-hidden="true" class="fa fa-check"></span></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>GRT <span class="semi-bold">Applications Results - Finalized</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">Center Name</th>
                            <th style="width:25%">GRT Rating</th>
                            <th style="width:10%" class="text-center">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in finalized %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_name }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_center", group_id=session.group.group_id) }}"><ins>{{ session.group.location_name }}</ins></a>
                                </td>
                                <td><span class="muted">{{'%0.2f' %  session.score|float}}/5</span></td>
                                <td>
                                    {% if session.state == "fail" %}
                                    <button class="btn btn-small btn-small btn-danger btn-cons"><span aria-hidden="true" class="fa fa-times"></span></button>
                                    {% else %}
                                    <button class="btn btn-small btn-small btn-primary btn-cons"><span aria-hidden="true" class="fa fa-check"></span></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.input-append.date').datepicker({
                autoclose: true,
                todayHighlight: true,
                format:'dd-mm-yyyy'
            });
            $(".btn-download-la").click(function(e){
                e.preventDefault();
                var group_id = $(this).attr("data-id");

                var group_date = $("#" + group_id + "grt_date").val();
                if (group_date == '' || group_date == undefined) {
                  alert("please select agreement download date");
                  return;
                }

                var download_url = "/check_grt/group/" + group_id + "/download/" + group_date;
                var redirectWindow = window.open(download_url);
                redirectWindow.location;
            });
        });
    </script>
{% endblock %}