{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>Sanctioned <span class="semi-bold">Application List</span></h3>
        </div>
    </div>

    <div class="row">
        {% if feature_show("search_by_app_id") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <input type="text" class="inline form-control" name="appId" placeholder="Search By Applicant Id">
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif %}
        {% if feature_show("search_by_app_name") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <input type="text" class="inline form-control" name="appName" placeholder="Search By Applicant Name">
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif %}
        {% if feature_show("search_by_group_id") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <input type="text" class="inline form-control" name="groupId" placeholder="Search By group id">
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif %}
        {% if feature_show("search_by_group_name") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <select class="inline select2 form-control" name="groupId">
                    <option selected disabled>search by group name</option>
                    {% for group in groups %}
                    <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                    {% endfor %}
                </select>
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif %}
        {% if feature_show("search_by_center_name") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <select class="inline select2 form-control" name="groupId">
                    <option selected disabled>search by center name</option>
                    {% for group in groups %}
                    <option value="{{ group.group_id }}">{{ group.location_name }}</option>
                    {% endfor %}
                </select>
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif %}
        {% if feature_show("search_by_scrutiny_status") %}
        <div class="col-md-6 form-group">
            <form class="form-no-horizontal-spacing search-container" method="get" action="{{ url_for("organisation_views.sanctions") }}">
                <select class="inline select2 form-control" name="scrutinyStatus">
                    <option selected disabled>search by scrutiny status</option>
                    <option value="onhold">onhold</option>
                    <option value="rejected">rejected</option>
                    <option value="approved">approved</option>
                </select>
                <button class="inline btn btn-info btn-medium" type="submit" value="search">search</button>
            </form>
            <div class="clearfix"></div>
        </div>
        {% endif%}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:15%">Application ID</th>
                            <th style="width:20%">Applicant Name</th>
                            <th style="width:15%">Branch Name</th>
                            <th style="width:15%">FOS Name</th>
                            <th style="width:15%">Sanction Status</th>
                            <th style="width:10%">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in applications %}
                        <tr>
                            <td class="v-align-middle">{{ loop.index }}</td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.sanctions_application", app_id=app.application_id) }}"><ins>{{ app.application_id }}</ins></a>
                            </td>
                            <td class="v-align-middle">
                              <a href="{{ url_for("organisation_views.sanctions", appName=app.applicant_name) }}"><ins>{{ app.applicant_name }}</ins></a>
                            </td>
                            <td class="v-align-middle">
                              <a href="#"><ins>{{ app.owner.org_branch.branch_name }}</ins></a>
                            </td>
                            <td class="v-align-middle">
                              <a href="#"><ins>{{ app.owner.first_name|capitalize }} {{ app.owner.last_name|capitalize }}</ins></a>
                            </td>
                            <td class="v-align-middle">
                              <a href="#"><ins>{{ app.sanction_status }}</ins></a>
                            </td>
                            <td class="v-align-middle">{{ app.date_created|dateformat }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
