{% extends "master.html" %}

{% import "auth/wtf_bootstrap.html" as form_macros %}

{% block title %}Corp Users{% endblock %}
{% block action_bar %}{{ super() }}
    <li><div class="m-t-small">
    <a href="#id_modal_add_user" data-toggle="modal" class="btn btn-primary">Add User</a>
    </div>
    </li>
{% endblock %}
{% block maincontents %}
      <div class="main padder">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 m-t-large">
                  <section class="panel">
                      <header class="panel-heading"><h4>Users</h4></header>
                      <div class="panel-body">
                          <table class="table table-striped">
                              <thead>
                                  <th>Email</th>
                                  <th>Disk Quota</th>
                                  <th>Instance Quota</th>
                                  <th>Active</th>
                                  <th>Action</th>
                              </thead>
                              <tbody>
                                  {% for i in user.corp_users %}
                                      <tr>
                                          <td>{{i.user_email}}</td>
                                          <td>{{i.max_disk_quota}}</td>
                                          <td>{{i.max_instance_quota}}</td>
                                          <td>{{i.active}}</td>
                                          <td>{% if i.active == True %} <button data="{{ i.user_email }}" class="btn btn-sm btn-delete-developer">Deactivate</button>{% else %}
                                              <button data="{{ i.user_email }}" class="btn btn-sm btn-activate-developer">Activate</button>{% endif %}
                                          </td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </section>
              </div>
          </div>
    </div>
{% endblock %}
{%  block modalcontents %}
    <div id="id_modal_add_user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
                    <h4 class="modal-title" id="myModalLabel_Bucket">Add Users</h4>
                </div>
                <div class="modal-body">
                    <form class="m-b-none form-horizontal" id="form_create_user" action="/corp_admin/" method="post" data-validate="parsley">
                        <div class="block">
                            <label class="control-label">Email</label>
                            <input type="text" name="email" class="form-control" data-required="true" data-type="email" placeholder="Email">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input name="can_add_bucket" id="enable_bucket" type="checkbox"  value="false">Can Add New Bucket
                            </label>
                            <div class="block">
                                <input type="text" id="disk_quota" name="disk_quota" class="form-control" data-required="false" disabled placeholder="Max Disk Quota(GB)">
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="can_launch_instance" id="enable_instance" type="checkbox" value="false" >Can Launch A Instance
                            </label>
                            <div class="block">
                                <input type="text" name="max_instance" id="max_instance" class="form-control" data-required="false" disabled placeholder="Max Instances">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="button_create"  >Add</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        $(document).ready(function(){
            $(".btn-delete-developer").click(function(){
                var email = $(this).attr('data');
                console.log(email)
                $.ajax({
                    url: '/corp_admin/'+email,
                    type: 'DELETE',
                    cache: false,
                    success: function(resp) {
                        console.log(resp);
                        smoke.signal(JSON.stringify(resp), function(e){
                        }, {
                            duration: 2000,
                            classname: "custom-class"
                        });
                        window.location = "/corp_admin"
                    }
                });
            });

            $(".btn-activate-developer").click(function(){
                var email = $(this).attr('data');
                console.log(email)
                $.ajax({
                    url: '/corp_admin/'+email,
                    type: 'PATCH',
                    cache: false,
                    success: function(resp) {
                        console.log(resp);
                        smoke.signal(JSON.stringify(resp), function(e){
                        }, {
                            duration: 2000,
                            classname: "custom-class"
                        });
                        window.location = "/corp_admin"
                    }
                });
            });
            $('#enable_bucket').change(function() {
                eval("debugger;");
                if ($(this).is(':checked')) {
                    $("#disk_quota").prop('disabled',false);
                    $("#disk_quota").attr("data-required","true");
                    $(this).val('true');
                } else {
                    console.log('Unchecked');
                    $("#disk_quota").prop('disabled',true);
                    $("#disk_quota").attr("data-required","false");
                    $(this).val('false');
                }
            });
            $('#enable_instance').change(function(){
                eval("debugger;");
                if ($(this).is(':checked')) {
                    $("#max_instance").prop('disabled',false);
                    $("#max_instance").attr("data-required","true");
                    $(this).val('true');
                } else {
                    console.log('Unchecked');
                    $("#disk_quota").prop('disabled',true);
                    $("#max_instance").attr("data-required","false");
                    $(this).val('false');
                }
            });
        });
    </script>
{% endblock %}
