{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h1>CGT1 <span class="semi-bold">Applications</span></h1>
                </div>
                <div class="grid-body no-border">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="groupName" id="i_groupNameNew" type="text"  class="form-control" placeholder="Search By Group Name">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">Questions</th>
                                    <th style="width:25%">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="/check_cgt1/group/{{ group.group_id }}"><ins>{{ group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="/applications/group/{{ group.group_id }}"><ins>{{ group.group_name }}</ins></a>
                                        </td>
                                        <td><a class="btn btn-small btn-primary" href="/check_cgt1/group/{{ group.group_id }}/questions">Questions</a></td>
                                        <td><a class="btn btn-small btn-info " href="/check_cgt1/group/{{ group.group_id }}/download" >Download Applications</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h1>CGT1 <span class="semi-bold">Applications Results</span></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <input name="groupName" id="i_groupName" type="text"  class="form-control" placeholder="Search By Group Name">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">CGT1 Rating</th>
                                    <th style="width:10%" class="text-center">Fail</th>
                                    <th style="width:10%" class="text-center">Pass</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cgt1_session in cgt1_sessions %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="/check_cgt1/group/{{ cgt1_session.group.group_id }}"><ins>{{ cgt1_session.group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="/applications/group/{{ cgt1_session.group.group_id }}"><ins>{{ cgt1_session.group.group_name }}</ins></a>
                                        </td>
                                        <td>{{'%0.2f' % cgt1_session.score|float}}/5</td>
                                        <td>
                                            <button class="btn btn-small btn-small btn-danger btn-cons group-fail" data-id="{{ cgt1_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-times"></span></button>
                                        </td>
                                        <td >
                                            <button class="btn btn-small btn-small btn-primary btn-cons group-pass" data-id="{{ cgt1_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-check"></span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".group-fail").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"false"}'
                $.ajax({
                    url: '/group/status/cgt1',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
            $(".group-pass").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"true"}'
                $.ajax({
                    url: '/group/status/cgt1',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
        });
    </script>
{% endblock %}