{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>CGT1 <span class="semi-bold">Applications</span></h3>
        </div>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.cgt1_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupId" value="{{ groupId }}" placeholder="Search By Group Id">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.cgt1_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupName" value="{{ groupName }}" placeholder="Search By Group Name">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">Questions</th>
                            <th style="width:25%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.cgt1_group_list", group_id=group.group_id) }}"><ins>{{ group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=group.group_id) }}"><ins>{{ group.group_name }}</ins></a>
                                </td>
                                <td><a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.cgt1_questions", group_id=group.group_id) }}">Questions</a></td>
                                <td><a class="btn btn-small btn-info " href="{{ url_for("organisation_views.cgt1_downloads", group_id=group.group_id) }}" >Download Applications</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>CGT1 <span class="semi-bold">Applications Results - Pending</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">CGT1 Rating</th>
                            <th style="width:10%" class="text-center">Fail</th>
                            <th style="width:10%" class="text-center">Pass</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in pending %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.cgt1_group_list", group_id=session.group.group_id) }}"><ins>{{ session.group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_name }}</ins></a>
                                </td>
                                <td>{{'%0.2f' % session.score|float}}/5</td>
                                <td>
                                    <form method="post" action="{{ url_for("organisation_views.cgt1_group_status", group_id=session.group.group_id) }}">
                                        <input type="hidden" name="status" value="false">
                                        <button class="btn btn-small btn-small btn-danger btn-cons" type="submit"><span aria-hidden="true" class="fa fa-times"></span></button>
                                    </form>
                                </td>
                                <td >
                                    <form method="post" action="{{ url_for("organisation_views.cgt1_group_status", group_id=session.group.group_id) }}">
                                        <input type="hidden" name="status" value="true">
                                        <button class="btn btn-small btn-small btn-primary btn-cons" type="submit"><span aria-hidden="true" class="fa fa-check"></span></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>CGT1 <span class="semi-bold">Applications Results - Finalized</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                    <table class="table no-more-tables ">
                        <thead>
                        <tr>
                            <th style="width:1%" >#</th>
                            <th style="width:25%">Group ID</th>
                            <th style="width:25%">Group Name</th>
                            <th style="width:25%">CGT1 Rating</th>
                            <th style="width:10%" class="text-center">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for session in finalized %}
                            <tr>
                                <td class="v-align-middle">{{ loop.index }}</td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.cgt1_group_list", group_id=session.group.group_id) }}"><ins>{{ session.group.group_id }}</ins></a>
                                </td>
                                <td class="v-align-middle">
                                  <a href="{{ url_for("organisation_views.application_list_group", group_id=session.group.group_id) }}"><ins>{{ session.group.group_name }}</ins></a>
                                </td>
                                <td>{{'%0.2f' % session.score|float}}/5</td>
                                <td>
                                    {% if session.state == "fail" %}
                                    <button class="btn btn-small btn-small btn-danger btn-cons"><span aria-hidden="true" class="fa fa-times"></span></button>
                                    {% else %}
                                    <button class="btn btn-small btn-small btn-primary btn-cons"><span aria-hidden="true" class="fa fa-check"></span></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
