{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <h3>CB <span class="semi-bold">Check</span></h3>
        <p>Note: Results are loaded after selecting organisation </p>
        <br>
        <div class="col-md-6">

            <select id="source" style="width:100%">
                <option value="1">Samasta</option>
                <option value="2">XYZ</option>
                <option value="3">ABC</option>
                <option value="4">MNO</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="branch" style="width:100%">
                <option value="1">Branch1</option>
                <option value="2">Branch2</option>
                <option value="3">Branch3</option>
                <option value="4">Branch4</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="region" style="width:100%">
                <option value="1">Region1</option>
                <option value="2">Region2</option>
                <option value="3">Region3</option>
                <option value="4">Region4</option>
            </select>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <input class="form-control" type="text" placeholder="search by center">
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" placeholder="search by group">
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" placeholder="search by center id">
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" placeholder="search by group id">
        </div>

    </div>

    <div class="row-fluid">

        <div class="span12">
            <div class="grid simple ">
                <div class="grid-title">
                    <h4>Loan <span class="semi-bold">Application</span></h4>
                    <div class="tools"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body ">
                    <table class="table table-hover table-condensed" id="cbcheck">
                        <thead>
                        <tr>
                            <th style="width:1%" >
                                <div class="checkbox check-default">
                                    <input id="checkbox10" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox10"></label>
                                </div>
                            </th>
                            <th style="width:9%">Application ID</th>
                            <th style="width:22%">Description</th>
                            <th style="width:6%">Date</th>
                            <th style="width:10%">Progress Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in  tagged_applications %}
                        <tr class='clickable-row' data-href='/admin/organisation/{{ app.organisation.id }}/application/{{ app.application_id }}/'>
                            <td class="v-align-middle">
                                <div class="checkbox check-default">
                                    <input id="checkbox11" type="checkbox" value="1">
                                    <label for="checkbox11"></label>
                                </div>
                            </td>
                            <td class="v-align-middle">{{ app.application_id }}</td>
                            <td class="v-align-middle"><span class="muted">{{ app.upload_type }}</span>
                            </td>
                            <td><span class="muted">{{ app.date_created }}</span>
                            </td>
                            <td class="v-align-middle">
                                <div class="progress">
                                    <div data-percentage="2%"  class="progress-bar progress-bar-danger animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#source").select2({
                placeholder: "Select a State",
                allowClear: true
            });
            $("#branch").select2();
            $("#region").select2();
            $("#applicationstatus").select2({
                placeholder: "filter by application state",
                allowClear: true
            });

            var responsiveHelper = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone : 480
            };
            var tableElement = $('#cbcheck');

            tableElement.dataTable( {
                "sDom": "<'row'<'col-md-6'l T><'col-md-6'f>r>t<'row'<'col-md-12'p i>>",
                "oTableTools": {
                    "aButtons": [
                        {
                            "sExtends":    "collection",
                            "sButtonText": "Export flat file for CB Check <i class='fa fa-angle-down'></i>",
                            "aButtons":    [ "csv", "xls"]
                        }
                    ]
                },
                "sPaginationType": "bootstrap",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0 ] }
                ],
                "aaSorting": [[ 1, "asc" ]],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                bAutoWidth     : false,
                fnPreDrawCallback: function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                fnRowCallback  : function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                fnDrawCallback : function (oSettings) {
                    responsiveHelper.respond();
                }
            });
            $('#cbcheck_wrapper .dataTables_filter input').addClass("input-medium "); // modify table search input
            $('#cbcheck_wrapper .dataTables_length select').addClass("select2-wrapper span12"); // modify table per page dropdown



            $('#cbcheck input').click( function() {
                $(this).parent().parent().parent().toggleClass('row_selected');
            });
            $(".select2-wrapper").select2({minimumResultsForSearch: -1});

            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}