{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Add <span class="semi-bold">Organisation</span></h4>

                    <div class="grid-body no-border">
                        <form class="form-no-horizontal-spacing" id="form-organisation" novalidate="novalidate"  action="/admin/organisation/{{ org.id }}/add_product" method="POST">
                            <div class="row column-seperation">

                                <div class="col-md-6">
                                    <h4>Basic Information</h4>


                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="product_name" id="product_name" type="text" value=""  class="form-control" placeholder="loan_amount">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="loan_amount" id="loan_amount" type="text" value=""  class="form-control" placeholder="loan_amount">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="life_insurance" id="life_insurance " type="text" value=""  class="form-control" placeholder="life_insurance ">
                                    </div>



                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="eligible_cycle" id=" eligible_cycle " type="text" value=""  class="form-control" placeholder=" eligible_cycle ">
                                    </div>


                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="number_installments" id=" number_installments " type="text" value=""  class="form-control" placeholder=" number_installments ">
                                    </div>


                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="emi" id=" emi " type="text" value=""  class="form-control" placeholder=" emi ">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="last_emi" id="last_emi " type="text" value=""  class="form-control" placeholder=" last_emi ">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="processing_fee" id=" processing_fee " type="text" value=""  class="form-control" placeholder=" processing_fee">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="total_processing_fees" id="total_processing_fees " type="text" value=""  class="form-control" placeholder=" total_processing_fees">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="interest_rate" id=" interest_rate" type="text" value=""  class="form-control" placeholder="  interest_rate">
                                    </div>

                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="insurance_period" id=" insurance_period" type="text" value=""  class="form-control" placeholder="  insurance_period">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="insurance_free_borrowers_only" id="  insurance_free_borrowers_only" type="text" value=""  class="form-control" placeholder="   insurance_free_borrowers_only">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="total_processing_fees_borrowers_only" id=" total_processing_fees_borrowers_only" type="text" value=""  class="form-control" placeholder=" total_processing_fees_borrowers_only">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="insurance_free_borrowers_n_guarnteer" id=" insurance_free_borrowers_n_guarnteer" type="text" value=""  class="form-control" placeholder="  iinsurance_free_borrowers_n_guarnteer">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="total_processing_fees_borrowers_n_guarnteer" id="  total_processing_fees_borrowers_n_guarnteer " type="text" value=""  class="form-control" placeholder="   total_processing_fees_borrowers_n_guarnteer ">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="emi_collection_period_weekly" id=" emi_collection_period_weekly" type="text" value=""  class="form-control" placeholder=" emi_collection_period_weekly">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="emi_collection_period_monthly" id=" emi_collection_period_monthly" type="text" value=""  class="form-control" placeholder=" emi_collection_period_monthly">
                                    </div>
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <input name="emi_collection_period_fortnightly" id="  emi_collection_period_fortnightly" type="text" value=""  class="form-control" placeholder="  emi_collection_period_fortnightly">
                                    </div>
                                    <div class="form-actions">

                                        <div class="pull-right">
                                            <button class="btn btn-danger btn-cons org-submit" id="submitForm1" type="submit"><i class="icon-ok"></i> Add</button>
                                            <button class="btn btn-white btn-cons" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}