{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Add <span class="semi-bold"> Samastha Employee</span></h4>

                    <div class="grid-body no-border">
                        <form class="form-no-horizontal-spacing" novalidate="novalidate" id="form-organisation-emp" method="POST" action="/admin/organisation/{{ org.id }}/add_emp">
                            <div class="row column-seperation">
                                <div class="col-md-6">
                                    <h4>Basic Information </h4>
                                    <div class="row form-row">
                                        <div class="col-md-5">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="first_name_add_organisation" id="first_name_add_organisation" type="text" class="form-control" placeholder="First Name">
                                               </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="last_name_add_organisation" id="last_name_add_organisation" type="text" class="form-control" placeholder="Last Name">
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-5">
                                            <select name="role" id="role" class="select2 form-control">
                                                <option value="ORG_CM">CM(Center Manager)</option>
                                                <option value="ORG_BM">BM(Branch Manager)</option>
                                                <option value="ORG_AM">AM(Area Manager)</option>
                                                <option value="ORG_RM">RM(Regional Manager)</option>
                                                <option value="ORG_SH">SH(State Head)</option>
                                                <option value="ORG_ZH">ZH(Zonal Head)</option>
                                                <option value="ORG_VP">VP(Vice President)</option>
                                                <option value="ORG_CXO">CXO</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input type="text" placeholder="Date of Birth" class="form-control" id="date_of_birth_add_organisation" name="date_of_birth_add_organisation">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <input id="male" type="radio" name="gender" value="male" checked="checked">
                                                <label for="male">Male</label>
                                                <input id="female" type="radio" name="gender" value="female">
                                                <label for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="email_add_organisation" id="email_add_organisation" type="text" class="form-control" placeholder="email@address.com">
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <h4>Postal Information</h4>

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="address_add_org_emp" id="address_add_org_emp" type="text" class="form-control" placeholder="Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="city_add_organisation" id="city_add_organisation" type="text" class="form-control" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="state_add_organisation" id="state_add_organisation" type="text" class="form-control" placeholder="State">
                                             </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="country_add_organisation" id="country_add_organisation" type="text" class="form-control" placeholder="Country">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="postal_code_add_organisation" id="postal_code_add_organisation" type="text" class="form-control" placeholder="Postal Code">
                                             </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="tele_code_add_organisation" id="tele_code_add_organisation" type="text" class="form-control" placeholder="+91">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="teleno_add_organisation" id="teleno_add_organisation" type="text" class="form-control" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="form-actions">

                                <div class="pull-right">
                                    <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
                                    <button class="btn btn-white btn-cons" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#role").select2({
                placeholder: "Select a ROLE",
                allowClear: true
            });
            $('#form-organisation-emp').validate({
                errorElement: 'span',
                errorClass: 'error',
                focusInvalid: false,
                ignore: "",
                rules: {
                    first_name_add_organisation: {
                        minlength: 3,
                        required: true
                    },
                    last_name_add_organisation: {
                        minlength: 3,
                        required: true
                    },
                    email_add_organisation: {
                        email: true,
                        required: true
                    },
                    date_of_birth_add_organisation: {
                        minlength: 5,
                        required: true
                    },
                    address_add_org_emp: {
                        minlength: 2,
                        required: true
                    },
                    city_add_organisation: {
                        minlength: 2,
                        required: true
                    },
                    state_add_organisation: {
                        minlength: 2,
                        required: true
                    },
                    postal_code_add_organisation: {
                        number:true,
                        required: true
                    },
                    country_add_organisation: {
                        minlength: 2,
                        required: true
                    },
                    teleno_add_organisation: {
                        number:true,
                        minlength: 8,
                        required: true
                    },
                    tele_code_add_organisation: {
                        minlength: 2,
                        required: true
                    }
                },

                invalidHandler: function (event, validator) {
                    //display error alert on form submit
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-with-icon').children('i');
                    var parent = $(element).parent('.input-with-icon');
                    icon.removeClass('fa fa-check').addClass('fa fa-exclamation');
                    parent.removeClass('success-control').addClass('error-control');
                },

                highlight: function (element) { // hightlight error inputs
                    var parent = $(element).parent();
                    parent.removeClass('success-control').addClass('error-control');
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-with-icon').children('i');
                    var parent = $(element).parent('.input-with-icon');
                    icon.removeClass("fa fa-exclamation").addClass('fa fa-check');
                    parent.removeClass('error-control').addClass('success-control');
                },

                submitHandler: function (form) {

                }
            });
        });
    </script>
{% endblock %}