{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        input.no-border {
            font-family: "segoe ui";
            font-size: 14px;
            height: 20px;
            width: 35px;
            padding: 0px;
            margin: 0px;
            margin-bottom: 2px;
            outline: none;
            border: 0px;
            vertical-align: baseline;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <form id="root_data_entry_wizard">
            <div id="rootwizard" class="col-md-12">
                <div class="form-wizard-steps">
                    <ul class="wizard-steps">
                        <li class="" data-target="#step1"> <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">KYC User1</span> </a> </li>
                        <li data-target="#step2" class=""> <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">KYC User2</span> </a> </li>
                        <li data-target="#step3" class=""> <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">KYC Borrower</span> </a> </li>
                        <li data-target="#step4" class=""> <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Application Form</span> </a> </li>
                          </span> </a> </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content transparent">
                    <div class="tab-pane" id="tab1"> <br>
                        <h4 class="semi-bold">Step 1 - <span class="light">KYC1 Information</span></h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ kyc_urls[0] }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <input type="hidden" name="kycid1" id="kycid1" value="{{ kyc_ids[0] }}">
                                    <select id="applicationtype"  style="width:100%">
                                        <option value="AADHAAR">AADHAAR</option>
                                        <option value="VID">VOTERS ID</option>
                                        <option value="PANCARD">PANCARD</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_kycid" type="text" class="form-control" placeholder="KYC ID">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_name" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_f_or_h_name" type="text" class="form-control" placeholder="Father's/husband's Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_dob" type="text" class="form-control" placeholder="Date of Birth">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <input name="city" id="kyc1_city" type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="state" id="kyc1_state" type="text" class="form-control" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <input name="country" id="kyc1_country" type="text" class="form-control" placeholder="Country">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="postal_code" id="kyc1_postal_code" type="text" class="form-control" placeholder="Postal Code">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <input name="tele_code" id="kyc1_tele_code" type="text" class="form-control" placeholder="+91">
                                        </div>
                                        <div class="col-md-8">
                                            <input name="teleno" id="kyc1_teleno" type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2"> <br>
                        <h4 class="semi-bold">Step 2 - <span class="light">KYC2 Information</span></h4>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ kyc_urls[1] }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <input type="hidden" name="kycid2"  id="kycid2" value="{{ kyc_ids[1] }}">
                                    <select id="applicationtype2"  style="width:100%">
                                        <option value="AADHAAR">AADHAAR</option>
                                        <option value="VID">VOTERS ID</option>
                                        <option value="PANCARD">PANCARD</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>

                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc2_kycid" type="text" class="form-control" placeholder="KYC ID">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc2_name" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc2_f_or_h_name" type="text" class="form-control" placeholder="Father's/husband's Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc2_dob" type="text" class="form-control" placeholder="Date of Birth">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc2_address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <input name="city" id="kyc2_city" type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="state" id="kyc2_state" type="text" class="form-control" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <input name="country" id="kyc2_country" type="text" class="form-control" placeholder="Country">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="postal_code" id="kyc2_postal_code" type="text" class="form-control" placeholder="Postal Code">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <input name="tele_code" id="kyc2_tele_code" type="text" class="form-control" placeholder="+91">
                                        </div>
                                        <div class="col-md-8">
                                            <input name="teleno" id="kyc2_teleno" type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3"> <br>
                        <h4 class="semi-bold">Step 3 - <span class="light">KYC Borrower Information</span></h4>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        {% if gkyc_urls[0] %}
                                        <img src="{{ gkyc_urls[0] }}" width="100%" class=""/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <input type="hidden" name="gkycid1" id="gkycid1" value="{{ gkyc_ids[0] }}">
                                    <select id="applicationtype3" name="applicationtype"  style="width:100%">
                                        <option value="AADHAAR">AADHAAR</option>
                                        <option value="VID">VOTERS ID</option>
                                        <option value="PANCARD">PANCARD</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc3_kycid" type="text" class="form-control" placeholder="KYC ID">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc3_name" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc3_f_or_h_name" type="text" class="form-control" placeholder="Father's/husband's Name">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc3_dob" type="text" class="form-control" placeholder="Date of Birth">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc3_address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <input name="city" id="kyc3_city" type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="state" id="kyc3_state" type="text" class="form-control" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <input name="country" id="kyc3_country" type="text" class="form-control" placeholder="Country">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="postal_code" id="kyc3_postal_code" type="text" class="form-control" placeholder="Postal Code">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <input name="tele_code" id="kyc3_tele_code" type="text" class="form-control" placeholder="+91">
                                        </div>
                                        <div class="col-md-8">
                                            <input name="teleno" id="kyc3_teleno" type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4"> <br>
                        <h4 class="semi-bold">Step 4 - <span class="light">Application Form</span></h4>
                        <br>
                        <div class="row">
                            {% for app in app_urls %}
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class=" wizard wizard-actions">
                        <li class="previous first" style="display:none;"><a href="javascript:;" class="btn">&nbsp;&nbsp;First&nbsp;&nbsp;</a></li>
                        <li class="previous"><a href="javascript:;" class="btn">&nbsp;&nbsp;Previous&nbsp;&nbsp;</a></li>
                        <li class="next last" style="display:none;"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Last&nbsp;&nbsp;</a></li>
                        <li class="next"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Next&nbsp;&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block js_scripts %}{{ super() }}

    <script type="text/javascript">
        var cur_tag =1;
        var $input;
        $( document ).ready(function() {
            console.log( "ready!" );
            //$('#layout-condensed-toggle').click();
            $("input[data-tag='form1Name" + cur_tag + "']").focus();
            //make_fucusable(".form1Name")
            //make_fucusable(".form2Name")

        });
        $("#applicationtype").select2({
            placeholder: "choose a document type",
            allowClear: true
        });
        /*
        $("#applicationtype").on("select2-selecting", function(e) {
            // what you would like to happen
            console.log($(e.target).val());
            console.log($("#applicationtype").val());

        });
        */
        $('#applicationtype').select2()
                .on("change", function(e) {
                    // mostly used event, fired to the original element when the value changes
                    console.log("change val=" + e.val);
                })
                .on("select2-close", function() {
                    // fired to the original element when the dropdown closes
                    console.log("close");
                    console.log($("#applicationtype").val());
                    var type = $("#applicationtype").val();

                    if(type=="AADHAAR"){
                        $.getJSON( "/admin/read_aadhaar/"+$("#kycid1").val(), function( data ) {
                            console.log(data);
                            console.log("Trying to prefill");
                            var name = data["scan_result"]["name"];
                            $("#kyc1_name").val(name);
                            var fname = data["scan_result"]["co"];
                            $("#kyc1_f_or_h_name").val(fname);
                            var dob = data["scan_result"]["year_of_birth"];
                            $("#kyc1_dob").val(dob);
                            var kycid = data["scan_result"]["aadhaar_id"];
                            $("#kyc1_kycid").val(kycid);
                            var temp=data["scan_result"]
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc1_state").val(data["scan_result"]['state']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc1_city").val(data["scan_result"]['dist']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc1_postal_code").val(data["scan_result"]['pc']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc1_address").val(data["scan_result"]['house']);
                            }

                        });
                    }else if(type=="PANCARD"){
                        $.getJSON( "/admin/read_pan/"+$("#kycid1").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"][0]["Name"];
                            $("#kyc1_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Organisation Name"];
                            $("#kyc1_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc1_dob").val(dob);
                            var kycid = data["scan_result"][0]["PAN"];
                            $("#kyc1_kycid").val(kycid);
                        });
                    }else if(type=="VID"){
                        $.getJSON( "/admin/read_vid/"+$("#kycid1").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"][0]["Elector's Name"];
                            $("#kyc1_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Mother's/Husband's Name"];
                            $("#kyc1_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc1_dob").val(dob);
                            var kycid = data["scan_result"][0]["VID"];
                            $("#kyc1_kycid").val(kycid);
                        });
                    }

                });

        $("#applicationtype2").select2({
            placeholder: "choose a document type",
            allowClear: true
        });

        $('#applicationtype2').select2()
                .on("change", function(e) {
                    // mostly used event, fired to the original element when the value changes
                    console.log("change val=" + e.val);
                })
                .on("select2-close", function() {
                    // fired to the original element when the dropdown closes
                    console.log("close");
                    console.log($("#applicationtype2").val());
                    var type = $("#applicationtype2").val();

                    if(type=="AADHAAR"){
                        $.getJSON( "/admin/read_aadhaar/"+$("#kycid2").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"]["name"];
                            $("#kyc2_name").val(name);
                            var fname = data["scan_result"]["co"];
                            $("#kyc2_f_or_h_name").val(fname);
                            var dob = data["scan_result"]["year_of_birth"];
                            $("#kyc2_dob").val(dob);
                            var kycid = data["scan_result"]["aadhaar_id"];
                            $("#kyc2_kycid").val(kycid);
                            var temp=data["scan_result"]
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc2_state").val(data["scan_result"]['state']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc2_city").val(data["scan_result"]['dist']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc2_postal_code").val(data["scan_result"]['pc']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc2_address").val(data["scan_result"]['house']);
                            }


                        });
                    }else if(type=="PANCARD"){
                        $.getJSON( "/admin/read_pan/"+$("#kycid2").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"][0]["Name"];
                            $("#kyc2_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Organisation Name"];
                            $("#kyc2_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc2_dob").val(dob);
                            var kycid = data["scan_result"][0]["PAN"];
                            $("#kyc2_kycid").val(kycid);
                        });
                    }else if(type=="VID"){
                        $.getJSON( "/admin/read_vid/"+$("#kycid2").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"][0]["Elector's Name"];
                            $("#kyc2_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Mother's/Husband's Name"];
                            $("#kyc2_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc2_dob").val(dob);
                            var kycid = data["scan_result"][0]["VID"];
                            $("#kyc2_kycid").val(kycid);
                        });
                    }

                });

        $("#applicationtype3").select2({
            placeholder: "choose a document type",
            allowClear: true
        });
        $('#applicationtype3').select2()
                .on("change", function(e) {
                    // mostly used event, fired to the original element when the value changes
                    console.log("change val=" + e.val);
                })
                .on("select2-close", function() {
                    // fired to the original element when the dropdown closes
                    console.log("close");
                    console.log($("#applicationtype3").val());
                    var type = $("#applicationtype3").val();

                    if(type=="AADHAAR"){
                        $.getJSON( "/admin/read_aadhaar/"+$("#gkycid1").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"]["name"];
                            $("#kyc3_name").val(name);
                            var fname = data["scan_result"]["co"];
                            $("#kyc3_f_or_h_name").val(fname);
                            var dob = data["scan_result"]["year_of_birth"];
                            $("#kyc3_dob").val(dob);
                            var kycid = data["scan_result"]["aadhaar_id"];
                            $("#kyc3_kycid").val(kycid);
                            var temp=data["scan_result"]
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc3_state").val(data["scan_result"]['state']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc3_city").val(data["scan_result"]['dist']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc3_postal_code").val(data["scan_result"]['pc']);
                            }
                            if(temp.hasOwnProperty('dist')){
                                $("#kyc3_address").val(data["scan_result"]['house']);
                            }


                        });
                    }else if(type=="PANCARD"){
                        $.getJSON( "/admin/read_pan/"+$("#gkycid1").val(), function( data ) {
                            console.log(data);
                            $("#kyc3_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Organisation Name"];
                            $("#kyc3_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc3_dob").val(dob);
                            var kycid = data["scan_result"][0]["PAN"];
                            $("#kyc3_kycid").val(kycid);
                        });
                    }else if(type=="VID"){
                        $.getJSON( "/admin/read_vid/"+$("#gkycid1").val(), function( data ) {
                            console.log(data);
                            var name = data["scan_result"][0]["Elector's Name"];
                            $("#kyc3_name").val(name);
                            var fname = data["scan_result"][0]["Father's/Mother's/Husband's Name"];
                            $("#kyc3_f_or_h_name").val(fname);
                            var dob = data["scan_result"][0]["DOB"];
                            $("#kyc3_dob").val(dob);
                            var kycid = data["scan_result"][0]["VID"];
                            $("#kyc3_kycid").val(kycid);
                        });
                    }

                });
        $('#root_data_entry_wizard').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function(tab, navigation, index) {
                var $valid = $("#root_data_entry_wizard").valid();
                if(!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
                else{
                    $('#root_data_entry_wizard').find('.form-wizard').children('li').eq(index-1).addClass('complete');
                    $('#root_data_entry_wizard').find('.form-wizard').children('li').eq(index-1).find('.step').html('<i class="fa fa-check"></i>');
                }
            }
        });


{#        function make_fucusable(classname) {#}
{#            var focusables = $(classname);#}
{#            focusables.keydown(function(e){#}
{##}
{#                if ((e.keyCode != 9)&&($(this).val().length <= $(this).attr("maxlength"))){#}
{#                    if( (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 65 && event.keyCode <= 90 ||e.keyCode == 32)){#}
{#                        $(this).val("");#}
{#                    }#}
{##}
{#                }#}
{#            });#}
{#            focusables.keyup(function(e) {#}
{#                var maxchar = false;#}
{#                if ($(this).attr("maxlength")) {#}
{#                    if ($(this).val().length >= $(this).attr("maxlength"))#}
{#                        maxchar = true;#}
{#                }#}
{#                if (e.keyCode == 13 || maxchar &&( (e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) ||e.keyCode == 32)) {#}
{#                    var current = focusables.index(this),#}
{#                            next = focusables.eq(current+1).length ? focusables.eq(current+1) : focusables.eq(0);#}
{#                    next.focus();#}
{#                }#}
{#            });#}
{#        }#}

        //$('.form1Name').blur(function() {
        //    $input = null;
        //});

    </script>
{% endblock %}