{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}
    <style type="text/css">
        input.no-border {
            font-family: "segoe ui";
            font-size: 14px;
            height: 20px;
            width: 35px;
            padding: 0px;
            margin: 0px;
            margin-bottom: 2px;
            outline: none;
            border: 0px;
            vertical-align: baseline;
        }

    </style>
{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}
    <div class="row">
        <form id="commentForm">
            <div id="rootwizard" class="col-md-12">
                <div class="form-wizard-steps">
                    <ul class="wizard-steps">
                        <li class="" data-target="#step1"> <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">KYC1</span> </a> </li>
                        <li data-target="#step2" class=""> <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">KYC2</span> </a> </li>
                        <li data-target="#step3" class=""> <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Application Form</span> </a> </li>
                        <li data-target="#step4" class=""> <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Done <br>
                          </span> </a> </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content transparent">
                    <div class="tab-pane" id="tab1"> <br>
                        <h4 class="semi-bold">Step 1 - <span class="light">KYC1 Information</span></h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ kyc_urls[0] }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <select id="applicationstatus"  style="width:100%">
                                        <option value="AADHAAR">AADHAAR</option>
                                        <option value="VID">VOTERS ID</option>
                                        <option value="PANCARD">PANCARD</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="kyc1_address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <input name="city" id="kyc1_city" type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="state" id="kyc1_state" type="text" class="form-control" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <input name="country" id="kyc1_country" type="text" class="form-control" placeholder="Country">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="postal_code" id="kyc1_postal_code" type="text" class="form-control" placeholder="Postal Code">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <input name="tele_code" id="kyc1_tele_code" type="text" class="form-control" placeholder="+91">
                                        </div>
                                        <div class="col-md-8">
                                            <input name="teleno" id="kyc1_teleno" type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2"> <br>
                        <h4 class="semi-bold">Step 2 - <span class="light">KYC2 Information</span></h4>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ kyc_urls[1] }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <select id="applicationstatus2"  style="width:100%">
                                        <option value="AADHAAR">AADHAAR</option>
                                        <option value="VID">VOTERS ID</option>
                                        <option value="PANCARD">PANCARD</option>
                                        <option value="OTHER">OTHER</option>
                                    </select>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <input name="address" id="key2_address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <input name="city" id="key2_city" type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="state" id="key2_state" type="text" class="form-control" placeholder="State">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <input name="country" id="key2_country" type="text" class="form-control" placeholder="Country">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="postal_code" id="key2_postal_code" type="text" class="form-control" placeholder="Postal Code">
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4">
                                            <input name="tele_code" id="key2_tele_code" type="text" class="form-control" placeholder="+91">
                                        </div>
                                        <div class="col-md-8">
                                            <input name="teleno" id="key2_teleno" type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3"> <br>
                        <h4 class="semi-bold">Step 3 - <span class="light">Application Form</span></h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="grid simple">
                                    <div class="grid-title no-border">
                                        <img src="{{ app_1 }}" width="100%" class=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4"> <br>
                        <h4 class="semi-bold">Step 4 - <span class="light">Review</span></h4>
                        <br>

                        <div class="row form-row">
                            <div class="col-md-12">
                                <p>DINESH </p>
                                <p>Loan Amount : 25000/-</p>
                                <p>2 KYC Documents</p>
                            </div>
                        </div>
                    </div>
                    <ul class=" wizard wizard-actions">
                        <li class="previous first" style="display:none;"><a href="javascript:;" class="btn">&nbsp;&nbsp;First&nbsp;&nbsp;</a></li>
                        <li class="previous"><a href="javascript:;" class="btn">&nbsp;&nbsp;Previous&nbsp;&nbsp;</a></li>
                        <li class="next last" style="display:none;"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Last&nbsp;&nbsp;</a></li>
                        <li class="next"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Next&nbsp;&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
{% block js_scripts %}{{ super() }}

    <script type="text/javascript">
        var cur_tag =1;
        var $input;
        $( document ).ready(function() {
            console.log( "ready!" );
            //$('#layout-condensed-toggle').click();
            $("input[data-tag='form1Name" + cur_tag + "']").focus();
            //make_fucusable(".form1Name")
            //make_fucusable(".form2Name")

        });
        $("#applicationstatus").select2({
            placeholder: "choose a document type",
            allowClear: true
        });
        $("#applicationstatus2").select2({
            placeholder: "choose a document type",
            allowClear: true
        });


{#        function make_fucusable(classname) {#}
{#            var focusables = $(classname);#}
{#            focusables.keydown(function(e){#}
{##}
{#                if ((e.keyCode != 9)&&($(this).val().length <= $(this).attr("maxlength"))){#}
{#                    if( (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 65 && event.keyCode <= 90 ||e.keyCode == 32)){#}
{#                        $(this).val("");#}
{#                    }#}
{##}
{#                }#}
{#            });#}
{#            focusables.keyup(function(e) {#}
{#                var maxchar = false;#}
{#                if ($(this).attr("maxlength")) {#}
{#                    if ($(this).val().length >= $(this).attr("maxlength"))#}
{#                        maxchar = true;#}
{#                }#}
{#                if (e.keyCode == 13 || maxchar &&( (e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) ||e.keyCode == 32)) {#}
{#                    var current = focusables.index(this),#}
{#                            next = focusables.eq(current+1).length ? focusables.eq(current+1) : focusables.eq(0);#}
{#                    next.focus();#}
{#                }#}
{#            });#}
{#        }#}

        //$('.form1Name').blur(function() {
        //    $input = null;
        //});

    </script>
{% endblock %}