{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}


<br/>
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"> <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left"><h4>Organisation <span class="semi-bold"> Products</span></h4></th>
                            <th style="width:200px" class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Loan Amount</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="loan_amount" value="" /></td>

                        </tr>
                        <tr>
                            <td> Life Insurance</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="life_insurance" value="" /></td>

                        </tr>
                        <tr>
                            <td>Eligible Cycle</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="" value="" /></td>

                        </tr>
                        <tr>
                            <td>Number Installments</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="number_installments" value="" /></td>

                        </tr>
                        <tr>
                            <td>Emi</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="emi" value="" /></td>

                        </tr>
                        <tr>
                            <td>Last Emi </td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="last_emi " value="" /></td>

                        </tr>
                        <tr>
                            <td>Processing Fee</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="processing_fee" value="" /></td>

                        </tr>
                        <tr>
                            <td>Total Processing Fees</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="total_processing_fees" value="" /></td>

                        </tr>
                        <tr>
                            <td> Interest Rate</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="interest_rate" value="" /></td>

                        </tr>
                        <tr>
                            <td>Insurance Period</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="insurance_period" value="" /></td>

                        </tr>
                        <tr>
                            <td>Insurance Free Borrowers Only</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="insurance_free_borrowers_only" value="" /></td>

                        </tr>
                        <tr>
                            <td> Total Processing Fees Borrowers Only</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="total_processing_fees_borrowers_only" value="" /></td>

                        </tr>
                        <tr>
                            <td>Insurance Free Borrowers_n_ Quarnteer</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="insurance_free_borrowers_n_guarnteer" value="" /></td>

                        </tr>
                        <tr>
                            <td>Total Processing Fees Borrowers_n_Quarnteer</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="total_processing_fees_borrowers_n_guarnteer" value="" /></td>

                        </tr><tr>
                            <td>Emi Collection Period Weekly</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="emi_collection_period_weekly" value="" /></td>

                        </tr>
                        <tr>
                            <td>Emi Collection Period Monthly</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="emi_collection_period_monthly" value="" /></td>

                        </tr>
                        <tr>
                            <td>Emi Collection Period Fortnightly</td>
                            <td class="text-right"><input type="text" class="form-control text-right" name="emi_collection_period_fortnightly" value="" /></td>

                        </tr>


                        </tbody>
                    </table>


                    <div class="form-actions">

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-danger btn-cons" type="submit"><i class="icon-ok"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}