{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Add <span class="semi-bold">Employee</span></h4>

                    <div class="grid-body no-border">
                        <form class="form-no-horizontal-spacing" id="form-employee" method="post" action="/admin/add_emp">
                            <div class="row column-seperation">
                                <div class="col-md-6">
                                    <h4>Basic Information</h4>
                                    <div class="row form-row">
                                        <div class="col-md-5 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="FirstName" id="FirstName" value="" type="text" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-7 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="LastName" id="LastName" value="" type="text" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-6 form-group">
                                            <select name="role" id="role" class="select2 form-control">
                                                <option value="EMP_EXECUTIVE">Executive</option>
                                                <option value="EMP_MANAGER">Manager</option>
                                                <option value="EMP_VP">VP</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="input-append success date no-padding">
                                                <input type="text" type="text" placeholder="Date of Birth" class="form-control" id="DateOfBirth" name="DateOfBirth" >
                                                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> </div>
                                        </div>
                                    </div>

                                    <div class="row form-row">
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <input id="male" type="radio" name="gender" value="male" checked="checked">
                                                <label for="male">Male</label>
                                                <input id="female" type="radio" name="gender" value="female">
                                                <label for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-12 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="Email" id="Email" value="" type="text" class="form-control" placeholder="email@address.com">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <h4>Postal Information</h4>

                                    <div class="row form-row">
                                        <div class="col-md-12 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="Address" id="Address" value="" type="text" class="form-control" placeholder="Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">

                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                                <select name="Country" id="Country"  class="form-control select2" placeholder="Country"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <select name="State" id="State"  class="form-control select2" placeholder="State"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-8 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                                <input name="City" id="City" value="" type="text" class="form-control" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="PostalCode" type="text" value="" id="PostalCode" class="form-control" placeholder="Postal Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col-md-4 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="TeleCode" id="TeleCode" value="" type="text" class="form-control" placeholder="+91">
                                            </div>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="input-with-icon  right">
                                                <i class=""></i>
                                            <input name="TeleNo" id="TeleNo" value="" type="text" class="form-control" placeholder="Phone Number">
                                                </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="form-actions">

                                <div class="pull-right">
                                    <button class="btn btn-danger btn-cons"  id="submitForm2" type="submit"><i class="icon-ok"></i> Save</button>
                                    <button class="btn btn-white btn-cons" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}

    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            populateCountries("Country", "State");
            $("#State").select2();
            $("#Country").select2();
            $("#role").select2({
                placeholder: "Select a ROLE",
                allowClear: true
            });

        });
        $('#form-employee').validate({
            errorElement: 'span',
            errorClass: 'error',
            focusInvalid: false,
            ignore: "",
            rules: {
                FirstName: {
                    minlength: 3,
                    required: true
                },
                LastName: {
                    minlength: 3,
                    required: true
                },
                Email: {
                    email: true,
                    required: true
                },
                Address: {
                    minlength: 5,
                    required: true
                },
                City: {
                    minlength: 2,
                    required: true
                },
                PostalCode: {
                    number:true,
                    required: true
                },
                TeleCode: {
                    minlength: 2,
                    required: true
                },
                TeleNo: {
                    number:true,
                    minlength: 8,
                    required: true
                }
            },

            invalidHandler: function (event, validator) {
                //display error alert on form submit
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-with-icon').children('i');
                var parent = $(element).parent('.input-with-icon');
                icon.removeClass('fa fa-check').addClass('fa fa-exclamation');
                parent.removeClass('success-control').addClass('error-control');
            },

            highlight: function (element) { // hightlight error inputs
                var parent = $(element).parent();
                parent.removeClass('success-control').addClass('error-control');
            },

            unhighlight: function (element) { // revert the change done by hightlight

            },

            success: function (label, element) {
                var icon = $(element).parent('.input-with-icon').children('i');
                var parent = $(element).parent('.input-with-icon');
                icon.removeClass("fa fa-exclamation").addClass('fa fa-check');
                parent.removeClass('error-control').addClass('success-control');
            },

            submitHandler: function (form) {
                form.submit();
                console.log("Success");
            }
        });
        $('.input-append.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}