{% extends "admin_base.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Add <span class="semi-bold">Organisation</span></h4>

                <div class="grid-body no-border">
                    <form class="form-no-horizontal-spacing" id="form-organisation" action="/admin/add_org" method="post">
                        <div class="row column-seperation">

                            <div class="col-md-6">
                                <h4>Basic Information</h4>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <input name="org_name" id="org_name" type="text"  class="form-control" placeholder="Organisation Name">
                                    </div>

                                </div>

                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <h3>Select <span class="semi-bold">States</span></h3>
                                        <br>
                                        <select id="multi" name="states" style="width:100%" class="select2 form-control" multiple>
                                            <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
                                            <option value='Andhra Pradesh'>Andhra Pradesh</option>
                                            <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                                            <option value='Assam'>Assam</option>
                                            <option value='Bihar'>Bihar</option>
                                            <option value='Chandigarh'>Chandigarh</option>
                                            <option value='Chhattisgarh'>Chhattisgarh</option>
                                            <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option>
                                            <option value='Daman and Diu'>Daman and Diu</option>
                                            <option value='Delhi'>Delhi</option>
                                            <option value='Goa'>Goa</option>
                                            <option value='Gujarat'>Gujarat</option>
                                            <option value='Haryana'>Haryana</option>
                                            <option value='Himachal Pradesh'>Himachal Pradesh</option>
                                            <option value='Jammu and Kashmir'>Jammu and Kashmir</option>
                                            <option value='Jharkhand'>Jharkhand</option>
                                            <option value='Karnataka'>Karnataka</option>
                                            <option value='Kerala'>Kerala</option>
                                            <option value='Lakshadweep'>Lakshadweep</option>
                                            <option value='Madhya Pradesh'>Madhya Pradesh</option>
                                            <option value='Maharashtra'>Maharashtra</option>
                                            <option value='Manipur'>Manipur</option>
                                            <option value='Meghalaya'>Meghalaya</option>
                                            <option value='Mizoram'>Mizoram</option>
                                            <option value='Nagaland'>Nagaland</option>
                                            <option value='Odisha'>Odisha</option>
                                            <option value='Puducherry'>Puducherry</option>
                                            <option value='Punjab'>Punjab</option>
                                            <option value='Rajasthan'>Rajasthan</option>
                                            <option value='Sikkim'>Sikkim</option>
                                            <option value='Tamil Nadu'>Tamil Nadu</option>
                                            <option value='Telengana'>Telengana</option>
                                            <option value='Tripura'>Tripura</option>
                                            <option value='Uttar Pradesh'>Uttar Pradesh</option>
                                            <option value='Uttarakhand'>Uttarakhand</option>
                                            <option value='West Bengal'>West Bengal</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <h3>Select <span class="semi-bold">Regions</span></h3>
                                        <br>
                                        <input class="span12 tagsinput" name="regions" type="text" value="" data-role="tagsinput" />
                                    </div>

                                </div>
                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <h3>Select <span class="semi-bold">Area</span></h3>
                                        <br>
                                        <input class="span12 tagsinput" name="areas" type="text" value="" data-role="tagsinput" />
                                    </div>

                                </div>

                                <div class="row form-row">

                                    <div class="col-md-12">
                                        <h3>Select <span class="semi-bold">Branches</span></h3>
                                        <br>
                                        <input class="span12 tagsinput" name="branches" type="text" value="" data-role="tagsinput" />
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <h4>Postal Information</h4>

                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <input name="postal_address" id="postal_address" type="text"  class="form-control" placeholder="Address">
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-8">
                                        <select name="postal_country" id="country"   class="select2 form-control" placeholder="Country"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="postal_code" id="postal_code" type="text"  class="form-control" placeholder="Postal Code">
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <select name="postal_state" id="state"  class="select2 form-control" placeholder="State"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="postal_city" id="postal_city" type="text"  class="form-control" placeholder="City">
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-md-4">
                                        <input name="postal_tele_code" id="postal_tele_code" type="text"  class="form-control" placeholder="+91">
                                    </div>
                                    <div class="col-md-8">
                                        <input name="postal_telephone" id="postal_telephone" type="text"  class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <input name="email" id="email" type="text"  class="form-control" placeholder="Email address">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions">

                            <div class="pull-right">
                                <button class="btn btn-danger btn-cons org-submit" type="submit"><i class="icon-ok"></i> Add</button>
                                <button class="btn btn-white btn-cons" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block js_scripts %}{{ super() }}
    <script src="{{ url_for('static', filename='js/countries.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#multi").select2();
            populateCountries("country", "state");
            $("#state").select2();
            $("#country").select2();
            $(".org-submit").click(function(){
                $("#form-organisation").submit();
            });
            //$("#multi-region").select2();


        });
    </script>
{% endblock %}