{% extends "base_other.html" %}
{% block css_sheets %}{{ super() }}

{% endblock %}

{% block action_bar %}

{% endblock %}
{% block maincontents %}

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border"><br>

                    <div class="pull-left">
                        <img src="{{ url_for('static', filename='img/logo-esthenos.png')}}"
                             height="50" alt="">
                        <address>
                            <strong>eSthenos Financial Services Limited</strong><br>
                        </address>
                    </div>
                    <div class="pull-right">
                        <h2>INSURANCE PREMIUM ACKNOWLEDGEMENT (GROUP COPY)</h2>
                    </div>
                    <div class="clearfix"></div>
                        <h4>
                            <div class="pull-left"> We eSthenos Financial Servicess Ltd., hereby acknowledge the receipt
                                of Rs.15000/- towards Insurance Premium for the Borrowers and their Guarantors
                                of the Group:<span class="semi-bold">Group1</span>  Centre: <span class="semi-bold">Center1</span>
                                Region: <span class="semi-bold">Region1</span>.
                            </div>


                            <div class="clearfix"></div>
                        </h4>


                    <div class="pull-left"> The details of payments are mentioned in the below Table.</div>
                    <table class="table">
                        <thead>
                        <tr>
							<th style="width:5%"> No</th>
							
                            <th style="width:15%" class="text-left">NAME OF BORROWER</th>
                            
							<th style="width:5%"class="text-left">AGE</th>
                            
							<th style="width:10%"class="text-center" colspan="2">KYC-Number</th>
							
                            <th style="width:15%">NAME OF GURRANTOR</th>

                            <th style="width:5%"class="text-left">AGE</th>

                            <th style="width:10%"style="width:100px" class="text-center" colspan="2">KYC-Number</th>
                       
                            <th style="width:10%"class="text-left">LOAN ACCOUNT No</th>

                            <th style="width:5%"class="text-left">LOAN AMOUNT</th>

                            <th style="width:5%"class="text-left">SUM ASSURED</th>

                            <th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in range(1,15) %}
                        <tr>
							<td>{{ n }}</td>
                            <td class="text-left" class="text-right">Arun G Hiremath</td>
                            <td class="text-left">23</td>
                            <td class="text-right">P</td>
                            <td class="text-left">AICPH1453L</td>
                            <td class="text-left">Gangayya Hiremath</td>
                            <td class="text-left">45</td>
                            <td class="text-left">A</td>
                            <td class="text-left">180034328555</td>
                            <td class="text-left">2535AA</td>
                            <td class="text-left">20000</td>
                            <td class="text-left">19000</td>
                            <td class="text-left">1200</td>


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <br>
                    <br>

                    <div class="col-md-3"><br>

                        <div>
                            <div class="pull-left"> DATE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="pull-left"> PLACE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                    </div>
                    <h5 class="text-right text-black">For eSthenos Services Ltd</h5>
                    <h5 class="text-right semi-bold text-black">Authorized Signatory</h5>
                    <h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-body no-border invoice-body"><br>

                    <div class="pull-left">
                        <img src="{{ url_for('static', filename='img/logo-esthenos.png')}}"
                             height="50" alt="">
                        <address>
                            <strong>eSthenos Financial Services Limited</strong><br>
                        </address>
                    </div>
                    <div class="pull-right">
                        <h2>INSURANCE PREMIUM ACKNOWLEDGEMENT (OFFICE COPY)</h2>
                    </div>
                    <div class="clearfix"></div>
                    <h4>
                        <div class="pull-left"> We eSthenos Financial Servicess Ltd., hereby acknowledge the receipt
                            of Rs.15000/- towards Insurance Premium for the Borrowers and their Guarantors
                            of the Group:<span class="semi-bold">Group1</span>  Centre: <span class="semi-bold">Center1</span>
                            Region: <span class="semi-bold">Region1</span>.
                        </div>


                        <div class="clearfix"></div>
                    </h4>


                    <div class="pull-left"> The details of payments are mentioned in the below Table.</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width:5%"> No</th>

                            <th style="width:15%" class="text-left">NAME OF BORROWER</th>

                            <th style="width:5%"class="text-left">AGE</th>

                            <th style="width:10%"class="text-center" colspan="2">KYC-Number</th>

                            <th style="width:15%">NAME OF GURRANTOR</th>

                            <th style="width:5%"class="text-left">AGE</th>

                            <th style="width:10%"style="width:100px" class="text-center" colspan="2">KYC-Number</th>

                            <th style="width:10%"class="text-left">LOAN ACCOUNT No</th>

                            <th style="width:5%"class="text-left">LOAN AMOUNT</th>

                            <th style="width:5%"class="text-left">SUM ASSURED</th>

                            <th style="width:15%"class="text-left">Ins. Pr. (for 2 Lives)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for n in range(1,15) %}
                            <tr>
                                <td>1</td>
                                <td class="text-left" class="text-right">Arun G Hiremath</td>
                                <td class="text-left">23</td>
                                <td class="text-right">P</td>
                                <td class="text-left">AICPH1453L</td>
                                <td class="text-left">Gangayya Hiremath</td>
                                <td class="text-left">45</td>
                                <td class="text-left">A</td>
                                <td class="text-left">180034328555</td>
                                <td class="text-left">2535AA</td>
                                <td class="text-left">20000</td>
                                <td class="text-left">19000</td>
                                <td class="text-left">1200</td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <br>
                    <br>

                    <div class="col-md-3"><br>

                        <div>
                            <div class="pull-left"> DATE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="pull-left"> PLACE :</div>
                            <div class="pull-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                    </div>
                    <h5 class="text-right text-black">For eSthenos Services Ltd</h5>
                    <h5 class="text-right semi-bold text-black">Authorized Signatory</h5>
                    <h5 class="text-right semi-bold text-black">[REGIONAL MANAGER]</h5>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
