{% extends "base.html" %}


{% block maincontents %}
    <div class="row">
        <div class="col-md-12 form-group">
            <h3>CGT2 <span class="semi-bold">Applications</span></h3>
        </div>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.cgt2_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupId" value="{{ groupId }}" placeholder="Search By Group Id">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <form method="get" action="{{ url_for("organisation_views.cgt2_list") }}">
            <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="groupName" value="{{ groupName }}" placeholder="Search By Group Name">
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-info btn-medium" type="submit" value="search">search</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">Questions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="{{ url_for("organisation_views.cgt2_group_list", group_id=group.group_id) }}"><ins>{{ group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="{{ url_for("organisation_views.application_list_group", group_id=group.group_id) }}"><ins>{{ group.group_name }}</ins></a>
                                        </td>
                                        <td><a class="btn btn-small btn-primary" href="{{ url_for("organisation_views.cgt2_questions", group_id=group.group_id) }}">Questions</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <h3>CGT2 <span class="semi-bold">Applications Results</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-body no-border">
                            <table class="table no-more-tables ">
                                <thead>
                                <tr>
                                    <th style="width:1%" >#</th>
                                    <th style="width:25%">Group ID</th>
                                    <th style="width:25%">Group Name</th>
                                    <th style="width:25%">CGT2 Rating</th>
                                    <th style="width:10%" class="text-center">Fail</th>
                                    <th style="width:10%" class="text-center">Pass</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cgt2_session in cgt2_sessions %}
                                    <tr>
                                        <td class="v-align-middle">{{ loop.index }}</td>
                                        <td class="v-align-middle">
                                          <a href="{{ url_for("organisation_views.cgt2_group_list", group_id=cgt2_session.group.group_id) }}"><ins>{{ cgt2_session.group.group_id }}</ins></a>
                                        </td>
                                        <td class="v-align-middle">
                                          <a href="{{ url_for("organisation_views.application_list_group", group_id=cgt2_session.group.group_id) }}"><ins>{{ cgt2_session.group.group_name }}</ins></a>
                                        </td>
                                        <td>{{'%0.2f' %  cgt2_session.score|float}}/5</td>
                                        <td>
                                            <button class="btn btn-small btn-small btn-danger btn-cons group-fail" data-id="{{ cgt2_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-times"></span></button>
                                        </td>
                                        <td >
                                            <button class="btn btn-small btn-small btn-primary btn-cons group-pass" data-id="{{ cgt2_session.group.group_id }}" type="button"><span aria-hidden="true" class="fa fa-check"></span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".group-fail").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"false"}'
                $.ajax({
                    url: '{{ url_for("organisation_views.cgt2_group_status") }}',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
            $(".group-pass").click(function(e){
                e.preventDefault();
                data = '{"group_id":"'+$(this).attr("data-id")+'","status":"true"}'
                $.ajax({
                    url: '{{ url_for("organisation_views.cgt2_group_status") }}',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    contentType: "application/json",
                    success: function(response) {
                        Messenger().post("Application status changed for group id"+$(this).attr("data-id"));
                    }
                });
            });
        });
    </script>
{% endblock %}